<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { clickOutside } from 'svelte-use-click-outside';
	import { transitionScaleBlur, transitionSlide } from '../../lib/Transitions/transitionOverride';

	const eventDispatcher = createEventDispatcher();

	// Mandatory
	export let dropdown_element: HTMLDivElement;

	// For expanded panel profile
	export let profile_on_scroll: boolean = false;
	export let profile_header: boolean = false;
	export let transition: {
		fn?: 'scale' | 'slide';
		origin?: string;
	};

	function selectTransition(node: Element) {
		switch (transition.fn) {
			case 'scale':
				return transitionScaleBlur(node, {
					duration: 150,
					amount: 40,
					origin: transition.origin,
				});
			case 'slide':
				return transitionSlide(node, { duration: 150 });
		}

		return {};
	}
</script>

<div
	use:clickOutside={() => eventDispatcher('clickOutside')}
	class="dropdown"
	class:profile-on-scroll={profile_on_scroll}
	class:profile-header={profile_header}
	bind:this={dropdown_element}
	transition:selectTransition
>
	<slot />
</div>

<style lang="scss">
	:global(.theme-mastodon) {
		.dropdown {
			:global(hr) {
				border-color: #9d9d9d;
			}
		}
	}

	:global(.theme-light) {
		.dropdown {
			:global(hr) {
				border-color: #dcdcdc;
			}

			:global(button) {
				&:hover {
					background-color: #e5e5e5;
				}
			}
		}
	}

	.dropdown {
		z-index: 5;
		position: absolute;
		display: flex;
		flex-direction: column;
		background-color: rgb(var(--lighter));
		border-radius: 10px;
		right: 10px;

		&.profile-on-scroll {
			right: 30px;
			top: 50px;
		}

		&.profile-header {
			right: auto;
			left: 10px;
		}

		:global(a) {
			all: unset;
		}

		:global(hr) {
			border-color: #5f5f5f;
		}

		:global(p) {
			position: relative;
			padding: 7.5px 10px;
			background-color: rgb(var(--lighter));
			white-space: nowrap;
			text-align: center;

			&:first-child,
			&:first-child::before {
				border-radius: 10px 10px 0px 0px;
			}
		}

		:global(div),
		:global(button) {
			z-index: 0;
			position: relative;
			padding: 7.5px 10px;
			background-color: rgb(var(--lighter));
			white-space: nowrap;

			&:hover {
				background-color: #484e60;
			}

			&:first-child,
			&:first-child::before {
				border-radius: 10px 10px 0px 0px;
			}

			&:last-child,
			&:last-child::before {
				border-radius: 0px 0px 10px 10px;
			}
		}
	}
</style>
