<script lang="ts">
	import Img from '../Global/Img.svelte';
	import Container from './Container.svelte';

	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../stores/Options';
	import {
		stAccounts,
		type TootDeckAccount,
		stRefreshAccount,
	} from '../../stores/Account/Accounts';

	import { remoteFetchAccount } from '../../lib/ComponentFunctions/remoteFetch';

	import type { ParsedAccount } from '../../types/contentParsed';
	import type { ProfileProps } from '../../types/profile';

	export let current_account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let props: ProfileProps;

	const { account: override_current_account, status_account: override_status_account } = props;

	let dropdown_element: HTMLDivElement;
	$: if (dropdown_element) {
		dropdown_element.style.top = '45px';
		dropdown_element.style.left = '7.5px';
	}

	async function fetchAccount(account: TootDeckAccount) {
		$override_current_account = account;
		$override_status_account = () => remoteFetchAccount(account, status_account);
	}
</script>

<Container
	bind:dropdown_element
	profile_on_scroll={false}
	profile_header={false}
	transition={{
		fn: 'slide',
	}}
	on:clickOutside
>
	<p>See as</p>
	<hr />
	{#each $stAccounts as [id, account] (id)}
		{#if !Object.is(current_account, account)}
			<button on:click={() => fetchAccount(account)}>
				<Img
					src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
						? account.entity.avatar
						: account.entity.avatar_static}
					alt={account.entity.username + ' profile picture'}
					width={'30px'}
					height={'30px'}
				/>
				<span>
					{account.mirrorAPI.handle_string}
				</span>
			</button>
		{/if}
	{/each}
</Container>

<style lang="scss">
	p {
		user-select: none;
	}

	button {
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
		gap: 7.5px;

		:global(img) {
			border-radius: 100%;
		}
	}
</style>
