<script lang="ts">
	import Dygraphs from './Dygraphs.svelte';

	import { rdOptionsAppearanceTheme } from '../../../stores/Options';

	import { TootDeckAPI } from '../../../lib/APIs/TootDeckAPI/TootDeckAPI';
	import { ThemeAvailable } from '../../../lib/ComponentFunctions/options/theme';

	import type { Dashboard } from '../../../types/dashboard';

	export let now: Date;

	let date_update: number = 0;
	$: {
		now;
		updateData(++date_update);
	}

	function updateData(update: number) {
		if (update !== 60) {
			return;
		}

		date_update = 0;

		TootDeckAPI.Dashboard.charts(1).then((r) => {
			if (!r) {
				return;
			}

			charts_data.push(r[0]);
			labels.push(new Date(r[0].created_at));

			charts_data.splice(0, 1);
			labels.splice(0, 1);

			generateAll();
		});
	}

	let charts_data: Array<Dashboard.ChartsData> = [];
	let labels: Array<Date> = [];

	function generateLabels() {
		labels = charts_data.map((stats) => new Date(stats.created_at));
	}

	function generateSummary() {
		const jobs_processed = absolute
			? charts_data.map((stats) => stats.jobs_processed)
			: charts_data.map((stats, index, array) =>
					index - 1 > 1 ? stats.jobs_processed - array[index - 1].jobs_processed : 0
				);
		const jobs_failed = absolute
			? charts_data.map((stats) => stats.jobs_failed)
			: charts_data.map((stats, index, array) =>
					index - 1 > 1 ? stats.jobs_failed - array[index - 1].jobs_failed : 0
				);
		const requests_made = absolute
			? charts_data.map((stats) => stats.requests_made)
			: charts_data.map((stats, index, array) =>
					index - 1 > 1 ? stats.requests_made - array[index - 1].requests_made : 0
				);

		summary = {
			labels,
			data: [jobs_processed, requests_made, jobs_failed],
		};
	}

	function generateMemory() {
		const worker_memory_max = charts_data.map((stats) =>
			Math.round(stats.worker_memory_max / 1024 / 1024)
		);

		memory = {
			labels,
			data: [worker_memory_max],
		};
	}

	function generateQueue() {
		const worker_queue_max_bar = charts_data.map((stats) => stats.worker_queue_max);

		queue = {
			labels,
			data: [worker_queue_max_bar],
		};
	}

	function generateTimes() {
		const worker_job_time_min_bar = charts_data.map((stats) => stats.worker_job_time_min);
		const worker_job_time_max_bar = charts_data.map((stats) => stats.worker_job_time_max);
		const worker_job_time_average_bar = charts_data.map(
			(stats) => stats.worker_job_time_average
		);

		times = {
			labels,
			data: [worker_job_time_max_bar, worker_job_time_average_bar, worker_job_time_min_bar],
		};
	}

	function generateCache() {
		const cache_size_max = charts_data.map((stats) => stats.cache_size_max);
		const cache_size_dead = charts_data.map((stats) => stats.cache_size_dead);

		cache = {
			labels,
			data: [cache_size_max, cache_size_dead],
		};
	}

	interface Dataset {
		labels: Array<Date>;
		data: Array<Array<number>>;
	}

	let summary: Dataset | null = null;
	let memory: Dataset | null = null;
	let queue: Dataset | null = null;
	let times: Dataset | null = null;
	let cache: Dataset | null = null;

	let absolute: boolean = true;

	$: {
		absolute;
		generateSummary();
	}

	//  1min between records =>  60 x 24       => 1440 records a day
	const LAST_15MIN = 15;
	const LAST_1H = 60;
	const LAST_2H = 60 * 2;
	const LAST_4H = 60 * 4;
	const LAST_8H = 60 * 8;
	const LAST_12H = 60 * 12;
	const LAST_24H = 60 * 24;
	//  2min between records =>  (60 x 24) / 5 =>  288 records/days
	const MERGED_DAILY = Math.floor(LAST_24H / 5);
	const LAST_2D = LAST_24H + MERGED_DAILY;
	const LAST_4D = LAST_24H + MERGED_DAILY * 2;
	//    1h between records =>   1 x 24       =>   24 records/days
	const MERGED_WEEKLY = LAST_24H + MERGED_DAILY * 6;
	const LAST_7D = MERGED_WEEKLY + 24;
	const LAST_14D = MERGED_WEEKLY + 24 * 14;
	const LAST_30D = MERGED_WEEKLY + 24 * 30;
	const ALL = 1000000000;

	let last = LAST_1H;

	// import { format } from 'date-fns';

	// function between(value: number, a: number, b: number) {
	// 	const min = Math.min(a, b) - 100;
	// 	const max = Math.max(a, b) + 100;

	// 	return value >= min && value <= max;
	// }

	// function fillGap(dataset: Dataset | null) {
	// 	if (!dataset) {
	// 		return null;
	// 	}

	// 	let error_1 = false;
	// 	let error_2 = false;
	// 	for (let i = 0; i < dataset.labels.length; i++) {
	// 		if (i === 0 || i === dataset.labels.length - 1) {
	// 			continue;
	// 		}

	// 		const current = Math.floor(dataset.labels[i].valueOf() / 1000);
	// 		const next = Math.floor(dataset.labels[i + 1].valueOf() / 1000);
	// 		if (i < LAST_24H && (current - next) % 60 === 0) {
	// 			if (!error_1) {
	// 				error_1 = true;
	// 				continue;
	// 			}
	// 			console.log('ERROR 1', i, current - next);
	// 			break;
	// 		}

	// 		console.log('ERROR==', current - next);
	// 		if (i < LAST_7D && current - next !== 60) {
	// 			if (!error_2) {
	// 				error_2 = true;
	// 				continue;
	// 			}
	// 			console.log('ERROR 2', current - next);
	// 			break;
	// 		}
	// 	}

	// 	const fill_date = new Array<Date>(last).fill(undefined as any);

	// 	fill_date.forEach((x, i, array) => {
	// 		if (i === 0) {
	// 			array[i] = dataset.labels[0];
	// 			return;
	// 		}

	// 		const previous = array[i - 1].valueOf();
	// 		if (i < LAST_24H) {
	// 			//  1min between records =>  60 x 24       => 1440 records a day
	// 			array[i] = new Date(previous - 60 * 1000);
	// 			return;
	// 		}
	// 		if (i < LAST_7D) {
	// 			//  2min between records =>  (60 / 2) x 24 =>  720 records/days
	// 			array[i] = new Date(previous - 60 * 2 * 1000);
	// 			return;
	// 		}

	// 		//    1h between records =>   1 x 24       =>   24 records/days
	// 		array[i] = new Date(previous - 60 * 60 * 1000);
	// 	});

	// 	const new_dataset: Dataset = {
	// 		data: new Array<Array<number>>(dataset.data.length)
	// 			.fill(undefined as any)
	// 			.map((x) => []),
	// 		labels: [],
	// 	};

	// 	new_dataset.data.forEach((x, i, a) => (a[i] = []));

	// 	let y = 0;
	// 	for (let i = 0; i < fill_date.length; i++) {
	// 		if (!fill_date[i + 1]) {
	// 			for (let z = 0; z < dataset.data.length; z++) {
	// 				new_dataset.data[z].push(0);
	// 			}
	// 			new_dataset.labels.push(fill_date[i]);
	// 			break;
	// 		}

	// 		const next = fill_date[i].valueOf();
	// 		const prev = fill_date[i + 1].valueOf();
	// 		const tested = dataset.labels[y].valueOf();
	// 		if (between(tested, prev, next)) {
	// 			// console.log('OK');
	// 			for (let z = 0; z < dataset.data.length; z++) {
	// 				new_dataset.data[z].push(dataset.data[z][y]);
	// 			}
	// 			new_dataset.labels.push(dataset.labels[i]);
	// 			y++;
	// 		} else {
	// 			// console.log('FILLED', format(dataset.labels[y], 'hh:mm a · dd MMM yyyy'));
	// 			for (let z = 0; z < dataset.data.length; z++) {
	// 				new_dataset.data[z].push(0);
	// 			}
	// 			new_dataset.labels.push(fill_date[i]);
	// 		}
	// 	}

	// 	new_dataset.data.forEach((a) => a.reverse());
	// 	new_dataset.labels.reverse();

	// 	return new_dataset;
	// }

	function generateAll() {
		generateLabels();
		generateSummary();
		generateMemory();
		generateQueue();
		generateTimes();
		generateCache();
		// summary = fillGap(summary);
		// memory = fillGap(memory);
		// fillGap(queue)
		// fillGap(times)
		// fillGap(cache)
	}

	function generateData(r: Array<Dashboard.ChartsData> | null) {
		if (!r) {
			return;
		}

		const rev = structuredClone(r).reverse();

		charts_data = rev;
		labels = rev.map((stats) => new Date(stats.created_at));

		generateAll();
	}

	$: TootDeckAPI.Dashboard.charts(last).then(generateData);

	function changeRange(e: Event) {
		const target = e.target as HTMLSelectElement;
		if (!target) {
			return;
		}

		last = +target.value;
	}
</script>

<div class="title">
	<h1>Charts</h1>
	<div style="margin-top: 30px;">
		<select value={LAST_1H} on:change={changeRange}>
			<option value={LAST_15MIN}>15min</option>
			<option value={LAST_1H}>1h</option>
			<option value={LAST_2H}>2h</option>
			<option value={LAST_4H}>4h</option>
			<option value={LAST_8H}>8h</option>
			<option value={LAST_12H}>12h</option>
			<option value={LAST_24H}>24h</option>
			<option value={LAST_2D}>2d</option>
			<option value={LAST_4D}>4d</option>
			<option value={LAST_7D}>7d</option>
			<option value={LAST_14D}>14d</option>
			<option value={LAST_30D}>30d</option>
			<option value={ALL}>All</option>
		</select>
	</div>
</div>
<div class="charts">
	{#if summary}
		<Dygraphs
			title="Summary"
			colors={$rdOptionsAppearanceTheme === ThemeAvailable.Light
				? ['#000', '#00F', '#F00']
				: ['#FFF', '#00F', '#F00']}
			style={absolute ? 'line' : 'bar'}
			dataset={{
				data: {
					values: summary.data,
					labels: summary.labels,
				},
				labels: ['Processed', 'Requests made', 'Failed'],
			}}
			on:click={() => (absolute = !absolute)}
		></Dygraphs>
	{/if}
	{#if memory}
		<Dygraphs
			title="Maximum worker memory usage"
			colors={['#F0F']}
			style="line"
			dataset={{
				data: {
					values: memory.data,
					labels: memory.labels,
				},
				labels: ['memory'],
			}}
		></Dygraphs>
	{/if}
	{#if queue}
		<Dygraphs
			title="Maximum enqueued jobs"
			colors={['#FF0']}
			style="bar"
			dataset={{
				data: {
					values: queue.data,
					labels: queue.labels,
				},
				labels: [
					'Max queue size',
					// 'Mobile'
				],
			}}
		></Dygraphs>
	{/if}
	{#if times}
		<Dygraphs
			title="Time per job"
			colors={['#F00', '#FFF', '#0FF']}
			style="bar"
			dataset={{
				data: {
					values: times.data,
					labels: times.labels,
				},
				labels: [
					'Maximum',
					'Average',
					'Minimum',
					// 'Mobile Minimum',
					// 'Mobile Maximum',
					// 'Mobile Average',
				],
			}}
		></Dygraphs>
	{/if}
	{#if cache}
		<Dygraphs
			title="Cached interactions"
			colors={['#F0F', '#F00']}
			style="line"
			dataset={{
				data: {
					values: cache.data,
					labels: cache.labels,
				},
				labels: ['interactions', 'unable to fetch'],
			}}
		></Dygraphs>
	{/if}
</div>

<style lang="scss">
	.charts {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		gap: 20px;
		margin: 20px 0px 40px;
	}

	select {
		padding: 5px 10px;
		border-radius: 5px;
		background-color: rgb(var(--lighter));
		color: rgb(var(--text));
	}
</style>
