<script lang="ts">
	import Dygraph from 'dygraphs';

	import { onMount } from 'svelte';
	import { addThousandSeparator } from '../../../lib/Utils/number/addThousandSeparator';
	import { compactBigNumber } from '../../../lib/Utils/number/compactBigNumber';

	export let title: string;
	export let colors: Array<string>;
	export let style: 'line' | 'bar';
	export let dataset: {
		data: { values: Array<any>; labels: Array<Date> };
		labels: Array<string>;
	};

	function convert(data: { values: Array<any>; labels: Array<Date> }) {
		if (data.values.length !== dataset.labels.length) {
			throw new Error(
				`Invalid dataset: data length (${data.values.length}) and lablels length (${dataset.labels.length}) mismatch`
			);
		}

		data.values
			.map((x) => x.length)
			.forEach((current, i, array) => {
				if (current.length !== array[i]?.length) {
					throw new Error(`Invalid dataset: data length mismatch ${array}`);
				}
			});

		const converted = [];

		for (let i = 0; i < data.labels.length; i++) {
			const chunk = [];
			for (let y = 0; y < data.values.length; y++) {
				const value = data.values[y][i];
				chunk.push(value);
			}

			converted.push([data.labels[i], ...chunk]);
		}

		return converted;
	}

	let values: Array<any>;
	$: {
		values = convert(dataset.data);
		if (g) {
			// console.log(title, ['Date', ...dataset.labels], values);
			g.updateOptions({
				file: values,
				colors,
				labels: ['Date', ...dataset.labels],
				plotter:
					style === 'line'
						? [
								Dygraph.Plotters.fillPlotter,
								Dygraph.Plotters.errorPlotter,
								Dygraph.Plotters.linePlotter,
							]
						: barChartPlotter,
			});
		}
	}

	let div: HTMLDivElement;
	let g: Dygraph;

	// This function draws bars for a single series. See
	// multiColumnBarPlotter below for a plotter which can draw multi-series
	// bar charts.
	function barChartPlotter(e: any) {
		var ctx = e.drawingContext;
		var points = e.points;
		var y_bottom = e.dygraph.toDomYCoord(0);

		ctx.fillStyle = e.color;

		// Find the minimum separation between x-values.
		// This determines the bar width.
		var min_sep = Infinity;
		for (var i = 1; i < points.length; i++) {
			var sep = points[i].canvasx - points[i - 1].canvasx;
			if (sep < min_sep) min_sep = sep;
		}
		var bar_width = Math.floor((2.0 / 3) * min_sep);

		// Do the actual plotting.
		for (var i = 0; i < points.length; i++) {
			var p = points[i];
			var center_x = p.canvasx;

			ctx.fillRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);

			ctx.strokeRect(center_x - bar_width / 2, p.canvasy, bar_width, y_bottom - p.canvasy);
		}
	}

	onMount(() => {
		g = new Dygraph(div, [], {
			title: '',
			rollPeriod: 0,
			fillGraph: true,
			strokeBorderWidth: 0,
			maxNumberWidth: Infinity,
			axisLabelWidth: 40,
			axes: {
				y: {
					axisLabelFormatter(v) {
						return compactBigNumber(Math.floor(Number(v)), { fractionDigits: 0 });
					},
				},
			},
			legendFormatter: (data) => {
				let html = data.xHTML;
				data.series.forEach((series) => {
					if (!series.isVisible) {
						return;
					}

					let labeledData = `
						<div>
							<b style="color: ${series.color};">${series.labelHTML}</b>:
							${addThousandSeparator(Number(series.yHTML))}
						</div>
					`;
					html += series.dashHTML + ' ' + labeledData;
				});
				return `<div class="dygraph-legend-custom">${html}</div>`;
			},
		});
	});

	function unzoomGraph() {
		g.updateOptions({
			dateWindow: null,
			valueRange: null,
		});
	}

	let legend_left: boolean = false;
</script>

<div class="chart">
	<header>
		<div class="title">{title}</div>
		<div>
			{#if title === 'Summary'}
				<button on:click>
					{style === 'line' ? 'Absolute' : 'Relative'}
				</button>
			{/if}
			<button class="unzoom" on:click={() => unzoomGraph()}>Unzoom</button>
		</div>
	</header>
	<div
		class="dygraphs"
		class:legend_left
		style:width="calc(100% - 5px)"
		bind:this={div}
		on:mousemove|passive={(e) => (legend_left = div.offsetWidth / 2 < e.offsetX)}
	></div>
</div>

<style lang="scss">
	.chart {
		width: 100%;
		padding: 5px;
		position: relative;
		border-radius: 5px;
		background-color: rgb(var(--composer));
		border: 1px solid rgb(var(--thread-line-color));
		overflow: hidden;

		button {
			padding: 10px;
			border-radius: 5px;
			background-color: rgb(var(--lighter));
			color: rgb(var(--text));

			&:hover {
				background-color: rgb(var(--light));
			}
		}

		header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0px 5px 10px 5px;

			.unzoom {
				top: 5px;
				right: 5px;
			}

			.title {
				font-size: 25px;
				font-weight: bold;
			}
		}

		.legend_left {
			:global(.dygraph-legend) {
				align-items: flex-start;
				padding: 10px 5px 5px 65px;
			}
		}

		:global(.dygraph-legend) {
			z-index: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		:global(.dygraph-legend-custom) {
			position: relative;
			padding: 10px;

			&::after {
				content: '';
				z-index: -1;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #000;
				opacity: 0.3;
			}
		}
	}
</style>
