<script lang="ts">
	import Handler from './Handler.svelte';

	import { TootDeckAPI } from '../../../lib/APIs/TootDeckAPI/TootDeckAPI';

	import { Dashboard } from '../../../types/dashboard';

	export let state: Dashboard.State;

	let search_value: string = '';

	const cache: { [key: string]: Array<Dashboard.Redis.Data<any>> } = {
		RedisInteractions: [],
		RedisInstances: [],
		RedisExcludedDomains: [],
		RedisTwitterEmbed: [],
	};

	let clean_str = 'Autoremove';

	async function cleanInteraction() {
		return TootDeckAPI.Dashboard.Redis.cleanInteraction().then((r) => {
			if (r === null) {
				clean_str = 'Error happened';
			} else if (r === 0) {
				clean_str = 'Nothing removed';
			} else {
				clean_str = `Removed ${r} interactions`;
			}
			setTimeout(() => (clean_str = 'Autoremove'), 3000);
		});
	}
</script>

{#if state === Dashboard.State.RedisInteractions}
	<Handler
		bind:cache={cache.RedisInteractions}
		name="Interactions"
		first_column="Expires at"
		bind:search_value
		{state}
		ttl={true}
		fetcher={TootDeckAPI.Dashboard.Redis.getInteractions}
		deleter={TootDeckAPI.Dashboard.Redis.delInteraction}
	></Handler>
	<center style="transform: translateY(-50%);">
		<button on:click={() => cleanInteraction()}>{clean_str}</button>
	</center>
{:else if state === Dashboard.State.RedisInstances}
	<Handler
		bind:cache={cache.RedisInstances}
		name="Instances"
		first_column="Type"
		bind:search_value
		{state}
		ttl={false}
		fetcher={TootDeckAPI.Dashboard.Redis.getInstances}
		deleter={TootDeckAPI.Dashboard.Redis.delInstance}
	></Handler>
{:else if state === Dashboard.State.RedisExcludedDomains}
	<Handler
		bind:cache={cache.RedisExcludedDomains}
		name="Excluded Domains"
		first_column="Expires at"
		bind:search_value
		{state}
		ttl={false}
		fetcher={TootDeckAPI.Dashboard.Redis.getExcludedDomains}
		deleter={TootDeckAPI.Dashboard.Redis.delExcludedDomain}
	></Handler>
{:else if state === Dashboard.State.RedisTwitterEmbed}
	<Handler
		bind:cache={cache.RedisTwitterEmbed}
		name="Twitter Embed"
		first_column="State"
		bind:search_value
		{state}
		ttl={false}
		fetcher={TootDeckAPI.Dashboard.Redis.getTwitterEmbed}
		deleter={TootDeckAPI.Dashboard.Redis.delTwitterEmbed}
	></Handler>
{/if}

<style lang="scss">
	button {
		margin-top: 10px;
		transform: translateY(20%);
		background-color: rgb(var(--background));
		border: 1px solid rgb(var(--accent));
		padding: 5px 10px;
		border-radius: 5px;
	}
</style>
