<script lang="ts">
	// @ts-nocheck

	import RedisList from './RedisList.svelte';
	import InteractionItem from './Item/InteractionItem.svelte';
	import InstanceItem from './Item/InstanceItem.svelte';
	import TwitterItem from './Item/TwitterItem.svelte';

	import { Dashboard } from '../../../types/dashboard';

	export let name: string;
	export let first_column: string;
	export let state: Dashboard.State;
	export let search_value: string;
	export let ttl: boolean;
	export let fetcher: () => Promise<any>;
	export let deleter: (d: Array<string>) => Promise<boolean>;
	export let cache: Array<any & { selected: boolean }>;

	let toggle_del: boolean = false;
	let to_del: Array<string> = [];

	let force_expand: boolean = false;

	$: {
		toggle_del;
		resetSelection();
	}

	function resetSelection() {
		if (!toggle_del) {
			cache?.forEach((a) => (a.selected = false));
			cache = cache;
			to_del = [];
		}
	}

	async function get() {
		return fetcher().then((r) =>
			ttl
				? (r?.sort((a: { ttl: number }, b: { ttl: number }) => a.ttl - b.ttl) ?? r)
				: (r?.sort((a: { key: string }, b: { key: string }) =>
						a.key.localeCompare(b.key)
					) ?? r)
		);
	}

	async function del(d: Array<string> = to_del) {
		const response = await deleter(d);
		if (!response) {
			return;
		}

		toggle_del = false;
		cache = cache.filter((x) => !d.includes(x.key));
	}
</script>

<RedisList
	{name}
	{first_column}
	{toggle_del}
	bind:data={cache}
	bind:search_value
	fetcher={() => get()}
	bind:force_expand
	let:data
	on:toggleDel={() => (toggle_del = !toggle_del)}
	on:confirmDel={() => del()}
	on:delFiltered={(e) => del(e.detail)}
>
	{#if state === Dashboard.State.RedisInteractions}
		<InteractionItem
			{data}
			{toggle_del}
			show={force_expand}
			on:click={() => to_del.push(data.key)}
		/>
	{:else if state === Dashboard.State.RedisTwitterEmbed}
		<TwitterItem
			{data}
			{toggle_del}
			show={force_expand}
			on:click={() => to_del.push(data.key)}
		/>
	{:else if state === Dashboard.State.RedisInstances || state === Dashboard.State.RedisExcludedDomains}
		<InstanceItem
			{data}
			{toggle_del}
			show={force_expand}
			on:click={() => to_del.push(data.key)}
		/>
	{/if}
</RedisList>
