<script lang="ts">
	import { onDestroy } from 'svelte';

	export let ttl: number;
	export let fetched_at: Date;

	let diff = Math.floor((new Date().valueOf() - fetched_at.valueOf()) / 1000);
	let remaining = ttl - diff;

	const interval = setInterval(() => {
		remaining -= 1;
		if (remaining <= 0) {
			clearInterval(interval);
		}
	}, 1000);

	onDestroy(() => {
		clearInterval(interval);
	});
</script>

{#if ttl === -1 || remaining <= 0}
	<div></div>
{:else}
	<div>{remaining}</div>
{/if}

<style lang="scss">
	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
