<script lang="ts">
	export let object: Object;
	export let sub: boolean = false;

	const entries = Object.entries(object);

	const isArray = Array.isArray(object);
</script>

<div class="json">
	{#if isArray}
		{'['}
	{:else}
		{'{'}
	{/if}
	{#each entries.map((entry, id) => ({ id, entry })) as { id, entry } (id)}
		<div class="flex">
			<p>
				<span class="key">{entry[0]}</span>:
			</p>
			{#if entry[1] && typeof entry[1] === 'object'}
				<svelte:self object={entry[1]} sub={true} />
			{:else}
				<p>
					<span
						class="value"
						class:number={typeof entry[1] === 'number'}
						class:boolean={typeof entry[1] === 'boolean'}
						class:false={typeof entry[1] === 'boolean' && !entry[1]}
						class:null={!!!entry[1]}>{entry[1]}</span
					>,
				</p>
			{/if}
		</div>
	{/each}
	{#if isArray}
		{sub ? '],' : ']'}
	{:else}
		{sub ? '},' : '}'}
	{/if}
</div>

<style lang="scss">
	.json {
		display: inline-block;

		.flex {
			display: flex;
			flex-direction: row;
			gap: 1ch;
			margin-left: 1.5em;
		}

		.key {
			color: rgb(var(--reblog-color));
		}

		.value {
			color: rgb(var(--favourite-color));
			user-select: all;
			word-break: break-all;
		}

		.boolean {
			color: rgb(var(--reblog-color));

			&.false {
				color: rgb(var(--red));
			}
		}

		.null {
			color: rgb(var(--text));
		}

		.number {
			color: rgb(var(--accent));
		}
	}
</style>
