<script lang="ts">
	import Img from '../../Global/Img.svelte';

	import type { EmojiReaction } from '../../../types/contentParsed';

	export let reaction: EmojiReaction;
</script>

<div class="reaction">
	<button on:click>
		{#if reaction.url}
			<Img src={reaction.url} alt={reaction.name} class="emoji emoji-custom" />
		{:else}
			<p>{reaction.name}</p>
		{/if}
		<p>{reaction.count}</p>
	</button>
</div>

<style lang="scss">
	.reaction {
		display: flex;
		flex-direction: column;

		button {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5ch;
		}
	}
</style>
