<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import IntersectionObserver from 'svelte-intersection-observer';
	import { format } from 'date-fns';

	import Interval from '../Interval.svelte';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	import { Dashboard } from '../../../../types/dashboard';

	const eventDispatcher = createEventDispatcher();

	export let data: Dashboard.Redis.Data<any>;
	export let toggle_del: boolean;
	export let show: boolean = false;

	let element: HTMLDivElement;
	let intersecting: boolean;

	if (data.ttl) {
		setTimeout(() => (data.expired = true), data.ttl * 1000);
	}

	function toggle() {
		if (toggle_del) {
			data.selected = !data.selected;
			eventDispatcher('click');
			return;
		}

		show = !show;
	}

	function getColor(value: any) {
		if (value.state === Dashboard.Redis.State.Dead) {
			return 'rgb(var(--red))';
		}

		switch (value.value) {
			case 'mastodon':
				return '#6364ff';
			case 'pleroma':
				return '#FFF';
			case 'misskey':
				return '#A0D90A';
		}
	}
</script>

<IntersectionObserver {element} bind:intersecting>
	<div class="data" class:selected={data.selected} bind:this={element}>
		{#if intersecting}
			<button class="header" class:expired={data.expired} on:click={() => toggle()}>
				<p style:color={getColor(data.value)}>
					{#if data.ttl}
						{#if data.ttl === -1}
							No expiry
						{:else}
							{format(
								new Date(new Date().valueOf() + data.ttl * 1000),
								'MMM dd yyyy - HH:mm'
							)}
						{/if}
					{:else}
						{data.value.state === Dashboard.Redis.State.Dead
							? 'DEAD'
							: data.value.value}
					{/if}
				</p>
				<p>{data.key}</p>
			</button>
			{#if show && (data.value.state === Dashboard.Redis.State.Dead || data.value.state === Dashboard.Redis.State.Retry)}
				<div class="collapse" transition:transitionSlide={{ duration: 200 }}>
					{#if data.ttl}
						<Interval ttl={data.ttl} fetched_at={data.fetched_at}></Interval>
					{:else}
						<div></div>
					{/if}
					<div>
						<p style:color="rgb(var(--favourite-color))">{data.value.value}</p>
					</div>
				</div>
			{/if}
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.data {
		min-height: 43px;
		display: flex;
		flex-direction: column;

		&:nth-child(even) {
			background-color: rgb(var(--composer));
		}

		&:nth-child(odd) {
			background-color: rgb(var(--background));
		}

		&.selected {
			filter: invert(100%);
		}

		.header {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			padding: 10px 0px;

			p:first-child {
				text-align: center;
			}

			p:last-child {
				user-select: all;
			}

			&.expired {
				color: rgb(var(--red));
			}

			button {
				display: grid;
				justify-items: center;
				align-items: center;
				color: rgb(var(--red));
				margin-right: 15px;
				border-radius: 5px;

				&:hover {
					color: rgb(var(--text));
					border: 1px solid rgb(var(--red));
				}
			}
		}

		.collapse {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			margin-bottom: 10px;

			p {
				white-space: pre-wrap;
			}
		}
	}
</style>
