<script lang="ts">
	import NoGroup from './NoGroup.svelte';
	import Group from './Group.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';

	import type { ParsedAccount, ParsedNotification } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let notification: ParsedNotification;
	export let text: string;
	export let show_profile_picture: boolean;

	function showProfile(notification_account: ParsedAccount) {
		ExpandedPanel.update({
			state: ExpandedPanelState.Profile,
			account,
			status_account: notification_account,
		});
	}
</script>

{#if notification.accounts.length === 1}
	<NoGroup {account} {notification} {text} {show_profile_picture} {showProfile}></NoGroup>
{:else}
	<Group {account} {notification} {text} {showProfile}></Group>
{/if}
