<script lang="ts">
	import Time from '../Time.svelte';
	import ContentRenderer from '../../ContentRenderer/ContentRenderer.svelte';
	import ProfilePicture from '../../Status/Header/ProfilePicture.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import { stDebugLeaks } from '../../../stores/Options';

	import { getUserDisplayName } from '../../../lib/ComponentFunctions/getUserDisplayName';

	import type { ParsedAccount, ParsedNotification } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let notification: ParsedNotification;
	export let text: string;
	export let showProfile: (account: ParsedAccount) => void;

	let accounts: Array<ParsedAccount>;
	let len: number;
	$: {
		accounts = notification.accounts.slice(0, 7);
		len = notification.accounts.length - 1;
	}

	function openAccountList() {
		GlobalWindow.create({
			state: GlobalWindowState.AccountsList,
			special: false,
			account,
			accounts: notification.accounts,
			title: `${notification.accounts.length} accounts have ${text.toLowerCase()}`,
		});
	}
</script>

<div class="grouped-notification">
	<div class="profiles">
		{#each accounts as acc}
			<button class="profile" on:click={() => showProfile(acc)}>
				<ProfilePicture
					{account}
					status_account={acc}
					width="25px"
					height="25px"
					mutual_size="10px"
				/>
			</button>
		{/each}
	</div>
	<div class="text-container">
		<div class="username">
			{#if !$stDebugLeaks}
				<ContentRenderer
					content={getUserDisplayName(notification.accounts[0])}
					emojis={notification.accounts[0].emojis}
				/>
			{:else}
				{notification.accounts[0].tootdeck.uuid}
			{/if}
		</div>
		<button class="text" on:click={() => openAccountList()}>
			and {len}
			{len <= 1 ? 'other' : 'others'}
			{text.toLowerCase()}
		</button>
		<Time {notification} />
	</div>
</div>

<style lang="scss">
	.grouped-notification {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5ch;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		.profiles {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5ch;

			.profile {
				&:hover {
					opacity: 0.7;
				}
			}
		}

		.text-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5ch;

			.username {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.text {
				flex-grow: 1;
				opacity: 0.7;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>
