<script lang="ts">
	import Dropdown from '../Dropdown/Default/Dropdown.svelte';
	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';
	import Img from '../Global/Img.svelte';

	import { ExpandedPanelState } from '../../stores/ExpandedPanel';
	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import { ExpandedPanel } from '../../stores/ExpandedPanel';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../stores/Options';

	import { getUserDisplayName } from '../../lib/ComponentFunctions/getUserDisplayName';

	import type { ParsedNotification } from '../../types/contentParsed';

	export let account: TootDeckAccount;
	export let notification: ParsedNotification;

	const notification_account = notification.accounts[0];

	let dropdown: boolean;
	let dropdown_element: HTMLDivElement;

	$: if (dropdown_element) {
		dropdown_element.style.right = '18.5px';
		dropdown_element.style.marginTop = '75px';
	}

	function openPanel() {
		ExpandedPanel.update({
			state: ExpandedPanelState.Profile,
			account,
			status_account: notification_account,
		});
	}
</script>

<div class="new-follower">
	<div class="wrapper">
		<div class="left-0">
			<div class="left-1">
				<button class="pp" on:click={() => openPanel()}>
					<Img
						src={$rdOptionsAppearanceAnimationAnimateGifAvatar
							? notification_account.avatar
							: notification_account.avatar_static}
						alt={notification_account.username + ' profile picture'}
						width="36px"
						height="36px"
					/>
				</button>
			</div>
			<div class="right-1">
				<button on:click={() => openPanel()}>
					<div class="tn">
						<ContentRenderer
							content={getUserDisplayName(notification_account)}
							emojis={notification_account.emojis}
						/>
					</div>
					<div class="username">
						@{notification_account.acct}
					</div>
				</button>
			</div>
		</div>
		<div class="right-0">
			<button class="fa fa-cog" on:click={() => (dropdown = !dropdown)} />
		</div>
	</div>
</div>
{#if dropdown}
	<Dropdown
		{account}
		status_account={notification_account}
		{notification}
		bind:dropdown_element
		transition={{
			fn: 'scale',
			origin: 'top right',
		}}
		on:clickOutside={() => {
			setTimeout(() => {
				dropdown = false;
			});
		}}
	/>
{/if}

<style lang="scss">
	.new-follower {
		display: flex;
		flex-direction: column;
		padding: 7.5px;
		font-size: var(--font-size);

		.wrapper {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 5px;

			.left-0 {
				display: flex;
				flex-direction: row;
				gap: 5px;
				width: calc(100% - 80px);

				.left-1 {
					.pp {
						width: 36px;
						height: 36px;

						:global(img) {
							border-radius: 100%;
						}
					}
				}

				.right-1 {
					overflow: hidden;

					button {
						width: 100%;
						display: flex;
						flex-direction: column;

						&:hover {
							opacity: 0.7;
						}

						.tn {
							overflow: hidden;
							font-weight: bold;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.username {
							opacity: 0.7;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}
			.right-0 {
				flex-shrink: 0;
				display: grid;
				align-items: center;
				justify-items: center;
				min-width: 60px;

				button {
					width: 35px;
					height: 35px;
					display: grid;
					justify-items: center;
					align-items: center;
					margin: 0px 15px;
					padding: 5px;
					box-sizing: border-box;
					flex-shrink: 0;
					font-size: calc(var(--font-size) + 6px);
				}
			}
		}
	}
</style>
