<script lang="ts">
	import { onDestroy } from 'svelte';

	import Transition from '../Global/Transition.svelte';
	import GroupContainer from './Grouped/Container.svelte';

	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceAnimationColumnContent,
		rdOptionsAppearanceCustomValueReblog,
		rdOptionsBehaviorNotificationHighlightDuration,
		rdOptionsBehaviorNotificationHighlightNew,
		stDebugLeaks,
	} from '../../stores/Options';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';
	import { UUIDToColor } from '../../lib/Utils/UUIDToColor';

	import type { ParsedNotification } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let notification: ParsedNotification;
	export let border: boolean;
	export let performance_mode: boolean = false;

	let icon = 'fa ';
	let text: string = '';

	switch (notification.type) {
		case Entity.NotificationType.Mention:
		case Entity.NotificationType.Status:
			break;
		case Entity.NotificationType.Follow:
			text = 'followed you';
			icon += 'fa-user';
			break;
		case Entity.NotificationType.FollowRequest:
			text = 'requested to follow you';
			icon += 'fa-user';
			break;
		case Entity.NotificationType.ReactionChuckya:
		case Entity.NotificationType.ReactionPleroma:
			text = 'reacted';
			icon += 'fa-smile-o';
			break;
		case Entity.NotificationType.Reblog:
			text = $rdOptionsAppearanceCustomValueReblog.toLowerCase();
			icon += 'fa-retweet';
			break;
		case Entity.NotificationType.Favourite:
			text = 'favourited';
			icon += 'fa-star';
			break;
		case Entity.NotificationType.PollExpired:
			text =
				notification.accounts[0].id === account.entity.id
					? 'Your poll has ended'
					: 'A poll you have voted in has ended';
			icon += 'fa-tasks';
			break;
		case Entity.NotificationType.Update:
			text = 'edited a status';
			icon += 'fa-pencil';
			break;
		case Entity.NotificationType.AdminSignUp:
			text = 'has just sign up';
			icon += 'fa-user-plus';
			break;
		case Entity.NotificationType.AdminReport:
			text = 'has opened a report';
			icon += 'fa-flag';
			break;
	}

	/**
	 * Notification highlight
	 */
	// #region

	let notify_timeout: NodeJS.Timeout;
	let container: HTMLDivElement;

	$: if (container && notification.notify) {
		appendNotify(container);
	}

	function appendNotify(node: Element) {
		if (!$rdOptionsBehaviorNotificationHighlightNew || !notification.notify) {
			return;
		}

		notification.notify = false;

		const div = document.createElement('div');
		div.classList.add('notify');
		div.setAttribute(
			'style',
			`animation-duration: ${$rdOptionsBehaviorNotificationHighlightDuration}s;`
		);
		node.prepend(div);

		notify_timeout = setTimeout(
			() => div.remove(),
			$rdOptionsBehaviorNotificationHighlightDuration * 1000
		);
	}

	onDestroy(() => clearTimeout(notify_timeout));

	// #endregion

	const show_profile_picture = !(
		notification.type === Entity.NotificationType.Follow ||
		notification.type === Entity.NotificationType.FollowRequest ||
		notification.type === Entity.NotificationType.AdminSignUp ||
		notification.type === Entity.NotificationType.AdminReport
	);

	const in_transition =
		!performance_mode && // performance_mode needs to be static here to prevent mass updates when the mode is disabled
		(notification.animateIn || notification.status?.animateIn);
	const out_transition = notification.animateOut || notification.status?.animateOut; // performance_mode needs to be reactive here, to optimize mass content removal
</script>

{#if notification.type === Entity.NotificationType.Mention}
	<slot />
{:else}
	<Transition
		in_transition={$rdOptionsAppearanceAnimationColumnContent && in_transition
			? transitionSlide
			: null}
		out_transition={$rdOptionsAppearanceAnimationColumnContent &&
		!performance_mode &&
		out_transition
			? transitionSlide
			: null}
		args={{ duration: 200 }}
	>
		<div
			class="notification"
			class:border
			class:follow={notification.type === Entity.NotificationType.Follow ||
				notification.type === Entity.NotificationType.FollowRequest ||
				notification.type === Entity.NotificationType.AdminSignUp}
			class:status={notification.type === Entity.NotificationType.Status}
			class:favourite={notification.type === Entity.NotificationType.Favourite}
			class:reblog={notification.type === Entity.NotificationType.Reblog}
			class:reaction={notification.type === Entity.NotificationType.ReactionChuckya ||
				notification.type === Entity.NotificationType.ReactionPleroma}
			class:update={notification.type === Entity.NotificationType.Update}
			class:poll={notification.type === Entity.NotificationType.PollExpired}
			class:report={notification.type === Entity.NotificationType.AdminReport}
			style:background-color={$stDebugLeaks ? UUIDToColor(notification.uuid) : ''}
			bind:this={container}
		>
			<header class:profile-picture={show_profile_picture}>
				<div class="icon {icon}" />
				<GroupContainer {account} {notification} {text} {show_profile_picture}
				></GroupContainer>
			</header>
			{#if $stDebugLeaks}
				{notification.uuid}
			{/if}
			{#if notification.type !== Entity.NotificationType.AdminReport}
				<slot />
			{/if}
		</div>
	</Transition>
{/if}

<style lang="scss">
	@keyframes notification {
		0%,
		70% {
			background-color: rgb(var(--accent));
		}

		100% {
			background-color: inherit;
		}
	}

	.notification {
		position: relative;
		display: flex;
		flex-direction: column;

		&.border:after {
			content: '';
			width: var(--column-width);
			border-bottom: 1px solid rgb(var(--text));
			opacity: 0.2;
		}

		&.status header .icon {
			background-color: rgb(var(--header));
		}

		&.follow header {
			padding-bottom: 5px;

			.icon {
				color: rgb(var(--accent));
			}
		}

		&.report header {
			padding-top: 7.5px;
			padding-bottom: 7.5px;

			.icon {
				color: rgb(var(--red));
			}
		}

		&.favourite header .icon {
			color: rgb(var(--favourite-color));
		}

		&.reblog header .icon {
			color: rgb(var(--reblog-color));
		}

		&.reaction header .icon {
			color: #ffcc4d;
		}

		&.update header .icon {
			color: rgb(var(--accent));
		}

		:global(.notify) {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			animation: notification ease-in-out;
			animation-duration: 3s;
			opacity: 0.35;
		}

		header {
			z-index: 0;
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 5px 10px 0px 20px;
			margin-bottom: -2.5px;
			font-weight: 500;
			font-size: var(--font-size);
			box-sizing: border-box;
			overflow: hidden;

			&.profile-picture {
				gap: 0.5ch;
			}

			.icon {
				width: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: calc(var(--font-size) + 1px);
				margin-top: 1px;
				flex-shrink: 0;
			}
		}
	}
</style>
