<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { errorModal } from '../../../lib/errorModal';
	import { generateStatusURL } from '../../../lib/ComponentFunctions/generateStatusURL';

	import type { ParsedStatus } from '../../../types/contentParsed';
	import { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	async function copyRemote() {
		eventDispatcher('clickOutside');

		const url = generateStatusURL(account, status!);
		await navigator.clipboard.writeText(url!).catch((e) => {
			errorModal(
				'Failed to copy url to clipboard.',
				['Failed to copy url to clipboard: ', e],
				true
			);
		});
	}
</script>

{#if status.visibility === Entity.Visibility.Public || status.visibility === Entity.Visibility.Unlisted}
	<button on:click={() => copyRemote()}>Copy original link</button>
{/if}
