<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import { RemoteActions } from '../../../types/remoteActions';

	const eventDispatcher = createEventDispatcher();

	export let status_account: ParsedAccount;

	function remoteFollow() {
		eventDispatcher('clickOutside');

		GlobalWindow.create({
			state: GlobalWindowState.RemoteActions,
			special: false,
			action: RemoteActions.Follow,
			status_account: status_account,
		});
	}
</script>

<button on:click={() => remoteFollow()}>Follow from account</button>
