<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';

	import type { ParsedAccount } from '../../../types/contentParsed';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
</script>

<button
	on:click={() => {
		eventDispatcher('clickOutside');

		GlobalWindow.create({
			state: GlobalWindowState.List,
			special: false,
			account,
			status_account: status_account,
		});
	}}
	class="list">Add/Remove from lists</button
>

<style lang="scss">
	.list {
		color: rgb(var(--list-color));
	}
</style>
