<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import { composerInit } from '../../../lib/ComponentFunctions/composerInit';

	import { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let direct_message: boolean;

	function mention() {
		eventDispatcher('clickOutside');

		const composer = composerInit({
			account,
			text: '@' + status_account.acct + ' ',
			visibility: direct_message ? Entity.Visibility.Direct : Entity.Visibility.Unlisted,
		});

		ExpandedPanel.update({
			state: ExpandedPanelState.ComposerWithData,
			composer,
		});
	}
</script>

<button on:click={() => mention()}>{direct_message ? 'Send a DM' : 'Mention'}</button>
