<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { ContentManager } from '../../../lib/Managers/ContentManager';
	import { errorModal } from '../../../lib/errorModal';
	import { getUpdateRelationship } from '../../../lib/ComponentFunctions/updateRelationship';
	import { addFullHandle } from '../../../lib/ComponentFunctions/addFullHandle';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let content: { account: ParsedAccount };
	export let delete_content: boolean;
	export let relationship: Entity.Relationship | undefined;

	async function muteAccount() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.mute(content.account.id, true);
		if (!response) {
			return errorModal('Failed to mute account.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, content.account), response);

		if (delete_content) {
			// @ts-expect-error
			ContentManager.Status.forceRemove(account, content.id); //TODO: Hide statuses with this account
		}
	}

	async function unmuteAccount() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.unmute(content.account.id);
		if (!response) {
			return errorModal('Failed to unmute account.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, content.account), response);

		if (delete_content) {
			// @ts-expect-error
			ContentManager.Status.forceRemove(account, content.id); //TODO: Restore statuses with this account
		}
	}

	async function blockAccount() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.block(content.account.id);
		if (!response) {
			return errorModal('Failed to block account.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, content.account), response);

		if (delete_content) {
			// @ts-expect-error
			ContentManager.Status.forceRemove(account, content.id); //TODO: Hide statuses with this account
		}
	}

	async function unblockAccount() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.unblock(content.account.id);
		if (!response) {
			return errorModal('Failed to unblock account.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, content.account), response);

		if (delete_content) {
			// @ts-expect-error
			ContentManager.Status.forceRemove(account, content.id); //TODO: Restore statuses with this account
		}
	}
</script>

{#if relationship?.muting}
	<button on:click={() => unmuteAccount()}>Unmute</button>
{:else}
	<button on:click={() => muteAccount()}>Mute</button>
{/if}
{#if relationship?.blocking}
	<button on:click={() => unblockAccount()}>Unblock</button>
{:else}
	<button on:click={() => blockAccount()} class="red">Block</button>
{/if}

<!-- <button on:click={() => notImplemented()} class="red">Report</button> -->

<style lang="scss">
	.red {
		color: rgb(var(--red));
	}
</style>
