<script lang="ts">
	import { writable } from 'svelte/store';

	import Profile from './Profile.svelte';
	import Loading from '../../Spinner/ProfileSpinner.svelte';

	import { type ExpandedPanelProfile } from '../../../stores/ExpandedPanel';
	import { notificationModal, NotificationModalType } from '../../../stores/NotificationsModal';

	import { AccountsMananger } from '../../../lib/Managers/AccountsManager';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ProfileProps } from '../../../types/profile';

	export let expanded_panel: ExpandedPanelProfile;

	const props: ProfileProps = {
		account: writable(expanded_panel.account),
		status_account: writable(expanded_panel.status_account),
	};
	const { account, status_account } = props;

	let profile_container: HTMLElement;

	async function updateProfile() {
		if (typeof $status_account === 'function') {
			return;
		}

		const acc = castSync<ParsedAccount>($status_account);

		const refreshed_status_account = await $account.mirrorAPI.Accounts.get(acc.id);
		if (!refreshed_status_account) {
			notificationModal.create(
				NotificationModalType.Warn,
				`Failed to refresh ${acc.username}'s profile.`,
				true
			);
			return;
		}

		$status_account = AccountsMananger.store($account, refreshed_status_account);
	}

	updateProfile();

	function isAsync(value: any) {
		return typeof value === 'function';
	}

	async function execAsync(value: any) {
		return value() as Promise<ParsedAccount | null>;
	}

	function castSync<T>(value: any) {
		return value as T;
	}
</script>

{#if isAsync($status_account)}
	{#await execAsync($status_account)}
		<div class="info">
			<center>
				<Loading />
				<p>Looking up for this account</p>
			</center>
		</div>
	{:then status_acc}
		{#if status_acc}
			<Profile
				account={$account}
				status_account={status_acc}
				{props}
				bind:profile_container
			/>
		{:else}
			<div class="info">
				<center>
					<div class="icon fa fa-exclamation-circle" />
					<p>Couldn't find this account</p>
				</center>
			</div>
		{/if}
	{/await}
{:else}
	<Profile
		account={$account}
		status_account={castSync($status_account)}
		{props}
		bind:profile_container
	/>
{/if}

<style lang="scss">
	.info {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
		white-space: nowrap;

		.icon {
			font-size: 35px;
			width: 48px;
			height: 48px;
		}
	}
</style>
