<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import Dropdown from '../../Dropdown/SeeAs.svelte';

	import { stRefreshAccount, type TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ProfileProps } from '../../../types/profile';
	import type { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let relation: Entity.Relationship | undefined;
	export let props: ProfileProps;

	let dropdown_show: boolean = false;
</script>

<button
	class="follow-indicator"
	title="using {account.mirrorAPI.handle_string}"
	on:click={() => (dropdown_show = !dropdown_show)}
>
	<Img
		class="pp"
		src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
			? account.entity.avatar
			: account.entity.avatar_static}
		alt={account.entity.username}
		width="22.5px"
		height="22.5px"
	/>
	{#if relation?.followed_by && relation?.following}
		<div class="follow-status caps-lock">Mutual</div>
	{:else if relation?.followed_by}
		<div class="follow-status caps-lock">Follows you</div>
	{/if}
</button>
{#if dropdown_show}
	<Dropdown
		current_account={account}
		{status_account}
		{props}
		on:clickOutside={() => setTimeout(() => (dropdown_show = false))}
	/>
{/if}

<style lang="scss">
	.follow-indicator {
		z-index: 1;
		position: absolute;
		top: 12px;
		left: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: none;

		.follow-status {
			padding: 2.5px 5px;
			font-size: calc(var(--font-size) - 1px);
			// background-color: #00000069;
			color: #fff;

			&::before {
				content: '';
				z-index: -1;
				position: absolute;
				top: 0;
				left: 10px;
				width: calc(100% - 10px);
				height: 100%;
				opacity: 0.5;
				background-color: #000;
				border-radius: 0px 5px 5px 0px;
			}
		}

		:global(img) {
			border-radius: 100%;
			border: 1.5px solid #fff;
			box-sizing: border-box;
		}
	}
</style>
