<script lang="ts">
	import { format } from 'date-fns';

	import Dropdown from '../../Dropdown/Default/Dropdown.svelte';
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';
	import FollowIndicator from './FollowIndicator.svelte';
	import FollowButton from './FollowButton.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';
	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import { stRelationshipUpdate } from '../../../stores/relationship';

	import { errorModal } from '../../../lib/errorModal';
	import { updateRelationship } from '../../../lib/ComponentFunctions/updateRelationship';

	import type { ParsedNode } from '../../../lib/ContentParser/flattenHTML';
	import { addFullHandle } from '../../../lib/ComponentFunctions/addFullHandle';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ProfileProps } from '../../../types/profile';
	import { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let props: ProfileProps;
	export let follow_indicator: boolean;
	export let twitter: boolean;

	let note: Array<ParsedNode>;
	let joined: string;
	// let bell_hover: boolean = false;
	let is_me: boolean;
	let relation: Entity.Relationship | undefined = undefined;

	$: {
		is_me = account.entity.id === status_account.id;
		note = status_account.note;
		joined = `Joined ${format(new Date(status_account.created_at), 'MMM yyy')}`;
		relationship();
	}

	$: {
		$stRelationshipUpdate;
		localRelationship();
	}

	function localRelationship() {
		const relationship = account.relationship.get(status_account.id);
		if (relationship) {
			relation = relationship;
		}
	}

	async function relationship() {
		if (is_me || twitter) {
			relation = undefined;
			return;
		}

		localRelationship();

		const response = await account.mirrorAPI.Accounts.getRelationship(status_account.id);
		if (!response) {
			errorModal('Unable to update relationship for this account.', undefined, true);
			return;
		}

		updateRelationship(account, addFullHandle(account, status_account), response, relation);
	}

	let dropdown_header_element: HTMLDivElement;
	let dropdown_header_show: boolean = false;

	$: if (dropdown_header_element) {
		dropdown_header_element.style.top = '330px';
	}

	async function acceptFollowRequest() {
		const response = await account.mirrorAPI.Accounts.FollowRequest.accept(status_account.id);
		if (!response) {
			return errorModal('Failed to accept follow request.', undefined, true);
		}

		updateRelationship(account, addFullHandle(account, status_account), response, relation);
	}

	async function rejectFollowRequest() {
		const response = await account.mirrorAPI.Accounts.FollowRequest.reject(status_account.id);
		if (!response) {
			return errorModal('Failed to reject follow request.', undefined, true);
		}

		updateRelationship(account, addFullHandle(account, status_account), response, relation);
	}
</script>

<header>
	<div class="container" style="background-image: url({status_account.header})">
		{#if follow_indicator}
			<FollowIndicator {account} {status_account} {relation} {props} />
		{/if}
		<div class="profile">
			<button
				on:click={() =>
					GlobalWindow.create({
						state: GlobalWindowState.FullMedia,
						special: true,
						clicked: 0,
						media: [
							{
								blurhash: null,
								description: null,
								id: '0',
								meta: null,
								preview_url: null,
								remote_url: null,
								text_url: null,
								type: Entity.AttachmentType.Image,
								url: $rdOptionsAppearanceAnimationAnimateGifAvatar
									? status_account.avatar
									: status_account.avatar_static,
							},
						],
					})}
			>
				<Img
					class="pp"
					src={$rdOptionsAppearanceAnimationAnimateGifAvatar
						? status_account.avatar
						: status_account.avatar_static}
					alt="{status_account.username} profile picture"
					width="75px"
					height="75px"
				/>
			</button>
			<DisplayName {status_account} show_lock={true} bold={true} bigger_emoji={true} />
			<div class="username">@{status_account.acct}</div>
		</div>
		<div
			role="tooltip"
			class="joined"
			on:mouseenter={() =>
				(joined = `Joined ${format(new Date(status_account.created_at), 'dd MMM yyy')}`)}
			on:mouseleave={() =>
				(joined = `Joined ${format(new Date(status_account.created_at), 'MMM yyy')}`)}
		>
			{joined}
		</div>
		{#if relation?.requested_by}
			<div class="pending">
				<p>Pending follow request</p>
				<div class="button-container">
					<button class="follow accept" on:click={() => acceptFollowRequest()}
						>Accept</button
					>
					<button class="follow unfollow" on:click={() => rejectFollowRequest()}
						>Reject</button
					>
				</div>
			</div>
		{/if}
	</div>
	<div class="options">
		{#if !twitter}
			<button
				class="more"
				on:click={() => {
					dropdown_header_show = !dropdown_header_show;
				}}>...</button
			>
		{/if}
		<button class="profile">
			<a href={status_account.url} {...ANCHOR_ARGS}>Open profile</a>
		</button>
		<div class="spacer" />
		<FollowButton {account} {status_account} {relation} {is_me} {twitter}></FollowButton>
		<!-- <button
			class="bell"
			class:active={relation?.notifying}
			on:mouseenter={() => (bell_hover = true)}
			on:mouseleave={() => (bell_hover = false)}
			on:click={() => (bell_active = !bell_active)}
		>
			{#if relation?.notifying}
				{#if bell_hover}
					<div class="fa fa-bell-slash" />
				{:else}
					<div class="fa fa-bell" />
				{/if}
			{:else if !relation?.notifying}
				{#if bell_hover}
					<div class="fa fa-bell" />
				{:else}
					<div class="fa fa-bell-o" />
				{/if}
			{/if}
		</button> -->
	</div>
</header>
{#if dropdown_header_show}
	<Dropdown
		{account}
		{status_account}
		profile_header={true}
		bind:dropdown_element={dropdown_header_element}
		transition={{
			fn: 'scale',
			origin: 'top left',
		}}
		on:clickOutside={() => setTimeout(() => (dropdown_header_show = false))}
	/>
{/if}

<style lang="scss">
	:global(.theme-light) {
		.profile {
			header {
				.container {
					&::after {
						opacity: 0.2;
					}
				}
			}
		}
	}

	header {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;

		.container {
			z-index: 2;
			min-height: 280px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 20px 0px;

			&::after {
				z-index: -1;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #000;
				opacity: 0.5;
			}

			.profile {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				:global(img:not(.emoji)) {
					border-radius: 100%;
				}

				:global(.tn) {
					font-size: calc(var(--font-size) + 6px);
					padding: 0px 10px;
					box-sizing: border-box;
				}
			}

			.username {
				max-width: 100%;
				font-size: calc(var(--font-size) + 1px);
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				user-select: all;
				padding: 0px 20px;

				&:hover {
					word-break: break-all;
				}
			}

			.joined {
				padding: 7.5px;
				font-size: calc(var(--font-size) + 1px);
			}

			:global(.tn),
			.username,
			.joined {
				color: rgb(var(--text-button));
				text-shadow: 1px 1px 0px black;
			}
		}
	}

	.options {
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 7.5px;
		padding: 5px 10px;
		background-color: rgb(var(--column));
		box-sizing: border-box;

		.spacer {
			width: 100%;
		}

		.more {
			user-select: none;
			padding: 7.5px 15px;
			background-color: rgb(var(--header-inner));
			border-radius: 20px;
			flex-shrink: 0;

			&:hover {
				filter: brightness(1.4);
			}

			a {
				color: rgb(var(--text));

				&:hover {
					text-decoration: none;
				}
			}
		}

		.profile {
			flex-shrink: 0;

			&:hover {
				filter: brightness(1.4);
			}

			a {
				user-select: none;
				padding: 7.5px 15px;
				background-color: rgb(var(--header-inner));
				border-radius: 20px;
				color: rgb(var(--text));

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.pending {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1ch;
		padding: 10px;

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.4;
			border-radius: 10px;
		}

		.button-container {
			display: flex;
			flex-direction: row;
			gap: 1ch;
		}
	}
</style>
