<script lang="ts">
	import ContentRenderer from '../../ContentRenderer/ContentRenderer.svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { compactBigNumber } from '../../../lib/Utils/number/compactBigNumber';
	import { addThousandSeparator } from '../../../lib/Utils/number/addThousandSeparator';

	import type { ParsedAccount, ParsedField } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;

	let fields_id = 0;
	let fields: Array<ParsedField & { id: number }> = status_account.fields.map((f) => ({
		...f,
		id: fields_id++,
	}));
	let statuses_count = compactBigNumber(status_account.statuses_count) || 0;
	let following_count = compactBigNumber(status_account.following_count) || 0;
	let followers_count = compactBigNumber(status_account.followers_count) || 0;

	$: {
		fields = status_account.fields.map((f) => ({
			...f,
			id: fields_id++,
		}));
		statuses_count = compactBigNumber(status_account.statuses_count) || 0;
		following_count = compactBigNumber(status_account.following_count) || 0;
		followers_count = compactBigNumber(status_account.followers_count) || 0;
	}
</script>

<div class="infos">
	<div class="bio">
		<ContentRenderer
			content={status_account.note}
			emojis={status_account.emojis}
			bigger_emoji={true}
		/>
	</div>
	{#if fields.length}
		<div class="fields">
			{#each fields as field (field.id)}
				<div class="field">
					<div>
						{field.name}
					</div>
					<div>
						{#if !!field.verified_at}
							<div class="icon fa fa-check" />
						{/if}
						<ContentRenderer content={field.value} emojis={status_account.emojis} />
					</div>
					{#if !!field.verified_at}
						<div class="verified-background"></div>
					{/if}
				</div>
			{/each}
		</div>
	{/if}
	<div class="infos-container">
		<div
			role="tooltip"
			class={status_account.statuses_count <= 1 ? 'status' : 'statuses'}
			on:mouseenter={() =>
				(statuses_count = addThousandSeparator(status_account.statuses_count) || 0)}
			on:mouseleave={() =>
				(statuses_count = compactBigNumber(status_account.statuses_count) || 0)}
		>
			{status_account.statuses_count <= 1 ? 'Status' : 'Statuses'}
			<span class="number">
				{statuses_count}
			</span>
		</div>
		<button
			class="following"
			on:mouseenter={() =>
				(following_count = addThousandSeparator(status_account.following_count) || 0)}
			on:mouseleave={() =>
				(following_count = compactBigNumber(status_account.following_count) || 0)}
			on:click={() =>
				GlobalWindow.create({
					state: GlobalWindowState.WhoFollow,
					special: false,
					account,
					status_account,
					type: 'following',
				})}
		>
			Following
			<span class="number">
				{following_count}
			</span>
		</button>
		<button
			class={status_account.followers_count <= 1 ? 'follower' : 'followers'}
			on:mouseenter={() =>
				(followers_count = addThousandSeparator(status_account.followers_count) || 0)}
			on:mouseleave={() =>
				(followers_count = compactBigNumber(status_account.followers_count) || 0)}
			on:click={() =>
				GlobalWindow.create({
					state: GlobalWindowState.WhoFollow,
					special: false,
					account,
					status_account,
					type: 'followers',
				})}
		>
			{status_account.followers_count <= 1 ? 'Follower' : 'Followers'}
			<span class="number">
				{followers_count}
			</span>
		</button>
	</div>
</div>

<style lang="scss">
	.infos {
		display: flex;
		flex-direction: column;
		margin-bottom: calc((var(--column-header-height)) * -1);

		.bio {
			padding: 0px 10px;
			box-sizing: border-box;
			white-space: pre-line;
			word-wrap: break-word;
			overflow: hidden;
		}

		.fields {
			display: flex;
			flex-direction: column;
			padding: 5px 0px;

			.field {
				z-index: 1;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;
				padding: 10px 15px 10px 15px;

				> div:first-child {
					border-bottom: 1px solid rgba(var(--text), 0.75);
				}

				.icon {
					flex-shrink: 0;
					color: rgb(var(--accent));
					filter: drop-shadow(0px 0px 1px rgb(var(--accent)));
				}

				.verified-background {
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgb(var(--accent));
					opacity: 0.3;
				}
			}
		}

		.infos-container {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			flex-wrap: wrap;
			gap: 10px;
			padding: 10px 0px;

			.status,
			.statuses,
			.following,
			.follower,
			.followers {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.following,
			.follower,
			.followers {
				&:hover {
					text-decoration: underline;
				}
			}

			.number {
				font-weight: bold;
			}
		}
	}
</style>
