<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';
	import Header from './Header.svelte';
	import Infos from './Infos.svelte';
	import Button from '../../Global/Button/Button.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import {
		ExpandedPanel,
		ExpandedPanelState,
		stExpandedPanel,
	} from '../../../stores/ExpandedPanel';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import { accountParser } from '../../../lib/ContentParser/ContentParser';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ProfileProps } from '../../../types/profile';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let props: ProfileProps;

	const moved: ParsedAccount = accountParser(account, status_account.moved!);

	function showMovedProfile() {
		ExpandedPanel.update({
			state: ExpandedPanelState.Profile,
			account,
			status_account: moved,
		});
	}
</script>

<div class="moved">
	<div class="up" class:previous={$stExpandedPanel.length !== 1}>
		{moved.username} has indicated that their new account is now
	</div>
	<div class="down">
		<div class="new-profile">
			<div class="pp">
				<Img
					class="pp"
					src={$rdOptionsAppearanceAnimationAnimateGifAvatar
						? moved.avatar
						: moved.avatar_static}
					alt="{moved.username} profile picture"
					width="40px"
					height="40px"
				/>
			</div>
			<div class="wrapper">
				<DisplayName status_account={moved} show_lock={true} bold={false} />
				<div class="username">@{moved.username}</div>
			</div>
		</div>
		<div style="flex-shrink: 0;">
			<Button style="small" on:clickTimeout={() => showMovedProfile()}>Show profile</Button>
		</div>
	</div>
</div>
<Header {account} {status_account} {props} follow_indicator={false} twitter={false} />
<Infos {account} {status_account} />

<style lang="scss">
	.moved {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 15px;
		background-color: rgb(var(--background));
		padding: 10px 15px;

		.up {
			padding-right: 25px;
			font-size: var(--font-size);
			text-align: center;

			&.previous {
				padding-right: 60px;
			}
		}

		.down {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			gap: 5px;

			.new-profile {
				display: flex;
				flex-direction: row;
				gap: 7.5px;

				.pp {
					:global(img) {
						border-radius: 100%;
					}
				}

				.wrapper {
					display: flex;
					flex-direction: column;
					font-size: var(--font-size);
					max-width: 150px;

					.username {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.username {
						opacity: 0.7;
					}
				}
			}
		}
	}
</style>
