<script lang="ts">
	import Infos from './Infos.svelte';
	import Moved from './Moved.svelte';
	import Header from './Header.svelte';
	import Statuses from './Statuses/Container.svelte';
	import MiniHeader from './Statuses/MiniHeader.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ProfileProps } from '../../../types/profile';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let props: ProfileProps;
	export let profile_container: HTMLElement;

	const twitter = status_account.acct.includes('twitter.com');
</script>

<div class="profile" class:moved={!!status_account.moved} bind:this={profile_container}>
	{#if !!status_account.moved}
		<div class="up">
			<Moved {account} {status_account} {props} />
		</div>
	{:else}
		<Statuses {account} {status_account}>
			<svelte:fragment slot="MiniHeader">
				<MiniHeader {account} {status_account}></MiniHeader>
			</svelte:fragment>
			<div class="up">
				<Header {account} {status_account} {props} follow_indicator={true} {twitter} />
				{#if !twitter}
					<Infos {account} {status_account} />
				{/if}
			</div>
		</Statuses>
	{/if}
</div>

<style lang="scss">
	.profile {
		position: relative;
		min-width: 370px;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: rgb(var(--column));
		overflow-x: hidden;
		overflow-y: auto;

		&.moved {
			&::before {
				z-index: 2;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgb(var(--background));
				opacity: 0.7;
			}
		}
	}
</style>
