<script lang="ts">
	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';
	import { rdOptionsBehaviorInstance } from '../../../../stores/Options';

	import { Entity } from '../../../../types/mastodonEntities';

	export let choices: { [key: string]: { value: boolean; icon: string; title: string } };
	export let account: TootDeckAccount;

	const options = account.options;

	let entries: Array<[string, { value: boolean; icon: string; title: string }]>;
	$: entries = Object.entries(choices);
</script>

<div class="notifications-types-checkboxes">
	{#each entries as [key, data] (key)}
		{#if key === 'emoji_reaction' && !$rdOptionsBehaviorInstance[account.mirrorAPI.handle.domain].emoji_reaction}
			<!-- Continue -->
		{:else if key === Entity.NotificationType.AdminReport && !$options.moderator}
			<!-- Continue -->
		{:else}
			<button
				class:checked={choices[key].value}
				title={choices[key].title}
				on:click={() => (choices[key].value = !data.value)}
			>
				<div class={data.icon}></div>
			</button>
		{/if}
	{/each}
</div>

<style lang="scss">
	.notifications-types-checkboxes {
		position: relative;
		display: flex;
		align-items: center;
		width: var(--container-width);
		background-color: rgb(var(--composer));
		color: rgb(var(--text));
		border-radius: 10px;
		border: 2px solid rgba(var(--lighter), 0.5);
		overflow: hidden;

		button {
			z-index: 1;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 7.5px;
			cursor: pointer;
			color: rgb(var(--text));

			&.checked {
				color: rgb(var(--accent));
				background-color: rgb(var(--lighter));
			}
		}
	}
</style>
