<script lang="ts">
	import TagSelector from '../../Selector/Implementations/TagSelector.svelte';
	import EmojiSelector from '../../Selector/Implementations/EmojiSelector.svelte';
	import Visibility from './Visibility.svelte';
	import Langage from './Langage.svelte';
	import Files from './Files.svelte';
	import ContentWarning from './ContentWarning.svelte';
	import Poll from './Poll.svelte';
	import Characters from './Characters.svelte';
	import ButtonEmoji from './Emoji.svelte';
	import HashtagSelector from '../../Selector/Implementations/HashtagSelector.svelte';

	import { rdOptionsBehaviorInstance } from '../../../stores/Options';

	import type { Composer } from '../../../types/composer';

	export let composer: Composer;

	const { toggle, edition, language, search, found, account, visibility, media, selector, lite } =
		composer;
	const { poll: show_poll } = toggle;
	const {
		tag: show_selector_tag,
		emoji: show_selector_emoji,
		visibility: show_selector_visibility,
		hashtag: show_selector_hashtag,
	} = selector;
	const { tag: search_tag, emoji: search_emoji, hashtag: search_hashtag } = search;
	const { tag: found_tag, emoji: found_emoji, hashtag: found_hashtag } = found;

	let poll_allow_media = $rdOptionsBehaviorInstance[$account.mirrorAPI.domain].poll_allow_media;
	$: poll_allow_media = $rdOptionsBehaviorInstance[$account.mirrorAPI.domain].poll_allow_media;
</script>

<div class="options">
	{#if poll_allow_media || !$show_poll}
		<Files {composer}></Files>
	{/if}
	{#if poll_allow_media || !$media?.length}
		<Poll {composer}></Poll>
	{/if}
	{#if !$edition}
		<Visibility bind:show={$show_selector_visibility} bind:visibility={$visibility} />
	{/if}
	<ContentWarning {composer}></ContentWarning>
	<Langage bind:language={$language}></Langage>
	{#if lite}
		<ButtonEmoji {composer} />
	{/if}
	{#if $show_selector_tag}
		<TagSelector
			account={$account}
			search_query={$search_tag}
			on:click={(e) => {
				$found_tag = e.detail.acct;
				setTimeout(() => ($show_selector_tag = false));
			}}
			on:close={() => setTimeout(() => ($show_selector_tag = false))}
		/>
	{/if}
	{#if $show_selector_emoji}
		<EmojiSelector
			account={$account}
			search_query={$search_emoji}
			on:click={(e) => {
				$found_emoji = e.detail.emoji;
				setTimeout(() => ($show_selector_emoji = false));
			}}
			on:close={() => setTimeout(() => ($show_selector_emoji = false))}
		/>
	{/if}
	{#if $show_selector_hashtag}
		<HashtagSelector
			account={$account}
			search_query={$search_hashtag}
			on:click={(e) => {
				$found_hashtag = e.detail.hashtag;
				setTimeout(() => ($show_selector_hashtag = false));
			}}
			on:close={() => setTimeout(() => ($show_selector_hashtag = false))}
		/>
	{/if}
	<Characters {composer}></Characters>
</div>

<style lang="scss">
	.options {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: rgb(var(--accent));
		padding: 5px;
	}
</style>
