<script lang="ts">
	import type { Composer } from '../../../types/composer';

	export let composer: Composer;
	const { toggle, content_warning, sensitive, media } = composer;
	const { content_warning: show_content_warning } = toggle;

	$show_content_warning = !!$content_warning;
	let last_sensitive: boolean | undefined = undefined;

	function showCW() {
		$show_content_warning = !$show_content_warning;

		if (last_sensitive === undefined) {
			last_sensitive = $sensitive;
		}

		if (!$sensitive) {
			$sensitive = $show_content_warning;
		}

		if (!$show_content_warning) {
			$sensitive = last_sensitive && !!$media.length;
			last_sensitive = undefined;
			$content_warning = '';
		}
	}
</script>

<button class="cw" class:active={$show_content_warning} on:click={() => showCW()}>CW</button>

<style lang="scss">
	.cw {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		flex-shrink: 0;
		color: rgb(var(--icons));
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		padding: 0px 5px;
		filter: saturate(0.3);

		&::before {
			content: '';
			position: absolute;
			bottom: -2.5px;
			width: 0;
			height: 2px;
			transition: calc(0.1s * var(--transition-speed));
			background-color: rgb(var(--icons));
		}

		&.active::before {
			width: 70%;
		}

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.4);
		}
	}
</style>
