<script lang="ts">
	import VisibilitySelector from '../../Selector/Implementations/VisibilitySelector.svelte';

	import { Entity } from '../../../types/mastodonEntities';

	export let show: boolean;
	export let visibility: Entity.Visibility;
	export let reblog: boolean = false;
</script>

<button class="visibility" class:reblog class:active={show} on:click={() => (show = !show)}>
	{#if visibility === Entity.Visibility.Public}
		<div class="fa fa-globe" />
	{:else if visibility === Entity.Visibility.Unlisted}
		<div class="fa fa-unlock" />
	{:else if visibility === Entity.Visibility.Private}
		<div class="fa fa-lock" />
	{:else if visibility === Entity.Visibility.Direct}
		<div class="fa fa-at" />
	{/if}
</button>
{#if show}
	<VisibilitySelector
		bind:visibility
		allowed_visibility={reblog
			? [Entity.Visibility.Public, Entity.Visibility.Unlisted, Entity.Visibility.Private]
			: []}
		on:close={() => setTimeout(() => (show = false))}
	/>
{/if}

<style lang="scss">
	.visibility {
		width: 35px;
		display: grid;
		justify-items: center;
		align-items: center;
		flex-shrink: 0;
		font-size: 27.5px;
		padding: 0px 5px;
		box-sizing: border-box;

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.4);
		}

		&.active {
			color: rgb(var(--text));
		}

		&.reblog {
			border-radius: 100%;
		}
	}
</style>
