<script lang="ts">
	import { SvelteComponent, getContext } from 'svelte';
	import type { Writable } from 'svelte/store';
	import type { ClickedEmoji, EmojiSkin, PickerProps } from 'emoji-mart-svelte';

	import { stEmojis } from '../../../stores/Emojis';
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { createEmojiReaction } from '../../../lib/ComponentFunctions/emojiReaction/emojiReaction';
	import { clamp } from '../../../lib/Utils/number/clamp';
	import { emojiReactionReached } from '../../../lib/ComponentFunctions/emojiReaction/emojiReactionReached';

	import type { ParsedStatus } from '../../../types/contentParsed';

	const context = getContext('PickerProps') as {
		update: Writable<number>;
		account: TootDeckAccount;
		status: ParsedStatus;
		position: { x: number; y: number };
	};

	const update = context.update;
	$: if ($update) {
		getPicker();
	}

	let wait: boolean = false;

	function close() {
		Picker = null;
		$update = 0;
	}

	async function emojiClick(e: ClickedEmoji) {
		if (wait) {
			return;
		}
		wait = true;

		const skin = e.skin as EmojiSkin;

		let picked: string;
		if (skin.native) {
			picked = skin.native;
		} else {
			picked = e.keywords[0];
		}

		const reacted = await createEmojiReaction(context.account, context.status, picked);
		if (reacted) {
			context.status = reacted;

			if (emojiReactionReached(context.account, reacted)) {
				close();
			}
		}

		wait = false;
	}

	let Picker: typeof SvelteComponent<any> | null = null;
	let Props: PickerProps;

	let emoji_picker_element: HTMLDivElement;
	$: if (emoji_picker_element) {
		setPickerPosition();
	}

	function setPickerPosition() {
		let x: number = context.position.x;
		let y: number = context.position.y;
		let width: number = emoji_picker_element.clientWidth;
		let height: number = emoji_picker_element.clientHeight;

		if (x + width > window.innerWidth) {
			x = clamp(x - width, 60, window.innerWidth);
		}

		if (y + height > window.innerHeight) {
			y = clamp(y - height, 60, window.innerHeight);
		}

		emoji_picker_element.style.zIndex = '20';
		emoji_picker_element.style.position = 'absolute';
		emoji_picker_element.style.top = y + 'px';
		emoji_picker_element.style.left = x + 'px';
	}

	function getPicker() {
		const emoji_picker = $stEmojis.get(context.account.mirrorAPI.domain)!;
		emoji_picker.instance.setCallback({ onEmojiClick: emojiClick });
		const got = emoji_picker.getPicker();

		Picker = got.Picker;
		Props = got.Props;
	}
</script>

{#if Picker}
	<svelte:component
		this={Picker}
		{Props}
		bind:PickerElement={emoji_picker_element}
		onClickOutside={() => close()}
	></svelte:component>
{/if}
