<script lang="ts">
	import ReleaseFragment from './ReleaseFragment.svelte';
	import NightlyFragment from './NightlyFragment.svelte';

	import { BYPASS_DEV_MODE, VERSION } from '../../lib/Constants/Version';
</script>

{#if VERSION === 'dev' && !BYPASS_DEV_MODE}
	<spam>Changelog isn't available in dev mode.</spam>
{:else if VERSION.includes('nightly')}
	<NightlyFragment></NightlyFragment>
{:else}
	<ReleaseFragment></ReleaseFragment>
{/if}
