<script lang="ts">
	import PageSpinner from '../Spinner/PageSpinner.svelte';
</script>

<div class="loading-container">
	<div class="loading">
		<p>Loading changelog</p>
		<div class="spinner">
			<PageSpinner scale={1}></PageSpinner>
		</div>
	</div>
</div>

<style lang="scss">
	.loading-container {
		display: grid;
		justify-items: center;
		align-items: center;

		.loading {
			position: relative;
			padding: 20px;

			.spinner {
				position: absolute;
				left: 62.5%;
				bottom: 0;
				display: flex;
			}
		}
	}
</style>
