<script lang="ts">
	import Loading from './Loading.svelte';
	import Nightly from './Nightly/Container.svelte';

	import { Changelog } from '../../lib/Changelog';
</script>

{#if Changelog.local_state.nightly}
	<Nightly changelog={Changelog.local_state.nightly}></Nightly>
{:else}
	{#await Changelog.getNightly()}
		<Loading></Loading>
	{:then changelog}
		{#if changelog.global || changelog.backend || changelog.frontend}
			<Nightly {changelog}></Nightly>
		{:else}
			<span>Failed to fetch changelog.</span>
		{/if}
	{/await}
{/if}
