<script lang="ts">
	import Container from '../Container.svelte';

	import { stGlobalWindow, type GlobalWindowWhoFollow } from '../../../../stores/Window';

	import { fetchAPI } from '../../../../lib/APIs/fetchAPI';
	import { parseResponseLink, type ResponseLinks } from '../../../../lib/Utils/parseResponseLInk';
	import { getRemoteAccountID } from '../../../../lib/ComponentFunctions/remote/getRemoteAccountID';
	import { convertPartialMisskeyAccount } from '../../../../lib/ComponentFunctions/remote/convertPartialMisskeyAccount';

	import type { Entity } from '../../../../types/mastodonEntities';
	import type { MisskeyEntity } from '../../../../types/misskeyEntities';

	const global_window = $stGlobalWindow as GlobalWindowWhoFollow;
	const account = global_window.account;
	const status_account = global_window.status_account;
	const type = global_window.type;
	const status_account_origin = new URL(status_account.url).origin;
	const account_origin = new URL(account.entity.url).origin;
	const is_same_domain = status_account_origin === account_origin;

	let remote_fetch_error: boolean = false;
	let links_end: boolean = false;
	let max_id: string | undefined = undefined;

	function handleLinks(
		r: ResponseLinks<Array<Entity.Account>> | null
	): Array<Entity.Account> | null {
		if (!r) {
			return null;
		}

		if (typeof r.links === 'object') {
			max_id = r.links.next?.max_id;
		}
		if (!max_id) {
			links_end = true;
		}

		return r.data;
	}

	async function localFetch() {
		if (links_end) {
			return [];
		}

		return type === 'followers'
			? account.mirrorAPI.Accounts.getFollowers(status_account.id, { max_id }).then(
					handleLinks
				)
			: account.mirrorAPI.Accounts.getFollowing(status_account.id, { max_id }).then(
					handleLinks
				);
	}

	async function remoteFetchMisskey(origin: string, id: string) {
		return fetchAPI<Array<{ id: string; followee: MisskeyEntity.Account }>>(
			'POST',
			`${origin}/api/users/${type}`,
			{
				body: { userId: id, limit: 40, allowPartial: true, untilId: max_id },
				hide_error: true,
				cache_time: 30000,
			}
		).then((r) => {
			if (!r || r.status !== 200) {
				remote_fetch_error = true;
				return localFetch();
			}

			const last = r.data.at(-1);
			if (last) {
				max_id = last.id;
			}
			if (r.data.length !== 40) {
				links_end = true;
			}

			return r.data.map((miss) => convertPartialMisskeyAccount(origin, miss.followee));
		});
	}

	async function remoteFetch(origin: string, id: string): Promise<Array<Entity.Account> | null> {
		if (links_end) {
			return [];
		}

		return (
			fetchAPI<Array<Entity.Account>>('GET', `${origin}/api/v1/accounts/${id}/${type}`, {
				hide_error: true,
				query: {
					max_id,
				},
				cache_time: 30000,
			}) as Promise<Entity.Response<Array<Entity.Account>> | null>
		).then((r) => {
			if (!r || r.status !== 200) {
				if (r?.status === 404) {
					return remoteFetchMisskey(origin, id);
				}
				remote_fetch_error = true;
				return localFetch();
			}

			const links = parseResponseLink(r);
			if (typeof links === 'object') {
				max_id = links.next?.max_id;
			}
			if (!max_id) {
				links_end = true;
			}

			return r.data;
		});
	}

	async function getter() {
		if (!is_same_domain && !remote_fetch_error) {
			const id = await getRemoteAccountID(status_account);
			if (id) {
				return remoteFetch(status_account_origin, id);
			}
			remote_fetch_error = true;
		}

		return localFetch();
	}

	function formatType(count: number, type: 'following' | 'followers') {
		if (type === 'following') {
			return 'following';
		} else {
			return count <= 1 ? 'follower' : 'followers';
		}
	}

	function title() {
		const count =
			type === 'following' ? status_account.following_count : status_account.followers_count;
		const name = formatType(count, type);
		return `${status_account.username}: ${count} ${name}`;
	}
</script>

<Container
	{account}
	show_hint={remote_fetch_error}
	remote_fetched={!is_same_domain && !remote_fetch_error}
	title={title()}
	{getter}
>
	<svelte:fragment slot="hint"
		>This instance isn't public and remote fetching is unavailable, accounts can be incomplete.</svelte:fragment
	>
	<svelte:fragment slot="nothing">This account doesn't have {formatType(0, type)}</svelte:fragment
	>
</Container>
