<script lang="ts">
	import Container from '../Container.svelte';

	import { stGlobalWindow, type GlobalWindowWhoInteracted } from '../../../../stores/Window';
	import {
		rdOptionsAppearanceCustomValueReblogBtn,
		rdOptionsAppearanceCustomValueReblogs,
	} from '../../../../stores/Options';

	import { getStatusID } from '../../../../lib/ContentParser/anchorsParser';
	import { fetchAPI } from '../../../../lib/APIs/fetchAPI';
	import { parseResponseLink, type ResponseLinks } from '../../../../lib/Utils/parseResponseLInk';
	import { getPleromaStatusID } from '../../../../lib/ComponentFunctions/remote/getPleromaStatusID';
	import { convertPartialMisskeyAccount } from '../../../../lib/ComponentFunctions/remote/convertPartialMisskeyAccount';

	import { Entity } from '../../../../types/mastodonEntities';
	import type { MisskeyEntity } from '../../../../types/misskeyEntities';

	const global_window = $stGlobalWindow as GlobalWindowWhoInteracted;
	const account = global_window.account;
	const status = global_window.status;
	const type = global_window.type;
	const visibility_private: boolean =
		status.visibility === Entity.Visibility.Private ||
		status.visibility === Entity.Visibility.Direct;
	const status_origin = new URL(status.url).origin;
	const account_origin = new URL(account.entity.url).origin;
	const is_same_domain = status_origin === account_origin;

	let remote_fetch_error: boolean = false;
	let links_end: boolean = false;
	let max_id: string | undefined = undefined;

	function handleLinks(
		r: ResponseLinks<Array<Entity.Account>> | null
	): Array<Entity.Account> | null {
		if (!r) {
			return null;
		}

		if (typeof r.links === 'object') {
			max_id = r.links.next?.max_id;
		}
		if (!max_id) {
			links_end = true;
		}

		return r.data;
	}

	async function localFetch() {
		if (links_end) {
			return [];
		}

		return type === 'reblog'
			? account.mirrorAPI.Statuses.getRebloggedBy(status.id, { max_id }).then(handleLinks)
			: account.mirrorAPI.Statuses.getFavouritedBy(status.id, { max_id }).then(handleLinks);
	}

	async function remoteFetchMisskey(origin: string, id: string) {
		return fetchAPI<Array<{ id: string; user: MisskeyEntity.PartialAccount }>>(
			'POST',
			`${origin}/api/notes/renotes`,
			{
				body: { noteId: id, limit: 40, allowPartial: true, untilId: max_id },
				hide_error: true,
				cache_time: 30000,
			}
		).then((r) => {
			if (!r || r.status !== 200) {
				remote_fetch_error = true;
				return localFetch();
			}

			const last = r.data.at(-1);
			if (last) {
				max_id = last.id;
			}
			if (r.data.length !== 40) {
				links_end = true;
			}

			return r.data.map((miss) => convertPartialMisskeyAccount(origin, miss.user));
		});
	}

	async function remoteFetch(origin: string, id: string): Promise<Array<Entity.Account> | null> {
		return (
			fetchAPI<Array<Entity.Account>>(
				'GET',
				`${origin}/api/v1/statuses/${id}/${type === 'reblog' ? 'reblogged_by' : 'favourited_by'}`,
				{
					hide_error: true,
					query: {
						max_id,
					},
					cache_time: 30000,
				}
			) as Promise<Entity.Response<Array<Entity.Account>> | null>
		).then((r) => {
			if (!r || r.status !== 200) {
				if (r?.status === 404 && type === 'reblog') {
					return remoteFetchMisskey(origin, id);
				}
				remote_fetch_error = true;
				return localFetch();
			}

			const links = parseResponseLink(r);
			if (typeof links === 'object') {
				max_id = links.next?.max_id;
			}
			if (!max_id) {
				links_end = true;
			}

			return r.data;
		});
	}

	async function getter() {
		if (!visibility_private && !is_same_domain && !remote_fetch_error) {
			const id =
				status.url.includes('notice') || status.url.includes('objects')
					? await getPleromaStatusID(status.url)
					: getStatusID(status.url);
			if (id) {
				return remoteFetch(status_origin, id);
			}
			remote_fetch_error = true;
		}

		return localFetch();
	}

	function formatType(count: number, type: 'reblog' | 'favourite') {
		if (type === 'reblog') {
			return count === 1
				? $rdOptionsAppearanceCustomValueReblogBtn
				: $rdOptionsAppearanceCustomValueReblogs;
		} else {
			return count <= 1 ? 'favourite' : 'favourites';
		}
	}

	function title() {
		const count = type === 'reblog' ? status.reblogs_count : status.favourites_count;
		const name = formatType(count, type);
		return `${count} ${name}`;
	}
</script>

<Container
	{account}
	show_hint={visibility_private && !is_same_domain}
	remote_fetched={!visibility_private && !is_same_domain && !remote_fetch_error}
	title={title()}
	{getter}
>
	<svelte:fragment slot="hint"
		>Status isn't public and remote fetching is unavailable, accounts can be incomplete.</svelte:fragment
	>
	<svelte:fragment slot="nothing">This status doesn't have {formatType(0, type)}</svelte:fragment>
</Container>
