<script lang="ts">
	import { onDestroy } from 'svelte';
	import ColorPicker from 'svelte-awesome-color-picker';

	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		rdOptionsAppearanceAccentColor,
		rdOptionsAppearanceAccentScrollbar,
		stOptions,
	} from '../../../../stores/Options';

	import { setAccentColor } from '../../../../lib/ComponentFunctions/options/accentColor';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { RGBAtoStore, storeToRGBA } from '../../../../lib/Utils/convertRGBA';

	let accent_color = storeToRGBA($rdOptionsAppearanceAccentColor);

	/**
	 * Update
	 */
	let inter: NodeJS.Timeout;

	function update() {
		inter = setInterval(() => {
			updateColorPicker();
			setAccentColor(RGBAtoStore(accent_color));
		}, 200);
	}

	function destroy() {
		clearInterval(inter);
	}

	onDestroy(() => destroy());

	/**
	 * Update component values
	 */
	function updateColorPicker() {
		const container = accent_container?.children[0].children[0];
		if (!accent_container || !container) {
			return;
		}

		const circle = container.children[0] as HTMLDivElement;
		const p = container.children[1] as HTMLParagraphElement;

		circle.style.backgroundColor = `rgb(${RGBAtoStore(accent_color)})`;
		p.innerText = `rgb(${RGBAtoStore(accent_color)})`;
	}

	/**
	 * Override
	 */
	function overrideColorPicker() {
		return `<div class="circle override"></div>
				<p class="override"></p>`;
	}

	let accent_container: HTMLDivElement;
	$: if (accent_container) {
		accent_container.children[0].children[0].innerHTML = overrideColorPicker();
		updateColorPicker();
	}
</script>

<div class="theme-accent">
	<p class="bold-upper">Accent color</p>
	<div
		class="input bold-upper"
		bind:this={accent_container}
		on:mouseenter={() => update()}
		on:mouseleave={() => destroy()}
	>
		<ColorPicker
			bind:rgb={accent_color}
			isAlpha={false}
			isPopup={true}
			isDark={document.body.classList.contains('theme-light')}
		/>
	</div>
	<InputCheckbox
		text="Accent in scrollbar"
		checked={$rdOptionsAppearanceAccentScrollbar}
		on:click={(e) => ($stOptions.appearance.accentScrollbar = isCheckboxChecked(e))}
	></InputCheckbox>
</div>

<style lang="scss">
	.theme-accent {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: center;
		margin: 5px 0px;

		.bold-upper {
			text-transform: uppercase;
			font-weight: bold;
		}

		:global(.wrapper) {
			background-color: rgb(var(--column));
		}

		:global(.circle.override) {
			width: 25px;
			height: 25px;
			border-radius: 100%;
		}

		:global(input) {
			background-color: rgb(var(--composer));
			border: 1px solid transparent;
			outline: none !important;

			&:focus {
				border: 1px solid rgb(var(--accent));
			}
		}

		:global(button) {
			background-color: rgb(var(--composer));
			color: rgb(var(--text));

			&:hover {
				background-color: rgb(var(--header));
				color: rgb(var(--text));
			}
		}

		.input {
			width: 0;
			min-width: 100%;
			margin: 5px 0px;
			font-size: var(--font-size);
			box-sizing: border-box;
			background-color: rgb(var(--composer));
			border: 1px solid rgb(var(--accent));
		}
	}
</style>
