<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		rdOptionsAppearanceBorderColumn,
		rdOptionsAppearanceBorderStatus,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Borders</h2>
	<InputCheckbox
		text={'Show borders at the bottom of statuses'}
		checked={$rdOptionsAppearanceBorderStatus}
		on:click={(e) => ($stOptions.appearance.border.status = isCheckboxChecked(e))}
	></InputCheckbox>
	<InputCheckbox
		text={'Show borders on the sides of columns'}
		checked={$rdOptionsAppearanceBorderColumn}
		on:click={(e) => ($stOptions.appearance.border.column = isCheckboxChecked(e))}
	></InputCheckbox>
</div>
