<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		stOptions,
		rdOptionsAppearanceColumnHeaderAvatar,
		rdOptionsAppearanceColumnHeaderIcon,
		rdOptionsAppearanceColumnHeaderBtnClear,
		rdOptionsAppearanceColumnHeaderBtnCollapse,
		rdOptionsAppearanceColumnHeaderBtnDelete,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Columns header</h2>
	<InputCheckbox
		text={'Show account avatars'}
		checked={$rdOptionsAppearanceColumnHeaderAvatar}
		on:click={(e) => ($stOptions.appearance.column.header.avatar = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'Show column icons'}
		checked={$rdOptionsAppearanceColumnHeaderIcon}
		on:click={(e) => ($stOptions.appearance.column.header.icon = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'Show "Clear" button'}
		checked={$rdOptionsAppearanceColumnHeaderBtnClear}
		on:click={(e) => ($stOptions.appearance.column.header.btn.clear = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'Show "Collapse" button'}
		checked={$rdOptionsAppearanceColumnHeaderBtnCollapse}
		on:click={(e) => ($stOptions.appearance.column.header.btn.collapse = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'Show "Delete" button'}
		checked={$rdOptionsAppearanceColumnHeaderBtnDelete}
		on:click={(e) => ($stOptions.appearance.column.header.btn.delete = isCheckboxChecked(e))}
	/>
</div>
