<script lang="ts">
	import InputRadioCheckbox from '../../../Global/Inputs/InputRadioCheckbox.svelte';
	import AccentColor from './AccentColor.svelte';

	import {
		rdOptionsAppearanceColumnWidth,
		rdOptionsAppearanceFontSize,
		rdOptionsAppearanceTheme,
		stOptions,
	} from '../../../../stores/Options';
	import {
		ThemeAvailable,
		ThemeName,
		matchDarkOrLight,
	} from '../../../../lib/ComponentFunctions/options/theme';

	import {
		ColumnWidth,
		ColumnWidthName,
		setColumnSize,
	} from '../../../../lib/ComponentFunctions/options/columnSize';
	import {
		FontSize,
		FontSizeName,
		setfontSize,
	} from '../../../../lib/ComponentFunctions/options/fontSize';

	/**
	 * Theme
	 */
	function selectedTheme() {
		switch ($rdOptionsAppearanceTheme ?? matchDarkOrLight()) {
			case ThemeAvailable.Mastodon:
				return ThemeName.Mastodon;
			case ThemeAvailable.Dark:
				return ThemeName.Dark;
			case ThemeAvailable.Light:
				return ThemeName.Light;
		}
	}

	function theme(e: any) {
		if (!e) {
			return;
		}

		const theme = e.detail.value;
		if (!theme) {
			return;
		}

		switch (theme) {
			case ThemeName.Mastodon:
				$stOptions.appearance.theme = ThemeAvailable.Mastodon;
				break;
			case ThemeName.Dark:
				$stOptions.appearance.theme = ThemeAvailable.Dark;
				break;
			case ThemeName.Light:
				$stOptions.appearance.theme = ThemeAvailable.Light;
				break;
		}
	}

	/**
	 * Column size
	 */
	let column_size_custom = $rdOptionsAppearanceColumnWidth;
	$: if (
		![ColumnWidth.Narrow, ColumnWidth.Medium, ColumnWidth.Wide].includes(
			$rdOptionsAppearanceColumnWidth as ColumnWidth
		)
	) {
		setColumnSize(column_size_custom);
	}

	function columnSize(e: CustomEvent) {
		const value = e.detail.value;

		setColumnSize(value === ColumnWidthName.Custom ? column_size_custom : value);
	}

	function selectColumnWidth() {
		switch ($rdOptionsAppearanceColumnWidth) {
			case ColumnWidth.Narrow:
				return ColumnWidthName.Narrow;
			case ColumnWidth.Medium:
				return ColumnWidthName.Medium;
			case ColumnWidth.Wide:
				return ColumnWidthName.Wide;
			default:
				return ColumnWidthName.Custom;
		}
	}

	/**
	 * Font size
	 */
	function fontSize(e: CustomEvent) {
		const selected = e.detail.value;
		setfontSize(selected);
	}

	export function selectFontSize() {
		switch ($rdOptionsAppearanceFontSize) {
			case FontSize.Smallest:
				return FontSizeName.Smallest;
			case FontSize.Small:
				return FontSizeName.Small;
			case FontSize.Medium:
				return FontSizeName.Medium;
			case FontSize.Large:
				return FontSizeName.Large;
			case FontSize.Largest:
				return FontSizeName.Largest;
		}

		return FontSizeName.Largest;
	}
</script>

<div class="settings-section row">
	<AccentColor />
	<InputRadioCheckbox
		title="Theme"
		items={[ThemeName.Mastodon, ThemeName.Light, ThemeName.Dark]}
		checked={selectedTheme()}
		on:change={theme}
	/>
	<InputRadioCheckbox
		title="Columns size"
		items={[ColumnWidthName.Narrow, ColumnWidthName.Medium, ColumnWidthName.Wide]}
		checked={selectColumnWidth()}
		bind:custom_value={column_size_custom}
		on:change={columnSize}
	/>
	<InputRadioCheckbox
		title="Font size"
		items={[
			FontSizeName.Smallest,
			FontSizeName.Small,
			FontSizeName.Medium,
			FontSizeName.Large,
			FontSizeName.Largest,
		]}
		checked={selectFontSize()}
		on:change={fontSize}
	/>
</div>
