<script lang="ts">
	import TwoStepButton from '../../Global/Button/TwoStepButton.svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { unlinkAccount } from '../../../lib/ComponentFunctions/unlinkAccount';

	export let handle: string;

	let collapsed: boolean = true;
</script>

<button class="missing-account">
	<button
		class="header"
		class:collapsed
		on:click={() => {
			collapsed = !collapsed;
		}}
	>
		<div class="banner" style="background-color:#000;"></div>
		<div class="left">
			<div class="pp"></div>
			<div class="user">
				{handle}
			</div>
		</div>
		<div class="right" class:collapsed>
			<div class="icon fa fa-chevron-left" />
		</div>
	</button>
	{#if !collapsed}
		<div class="deploy" transition:transitionSlide={{ duration: 200 }}>
			<center>
				<TwoStepButton
					text="Unlink"
					css_class="button-square red"
					cancelable={true}
					flex_direction="row"
				>
					<button class="button-square invert" on:click={() => unlinkAccount(handle)}>
						Sure?
					</button>
				</TwoStepButton>
			</center>
		</div>
	{/if}
</button>

<style lang="scss">
	.missing-account {
		display: flex;
		flex-direction: column;
		user-select: none;

		&:hover .header .banner {
			opacity: 0.7;
		}

		.header {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-repeat: no-repeat;
			background-position: center;
			padding: 5px 10px 5px 5px;
			color: #fff;
			transition: calc(0.2s * var(--transition-speed));

			.banner,
			& {
				border-radius: 5px 5px 5px 5px;
			}

			&:not(.collapsed),
			&:not(.collapsed) .banner {
				border-radius: 5px 5px 0px 0px;
			}

			.banner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				filter: brightness(0.7);
				transition: calc(0.2s * var(--transition-speed));

				:global(img) {
					width: 100%;
				}
			}

			.left {
				max-width: calc(100% - 40px);
				z-index: 1;
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 10px;

				.pp {
					position: relative;
					width: 45px;
					height: 45px;
				}

				.user {
					max-width: 100%;
					text-shadow: 1px 1px 0px black;
					overflow: hidden;
					text-overflow: ellipsis;
					opacity: 0.9;
				}
			}

			.right {
				z-index: 1;
				position: relative;
				padding: 0px 5px;

				transform: rotate(-90deg);
				transition: calc(0.2s * var(--transition-speed));

				&.collapsed {
					transform: rotate(0);
				}

				.icon {
					font-size: calc(var(--font-size) + 3px);
				}
			}
		}

		.deploy {
			padding: 10px 0px;
			background-color: rgb(var(--header-inner));
			border-radius: 0px 0px 5px 5px;
			cursor: default;

			center {
				margin-top: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 15px;
			}
		}
	}
</style>
