<script lang="ts">
	import { onDestroy } from 'svelte';
	import { dndzone } from 'svelte-dnd-action';

	import AccountContainer from './Account.svelte';
	import Logout from '../../Global/Logout.svelte';
	import LoginToAnotherAccount from './LoginToAnotherAccount.svelte';
	import AccountMissing from './AccountMissing.svelte';

	import {
		stAccounts,
		type TootDeckAccount,
		Account,
		stMe,
	} from '../../../stores/Account/Accounts';
	import { stOptionsReadOnly } from '../../../stores/Options';
	import { stExpandedPanel } from '../../../stores/ExpandedPanel';

	import { notypecheck } from '../../../lib/Utils/js/notypecheck';
	import { KeyboardHandler } from '../../../lib/KeyboardHandler';

	let items_list: Array<TootDeckAccount & { id: number }>;
	$: items_list = AccountMapToArrayID($stAccounts);

	function AccountMapToArrayID(accounts: Map<string, TootDeckAccount>) {
		return Array.from(accounts.values()).map((account, id) => ({ ...account, id }));
	}

	function handleDndConsider(e: any) {
		items_list = e.detail.items;
	}

	function handleDndFinalize(e: any) {
		items_list = e.detail.items;

		Account.reorder(items_list);
	}

	let reorder: boolean = false;

	function getMissing() {
		let i = 0;
		const loaded_handles = Array.from($stAccounts.keys());

		const missing: Array<{ handle: string; id: number }> = $stMe
			.map((x) => {
				const handle = x.username + '@' + x.domain;
				if (loaded_handles.includes(handle)) {
					return;
				}

				return {
					id: ++i,
					handle,
				};
			})
			.filter((x) => x) as any;

		return missing;
	}

	KeyboardHandler.subscribe('ExpandedPanel:Account', 'Escape', (e) => {
		if (reorder) {
			reorder = false;
			return true;
		}

		return false;
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe('ExpandedPanel:Account', 'Escape');
	});
</script>

<div class="accounts-container">
	<header>
		<div class="title caps-lock">Accounts</div>
		<div class="right" class:stack={$stExpandedPanel.length > 1}>
			<button class="reorder" class:active={reorder} on:click={() => (reorder = !reorder)}>
				{#if reorder}
					Finish
				{:else}
					Reorder
				{/if}
			</button>
			<!-- <ButtonCloseColumn /> -->
		</div>
	</header>
	<div class="scrollable">
		{#if $stOptionsReadOnly}
			<div class="missing">
				<div class="title caps-lock">Unavailable</div>
				<div class="missing-accounts">
					{#each getMissing() as acc (acc.id)}
						<AccountMissing handle={acc.handle} />
					{/each}
				</div>
			</div>
		{/if}
		{#if reorder}
			<div
				class="accounts"
				{...notypecheck({
					'on:consider': true,
					'on:finalize': true,
				})}
				use:dndzone={{
					items: items_list,
					type: 'accounts',
					dropFromOthersDisabled: true,
					dropTargetStyle: { border: 'none' },
				}}
				on:consider={handleDndConsider}
				on:finalize={handleDndFinalize}
			>
				{#each items_list as acc (acc.id)}
					<AccountContainer account={acc} reorder={true} lock={true} />
				{/each}
			</div>
		{:else}
			<div class="accounts">
				{#each items_list as acc (acc.id)}
					<AccountContainer account={acc} lock={false} />
				{/each}
			</div>
		{/if}
	</div>
	<div class="wrapper">
		<LoginToAnotherAccount />
		<Logout />
	</div>
</div>

<style lang="scss">
	:global(.theme-light) {
		.accounts-container {
			header {
				.right {
					.reorder {
						&:hover {
							opacity: 0.7;
							background-color: #fff;
						}
					}
				}
			}
		}
	}

	.accounts-container {
		min-width: var(--column-width);
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		header {
			height: var(--column-header-height);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0px 10px;
			background-color: rgb(var(--background));
			font-weight: 500;
			flex-shrink: 0;

			.title {
				font-weight: bold;
			}

			.right {
				margin-right: 40px;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				transition: calc(0.1s * var(--transition-speed));

				&.stack {
					margin-right: 70px;
				}

				.reorder {
					padding: 2.5px 5px;
					border: 1px solid rgb(var(--text));
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}

					&.active {
						&:hover {
							color: #000;
							background-color: #fff;
						}
					}
				}
			}
		}

		.scrollable {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 10px 0px;
			box-sizing: border-box;
			overflow-y: auto;
			background-color: rgb(var(--light));

			.accounts {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 0px 10px;
				height: 100%;
			}

			.missing {
				border: 2px solid rgb(var(--background));
				border-radius: 5px;
				padding: 10px;
				margin: 0px 10px 10px;
				box-sizing: border-box;

				.title {
					font-weight: bold;
					text-align: center;
					margin-bottom: 10px;
				}

				.missing-accounts {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
			}
		}

		.wrapper {
			padding: 20px 10px;
			background-color: rgb(var(--header));
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
	}
</style>
