<script lang="ts">
	import { tick } from 'svelte';

	import Dashboard from '../pages/Dashboard.svelte';

	import { initStores } from '../stores/initDashboard';

	export let ready: boolean;

	async function init_stores() {
		return initStores().then(async (value) => {
			await tick();
			return (ready = value);
		});
	}
</script>

{#await init_stores() then success}
	{#if success}
		<Dashboard bind:ready />
	{/if}
{/await}
