<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import type { ParsedAccount } from '../../../types/contentParsed';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let checked: boolean = false;
	export let disabled: boolean = false;
</script>

<button
	class="account"
	class:disabled
	on:click={() => {
		if (disabled) {
			ExpandedPanel.update({
				state: ExpandedPanelState.Profile,
				account,
				status_account: status_account,
			});
			return;
		}
		eventDispatcher('click', account);
	}}
>
	<div class="left">
		<div class="pp">
			<Img
				src={$rdOptionsAppearanceAnimationAnimateGifAvatar
					? status_account.avatar
					: status_account.avatar_static}
				alt="{status_account.username} profile picture"
				width="45px"
				height="45px"
			/>
		</div>
		<div class="user">
			<DisplayName {status_account} show_lock={true} bold={true} />
			<div class="username">@{status_account.acct}</div>
		</div>
	</div>
	<div class="right">
		<div class="checkbox" class:checked />
	</div>
</button>

<style lang="scss">
	.account {
		max-width: 90vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		user-select: none;

		&.disabled {
			.checkbox {
				display: none;
			}
		}

		.left {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			overflow: hidden;

			.pp {
				position: relative;
				width: 45px;
				height: 45px;

				:global(img) {
					border-radius: 100%;
				}
			}

			.user {
				overflow: hidden;
				text-overflow: ellipsis;

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.right {
			.checkbox {
				background-color: transparent;
				width: 10px;
				height: 10px;
				border: 1px solid rgb(var(--text));

				&.checked {
					background: rgb(var(--accent));
					box-shadow: inset 0px 0px 1.25px 0px rgb(var(--text));
				}
			}
		}
	}
</style>
