<script lang="ts">
	import SkinToneSelector from './SkinToneSelector.svelte';
	import StyleSelector from './StyleSelector.svelte';
	import Emoji from '../EmojisGrid/Emoji.svelte';

	import { addColons } from '../../lib/utils/addColons';
	import { typedGetContext } from '../../lib/utils/typedContext';

	import type { EmojiIndexed } from '../../types/emoji.types';
	import type { PickerProps } from '../../types/picker.types';

	export let Props: PickerProps;

	/** Receive hovered emoji from Emoji.svelte */
	let hovered_emoji = typedGetContext('hovered_emoji');
</script>

<div class="preview" dir={Props.i18n.rtl ? 'rtl' : 'ltr'}>
	<div class="up">
		<Emoji {Props} emoji={$hovered_emoji ?? Props.dataset.emojis['point_up']}></Emoji>
	</div>
	{#if $hovered_emoji}
		<div class="info">
			<div class="name">{$hovered_emoji.name}</div>
			<div class="aliases">{addColons($hovered_emoji.id)}</div>
		</div>
	{:else}
		<div
			class="text"
			class:smaller={['be', 'fr', 'pt', 'ru', 'sa', 'uk'].includes(Props.language)}
			class:smallest={Props.language === 'vi'}
		>
			{Props.i18n.pick}
		</div>
	{/if}
	<SkinToneSelector {Props}></SkinToneSelector>
	{#if Props.styleSelector}
		<StyleSelector {Props}></StyleSelector>
	{/if}
</div>

<style lang="scss">
	.preview {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		width: 100%;
		height: 68px;
		padding: 16px;

		&::before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			height: 2px;
			width: 100%;
			background: linear-gradient(to bottom, #ffffff1a, transparent);
		}

		.up {
			:global(.emoji) {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				font-size: 36px;
				flex-shrink: 0;
				cursor: default;

				&:hover {
					background-color: transparent;
				}
			}
		}

		.text {
			width: 100%;
			font-size: 21px;
			color: rgba(var(--text-color), 0.65);
			opacity: 0.65;
			flex-grow: 1;
			user-select: none;

			&.smaller {
				font-size: 16px;
			}

			&.smallest {
				font-size: 14px;
			}
		}

		.info {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			.name {
				color: rgba(var(--text-color), 1);
			}

			.aliases {
				color: rgba(var(--text-color), 0.45);
			}
		}
	}
</style>
