<script lang="ts">
	import Selector from './Selector/Selector.svelte';
	import Button from './Selector/Button.svelte';
	import Style from './Style.svelte';

	import { adjustTextContrast } from '../../lib/componentFunctions/adjustTextContrast';
	import { capitalize } from '../../lib/utils/capitalize';

	import { emojiStyles, type EmojiStyle, type PickerProps } from '../../types/picker.types';

	export let Props: PickerProps;

	let show: boolean = false;

	function changeStyle(selected_style: string) {
		Props.instance.onStyleChange(selected_style as EmojiStyle);

		show = false;
	}
</script>

<Button bind:show>
	<div class="style" class:little={show}>
		<Style style={Props.style}></Style>
	</div>
</Button>
{#if show}
	<Selector
		data={emojiStyles.map((style, id) => ({ id, style }))}
		dir={Props.i18n.rtl ? 'rtl' : 'ltr'}
		x={'0px'}
		color={adjustTextContrast(Props)}
		let:data={{ style }}
		bind:show
		isChecked={({ style }) => Props.style === style}
	>
		<button tabindex="-1" on:click={() => changeStyle(style)}>
			<div class="style">
				<Style {style}></Style>
			</div>
			<div class="text">{capitalize(style)}</div>
		</button>
	</Selector>
{/if}

<style lang="scss">
	.style {
		width: 16px;
		height: 16px;

		&.little {
			width: 14px;
			height: 14px;

			:global(img) {
				vertical-align: top;
			}
		}
	}

	button {
		all: unset;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		.style {
			position: relative;
			width: 16px;
			height: 16px;
			border-radius: 100%;
			overflow: hidden;
			transition-duration: 225ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		.text {
			color: rgb(var(--text-color));
		}
	}
</style>
