<script lang="ts">
	import { EmojiIconsStyles } from '../../assets/EmojiIconsStyles';

	export let style: string;
</script>

{#if style === 'native'}
	<span class="native">😊</span>
{:else}
	<img
		src={EmojiIconsStyles[style]}
		alt={`${style} smiling face with smiling eyes`}
		width="100%"
		height="100%"
	/>
{/if}

<style lang="scss">
	.native {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
	}
</style>
