<script lang="ts">
	import InputSuggestion from './InputSuggestion.svelte';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	import { ComposerSuggestionTarget, type Composer } from '../../types/composer';

	export let composer: Composer;

	const { toggle, language, content_warning, suggestion_target } = composer;
	const { content_warning: show_content_warning } = toggle;

	let element: HTMLInputElement;

	$: if (element) {
		element.focus();
	}
</script>

{#if $show_content_warning}
	<div class="content-warning" transition:transitionSlide={{ duration: 200 }}>
		<input
			type="text"
			lang={$language}
			spellcheck="true"
			placeholder="Write your warning here"
			bind:this={element}
			bind:value={$content_warning}
			on:focus={() => ($suggestion_target = ComposerSuggestionTarget.Input)}
		/>
	</div>
	<InputSuggestion {composer} target={ComposerSuggestionTarget.Input} {element} on:publish />
{/if}

<style lang="scss">
	.content-warning {
		width: 100%;
		background-color: rgb(var(--composer));
		border-radius: 10px;
		margin-bottom: 10px;

		input {
			all: unset;
			width: 100%;
			padding: 10px 15px;
			box-sizing: border-box;
		}
	}
</style>
