<script lang="ts">
	import { format } from 'date-fns';

	import { getHandleFromAccount } from '../../lib/Utils/handle/getHandleFromAccount';

	import type { Composer } from '../../types/composer';
	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	export let composer: Composer;

	const {
		account,
		remaining_char,
		content_warning,
		edition,
		language,
		media,
		poll,
		replying_to_accounts,
		replying_to_status,
		found,
		search,
		text,
		toggle,
		invalid,
		visibility,
		selector,
		added_media,
		quote,
		lite,
		sending_media,
		sensitive,
		picked_emoji,
	} = composer;
	const { content_warning: show_content_warning, poll: show_poll, clear } = toggle;
	const { tag: search_tag, emoji: search_emoji, hashtag: search_hashtag } = search;
	const { tag: found_tag, emoji: found_emoji, hashtag: found_hashtag } = found;
	const {
		tag: show_selector_tag,
		emoji: show_selector_emoji,
		visibility: show_selector_visibility,
		hashtag: show_selector_hashtag,
	} = selector;

	function mapID(array: Array<any>) {
		return array.map((v, id) => ({ id, ...v }));
	}
</script>

<div transition:transitionSlide={{ duration: 200 }}>
	<!-- Composer metadata -->
	Using account = {getHandleFromAccount($account.entity, true)}<br />
	Edition = <span class:true={$edition}>{$edition}</span><br />
	Quote = <span class:true={$quote}>{$quote}</span><br />
	Lite = <span class:true={lite}>{lite}</span><br />
	Invalid = <span class:true={$invalid}>{$invalid}</span><br />
	Char remaining = {$remaining_char}<br />
	<br />
	<!-- Replying to -->
	Replying to status<br />
	{#if $replying_to_status}
		{'{'}<br />
		<span class="tab"></span>
		id = {$replying_to_status.id}<br />
		<span class="tab"></span>
		acct = {$replying_to_status.account.acct}<br />
		{'}'}<br />
	{/if}
	Replying to accounts<br />
	{#each $replying_to_accounts as acc (acc.id)}
		{'{'}<br />
		<span class="tab"></span>
		id = {acc.id}<br />
		<span class="tab"></span>
		acct = {acc.acct}<br />
		<span class="tab"></span>
		username = {acc.username}<br />
		<span class="tab"></span>
		url = {acc.url}<br />
		<span class="tab"></span>
		enabled = <span class:true={acc.enable_reply}>{acc.enable_reply}</span><br />
		{'}'}<br />
	{/each}
	<!-- Create status data -->
	Content Warning = {$content_warning}<br />
	Text = {$text}<br />
	Media<br />
	{#each mapID($media) as m (m.id)}
		{'{'}<br />
		<span class="tab"></span>
		name = {m.name}<br />
		<span class="tab"></span>
		type = {m.type}<br />
		<span class="tab"></span>
		size = {m.size}<br />
		<span class="tab"></span>
		local alt = {m.description.text}<br />
		<span class="tab"></span>
		instance id = {m.uid}<br />
		<span class="tab"></span>
		instance src = {m.src}<br />
		<span class="tab"></span>
		instance alt = {m.alt}<br />
		{'}'}<br />
	{/each}
	Poll<br />
	{#if $show_poll}
		<span class="tab"></span>
		Expires = {$poll.expires_in} ({format(
			new Date(new Date().valueOf() + $poll.expires_in * 1000),
			'dd MMM yyyy HH:mm'
		)})<br />
		<span class="tab"></span>
		Multiple = <span class:true={$poll.multiple}>{$poll.multiple}</span><br />
		<span class="tab"></span>
		Hide totals = <span class:true={$poll.hide_totals}>{$poll.hide_totals}</span><br />
		<span class="tab"></span>
		Options = "{$poll.options.join('", "')}"<br />
	{/if}
	Language = {$language}<br />
	Visibility = {$visibility}<br />
	Sensitive = {$sensitive}<br />
	<!-- Composer metadata -->
	<br />
	Added media<br />
	{#each mapID($added_media) as m (m.id)}
		{'{'}<br />
		<span class="tab"></span>
		name = {m.name}<br />
		<span class="tab"></span>
		type = {m.type}<br />
		<span class="tab"></span>
		size = {m.size}<br />
		{'}'}<br />
	{/each}

	<br />
	Sending info<br />
	{#each mapID($sending_media) as m (m.id)}
		{'{'}<br />
		<span class="tab"></span>
		id = {m.id}<br />
		<span class="tab"></span>
		uid = {m.uid}<br />
		<span class="tab"></span>
		size = {m.size}<br />
		<span class="tab"></span>
		sent_size = {m.sent_size}<br />
		<span class="tab"></span>
		processed = <span class:true={m.processed}>{m.processed}</span><br />
		{'}'}<br />
	{/each}
	<br />
	<!-- Composer metadata -->
	Toggled<br />
	<span class="tab"></span>
	Content Warning:
	<span class:true={$show_content_warning}>{$show_content_warning}</span><br />
	<span class="tab"></span>
	Poll = <span class:true={$show_poll}>{$show_poll}</span><br />
	<span class="tab"></span>
	Clear = <span class:true={$clear}>{$clear}</span><br />
	<br />
	<!-- Shortcut -->
	Selector<br />
	<span class="tab"></span>
	tag = <span class:true={$show_selector_tag}>{$show_selector_tag}</span><br />
	<span class="tab"></span>
	emoji = <span class:true={$show_selector_emoji}>{$show_selector_emoji}</span><br />
	<span class="tab"></span>
	visibility = <span class:true={$show_selector_visibility}>{$show_selector_visibility}</span><br
	/>
	<span class="tab"></span>
	hashtag = <span class:true={$show_selector_hashtag}>{$show_selector_hashtag}</span><br />
	Search<br />
	<span class="tab"></span>
	tag = {$search_tag}<br />
	<span class="tab"></span>
	emoji = {$search_emoji}<br />
	<span class="tab"></span>
	hashtag = {$search_hashtag}<br />
	Found<br />
	<span class="tab"></span>
	tag = {$found_tag}<br />
	<span class="tab"></span>
	emoji = {$found_emoji}<br />
	<span class="tab"></span>
	hashtag = {$found_hashtag}<br />
	picked_emoji = {$picked_emoji}<br />
</div>

<style lang="scss">
	span {
		color: rgb(var(--red));

		&.true {
			color: rgb(var(--reblog-color));
		}

		&.tab {
			padding-left: 2em;
		}
	}
</style>
