<script lang="ts">
	import { onDestroy, onMount, tick } from 'svelte';

	import { rdOptionsBehaviorInstance } from '../../stores/Options';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';
	import { swap } from '../../lib/Utils/js/swap';
	import { KeyboardHandler } from '../../lib/KeyboardHandler';

	import type { Composer } from '../../types/composer';

	export let composer: Composer;
	const { poll, account } = composer;

	let instance_overrides = $rdOptionsBehaviorInstance[$account.mirrorAPI.domain];
	let max_options: number = instance_overrides.poll_max_options ?? 4;
	let max_characters_per_option: number = instance_overrides.poll_max_characters_per_option ?? 50;

	$: {
		instance_overrides = $rdOptionsBehaviorInstance[$account.mirrorAPI.domain];
		max_options = instance_overrides.poll_max_options ?? 4;
		max_characters_per_option = instance_overrides.poll_max_characters_per_option ?? 50;
	}

	// let max_options: number = $account.instance.configuration.polls?.max_options;
	type PollIndexes = Array<{ id: number; uid: number }>;

	let choice_ids: PollIndexes = initIndexes($poll.options.length || 2);

	function initIndexes(id: number) {
		const choices: PollIndexes = [];

		for (let i = 0; i < id; i++) {
			choices.push({
				id: i,
				uid: i,
			});
		}

		return choices;
	}

	function fillIndexes(id: number) {
		for (let i = 0; i < id; i++) {
			const index = choice_ids[i];

			if (index) {
				swap($poll.options, i, choice_ids[i].id);
				choice_ids[i].id = i;
			} else {
				choice_ids.push({
					id: i,
					uid: (choice_ids.at(-1)?.uid ?? 0) + 1,
				});
			}
		}

		for (let i = $poll.options.length; i > choice_ids.length; i--) {
			$poll.options[i - 1] = '';
		}

		$poll.options = $poll.options.filter((x) => x);
	}

	function writeChoice(id: number, text: string) {
		$poll.options[id] = text.replace(/^\ +/, '');
	}

	function keyHandler(e: KeyboardEvent, id: number) {
		writeChoice(id, (e.target as HTMLInputElement).value);
	}

	let container: HTMLDivElement;

	function focus(index: number) {
		const input = container.children[index].children[2] as HTMLElement;
		if (input) {
			input.focus();
		}
	}

	async function AddOption() {
		if (choice_ids.length >= max_options) {
			return;
		}

		if (choice_ids.length < max_options) {
			fillIndexes(choice_ids.length + 1);
		}

		await tick();

		focus(choice_ids.length - 1);
	}

	function removeOption(id: number) {
		if (choice_ids.length <= 2) {
			return false;
		}

		choice_ids = choice_ids.filter((x) => x.id !== id);
		fillIndexes(choice_ids.length);

		return true;
	}

	KeyboardHandler.subscribe('Composer:Poll:Delete', 'Delete', (e) => {
		const target = e.target as HTMLInputElement;
		if (!target || target.nodeName !== 'INPUT' || target.dataset.id === undefined) {
			return false;
		}

		return removeOption(+target.dataset.id);
	});

	onMount(() => {
		focus(0);
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe('Composer:Poll:Delete', 'Delete');
	});
</script>

<div class="poll-container" bind:this={container} out:transitionSlide={{ duration: 200 }}>
	{#each choice_ids as n (n.uid)}
		<div class="choice" transition:transitionSlide={{ duration: 200 }}>
			<input
				type="checkbox"
				id="poll-multi-choice-{n.id}"
				checked={$poll.multiple}
				on:change={() => ($poll.multiple = !$poll.multiple)}
			/>
			<label for="poll-multi-choice-{n.id}"></label>
			<input
				tabindex="1"
				type="text"
				placeholder="Choice {n.id + 1}"
				maxlength={max_characters_per_option}
				data-id={n.id}
				value={$poll.options[n.id] ?? ''}
				on:keyup={(e) => keyHandler(e, n.id)}
			/>
			<div class="count">
				{$poll.options[n.id]
					? max_characters_per_option - $poll.options[n.id]?.length
					: max_characters_per_option}
			</div>
			<button
				class="remove"
				class:lock={choice_ids.length === 2}
				on:click={() => removeOption(n.id)}
			>
				<div class="fa fa-times" />
			</button>
		</div>
	{/each}
	<div class="options" transition:transitionSlide={{ duration: 200 }}>
		<button
			tabindex="2"
			class="add"
			class:disabled={choice_ids.length >= max_options}
			class:error={choice_ids.length > max_options}
			on:click={() => AddOption()}
		>
			{#if choice_ids.length > max_options}
				Too many choices
			{:else}
				Add a choice
			{/if}
		</button>
		<select tabindex="2" name="expires" bind:value={$poll.expires_in}>
			<option value={60 * 5}>5 mins</option>
			<option value={60 * 30}>30 mins</option>
			<option value={60 * 60}>1 hour</option>
			<option value={60 * 60 * 6}>6 hours</option>
			<option value={60 * 60 * 12}>12 hours</option>
			<option value={60 * 60 * 24}>1 day</option>
			<option value={60 * 60 * 24 * 3}>3 days</option>
			<option value={60 * 60 * 24 * 7}>7 days</option>
		</select>
	</div>
</div>

<style lang="scss">
	.poll-container {
		display: flex;
		flex-direction: column;
		padding: 10px;

		.choice {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			gap: 10px;
			margin-bottom: 10px;

			input[type='checkbox'] {
				display: none;

				&:checked + label {
					border-radius: 0%;
				}
			}

			label {
				width: 20px;
				height: 20px;
				border: 1px solid #696969;
				border-radius: 100%;
				flex-shrink: 0;
				cursor: pointer;
			}

			input[type='text'] {
				all: unset;
				border: 1px solid #696969;
				width: 100%;
				height: 35px;
				padding: 0px 35px 0px 10px;
				box-sizing: border-box;
			}

			.count {
				opacity: 0.75;
				position: absolute;
				right: 50px;
			}

			.remove {
				width: 35px;
				height: 35px;
				display: grid;
				justify-content: center;
				align-content: center;
				border-radius: 100%;
				padding: 0px 5px;
				transition: calc(0.1s * var(--transition-speed));

				&:hover {
					background-color: #414141;
				}

				&:active {
					background-color: #595959;
				}

				&.lock {
					opacity: 0;
					pointer-events: none;
				}
			}
		}

		.options {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 20px;

			.add {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgb(var(--accent));
				color: rgb(var(--text-button));
				border-radius: 20px;
				padding: 5px 10px;

				&:not(.error)::before {
					content: '+';
					font-size: calc(var(--font-size) + 6px);
					font-weight: bold;
					color: rgb(var(--text-button));
					padding-right: 5px;
				}

				&:not(.disabled):hover {
					filter: brightness(1.2);
				}

				&:not(.disabled):active {
					filter: brightness(1.4);
				}

				&.disabled {
					filter: grayscale(1);
				}

				&.error {
					filter: grayscale(0);
					background-color: rgb(var(--red));
					cursor: default;
					height: 38px;
				}
			}

			select {
				padding-left: 10px;
				background-color: rgb(var(--background));
				border: 1px solid #696969;
				color: rgb(var(--text));
			}
		}
	}
</style>
