<script lang="ts">
	import InputCheckbox from '../Global/Inputs/InputCheckbox.svelte';

	import type { Composer } from '../../types/composer';

	export let composer: Composer;

	const { sensitive } = composer;
</script>

<div class="sensitive">
	<InputCheckbox
		text="Mark media as sensitive"
		checked={$sensitive}
		on:click={() => ($sensitive = !$sensitive)}
	/>
</div>

<style lang="scss">
	.sensitive {
		margin: 5px 0px;
		flex-shrink: 0;
	}
</style>
