<script lang="ts">
	import { onMount } from 'svelte';

	import ButtonEmoji from './Emoji/Button.svelte';
	import InputSuggestion from './InputSuggestion.svelte';

	import { ComposerSuggestionTarget, type Composer } from '../../types/composer';

	export let composer: Composer;
	export let placeholder: string;
	export let textarea: HTMLTextAreaElement;

	const { account, language, text, added_media, quote, lite, suggestion_target } = composer;

	onMount(() => {
		setTimeout(() => {
			if ($quote) {
				textarea.setSelectionRange(0, 0);
			} else {
				const len = $text.length;
				textarea.setSelectionRange(len, len);
			}

			textarea.focus();
		});
	});

	$: if (textarea && $account) {
		textarea.focus();
	}

	/**
	 * Keyboard shortcut handlers
	 */
	// #region

	function clipboard(e: ClipboardEvent) {
		const files = e?.clipboardData?.files;
		if (files) {
			$added_media = Array.from(files);
		}
	}

	// #endregion
</script>

<div class="textarea">
	<textarea
		tabindex="0"
		class:lite
		{placeholder}
		lang={$language}
		spellcheck="true"
		bind:this={textarea}
		bind:value={$text}
		on:paste={clipboard}
		on:focus={() => ($suggestion_target = ComposerSuggestionTarget.Textarea)}
	/>
	<InputSuggestion
		{composer}
		target={ComposerSuggestionTarget.Textarea}
		element={textarea}
		on:publish
	></InputSuggestion>
	{#if !lite}
		<ButtonEmoji {composer} />
	{/if}
</div>

<style lang="scss">
	.textarea {
		position: relative;
		display: flex;
		flex-direction: row;

		textarea {
			all: unset;
			width: calc(100% - 40px);
			height: 150px;
			padding: 10px 5px 10px 15px;
			box-sizing: border-box;
			white-space: pre-wrap;
			overflow-wrap: break-word;

			&.lite {
				width: 100%;
				padding: 10px 15px;
			}
		}
	}
</style>
