<script lang="ts">
	import Thread from './Thread.svelte';
	import Header from '../Header/Container.svelte';
	import StatusesContainer from '../StatusesContainer.svelte';
	import NotificationsContainer from '../NotificationsContainer.svelte';

	import { Layout, type IndexedLayoutColumn } from '../../../stores/Columns/Layout';
	import {
		rdOptionsAppearanceBorderColumn,
		rdOptionsBehaviorColumnThreadOpenInAnotherColumn,
		// rdOptionsAppearanceColumnWidth,
	} from '../../../stores/Options';

	import VirtualScroll from '../../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import { columnFactory } from '../../../lib/Columns/ColumnFactory';
	import { TootDeckColumnIdentifier } from '../../../lib/Columns/TootDeckColumnTypes';
	import type { ThreadColumn } from '../../../lib/Columns/ThreadColumn';
	import { getThreadContext } from '../../../lib/ComponentFunctions/thread/generateThreadContent';
	// import { transitionFlyNoFade } from '../../../lib/Transitions/transitionOverride';
	import { scrollTopVirtualList } from '../../../lib/Utils/scroll';
	import { getRebloggedStatus } from '../../../lib/ComponentFunctions/getRebloggedStatus';
	import { calcSpeedFactor } from '../../../lib/Transitions/calcSpeedFactor';
	import { EventsManager } from '../../../lib/Events/EventsManager';
	import { TootDeckEvents } from '../../../lib/Events/TootDeckEvents';
	import { createAndInsertThreadColumn } from '../../../lib/ComponentFunctions/thread/createThreadColumn';
	import { getColumnPosition } from '../../../lib/ComponentFunctions/columns/getColumnPosition';
	import { QuoteManager } from '../../../lib/Managers/QuoteManager';
	import { ctrlKey } from '../../../lib/Utils/ctrlKey';
	import { createAndInsertHashtagColumn } from '../../../lib/ComponentFunctions/generateHashtagColumn';
	import { getHashtag } from '../../../lib/ContentParser/anchorsParser';

	import type { ParsedStatus } from '../../../types/contentParsed';
	import type { ThreadStatus, ThreadStack } from '../../../types/thread';

	export let props: IndexedLayoutColumn<any, any>;
	export let minimize: boolean;

	const options = props.options;

	let virtual_list: VirtualScroll;

	let status: ParsedStatus | null = null;
	let previous_state: ThreadStatus | null = null;
	let stack_id: number = 0;
	let stack: Array<ThreadStack> = [
		{
			id: stack_id,
			thread: null,
			column_instance: props.instance,
		},
	];

	function showLoading(p: ParsedStatus, instance: ThreadColumn) {
		const tmp_status: ThreadStatus = {
			id: '0',
			status: p,
			selected: true,
			lines: { up: false, down: false },
		};
		instance.append(tmp_status, true);

		stack.push({
			id: ++stack_id,
			loading: true,
			thread: instance.content,
			column_instance: instance,
		});
		stack = stack;
	}

	async function generateThread(p: ParsedStatus) {
		const status = getRebloggedStatus(p);

		const column_instance = columnFactory.create(TootDeckColumnIdentifier.Thread, {
			account: {
				username: props.account.entity.username,
				domain: props.account.mirrorAPI.domain,
			},
			options: {
				collapsed: false,
				sound_uuid: null,
				override_title: {
					toggle: false,
					value: null,
				},
			},
			main_column: props.instance,
		});

		p.animateIn = false;
		p.animateOut = false;

		showLoading(p, column_instance);

		// Get up to date status version
		EventsManager.sendEvent(TootDeckEvents.Status, {
			account: props.account,
			data: [await props.account.mirrorAPI.Statuses.get(status.id)],
		});

		const thread = await getThreadContext(props.account, status, column_instance);
		stack[stack_id].loading = false;
		if (!thread) {
			return;
		}

		stack[stack_id].thread = thread;

		stack = stack;
	}

	async function selectStatus(e: CustomEvent<MouseEvent>) {
		const { original, thread } = e.detail as any as {
			original: MouseEvent;
			thread: ThreadStatus;
		};

		// Open in a new column
		if (ctrlKey(original)) {
			const column_index = getColumnPosition(props.instance);
			await createAndInsertThreadColumn(props.account, thread.status, column_index);
			return;
		}

		if (thread === previous_state) {
			return;
		}
		previous_state = thread;

		// Open in the same column
		generateThread(thread.status);
	}

	function previousStack() {
		if (!stack[stack_id - 1]) {
			return;
		}

		stack_id--;

		const removed = stack.pop();
		previous_state = null;
		stack = stack;

		removed?.column_instance.destroy();
	}

	function clearStack() {
		stack_id = 0;
		stack = stack.filter((x) => {
			if (x.id !== 0) {
				x.column_instance.destroy();
				return false;
			}
			return true;
		});
	}

	function closeThread() {
		if (stack.length === 1) {
			const column = stack[0].column_instance;
			if (column.identifier === TootDeckColumnIdentifier.Thread) {
				column.destroy();
				Layout.delete(column.id);
			}
		} else {
			clearStack();
			status = null;
		}
	}

	/**
	 * Delay uncollapse for smooth transition
	 */
	let collapsed: boolean;

	function showContent() {
		if (!$options.collapsed) {
			setTimeout(() => {
				collapsed = $options.collapsed;
			}, calcSpeedFactor(300));
		} else {
			collapsed = $options.collapsed;
		}
	}

	$: {
		$options.collapsed;
		showContent();
	}

	/**
	 * Click handler
	 */
	// #region

	async function handleClick(e: MouseEvent, status: ParsedStatus) {
		// Open in a new column
		if (ctrlKey(e) || $rdOptionsBehaviorColumnThreadOpenInAnotherColumn) {
			const column_index = getColumnPosition(props.instance);
			await createAndInsertThreadColumn(props.account, status, column_index);
			return;
		}

		// Open in the same column
		generateThread(status);
	}

	function click(
		e: CustomEvent<{
			original: MouseEvent;
			status: ParsedStatus;
		}>
	) {
		const { original, status } = e.detail;
		handleClick(original, status);
	}

	function clickQuote(
		e: CustomEvent<{
			original: MouseEvent;
			url?: string;
			status?: ParsedStatus;
		}>
	) {
		const { original, url, status } = e.detail;
		if (!url && !status) {
			return;
		}

		if (status) {
			handleClick(original, status);
			return;
		}

		if (url) {
			const entity = QuoteManager.getSync(props.instance, url);
			if (entity === 'DEAD') {
				window.open(url, '_blank');
			} else {
				handleClick(original, entity!);
			}
		}
	}

	async function clickHashtag(
		e: CustomEvent<{
			original: MouseEvent;
			url: string;
		}>
	) {
		const { url } = e.detail;
		const index = getColumnPosition(props.instance);
		await createAndInsertHashtagColumn(props.account, getHashtag(url)!, index);
	}

	// #endregion
</script>

{#each stack as s (s.id)}
	<section
		class="column"
		class:border={$rdOptionsAppearanceBorderColumn}
		class:collapse={$options.collapsed}
		class:first={s.id === 0}
		class:hide={s.id !== stack.length - 1}
	>
		<!--
			FIXME: Randomly create a glitch causing the overlap of the colmns, very annoying
			transition:transitionFlyNoFade={{ x: $rdOptionsAppearanceColumnWidth, duration: 300 }}
		-->
		{#if s.column_instance.identifier === TootDeckColumnIdentifier.Thread}
			<Thread
				{props}
				stack={s}
				full_media_view={false}
				on:clickQuote={clickQuote}
				on:update={selectStatus}
				on:close={() => closeThread()}
				on:previous={() => previousStack()}
				on:hashtag={clickHashtag}
			/>
		{:else}
			<Header
				thread={false}
				{minimize}
				bind:column={props}
				on:click={() => scrollTopVirtualList(virtual_list)}
			/>
			{#if props.identifier.includes('Notifications')}
				<NotificationsContainer
					{props}
					bind:virtuallist={virtual_list}
					on:click={click}
					on:clickQuote={clickQuote}
					on:hashtag={clickHashtag}
				/>
			{:else}
				<StatusesContainer
					{props}
					bind:virtuallist={virtual_list}
					on:click={click}
					on:clickQuote={clickQuote}
					on:hashtag={clickHashtag}
				/>
			{/if}
		{/if}
	</section>
{/each}

<style lang="scss">
	.column {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		background-color: transparent;
		background-color: rgba(var(--column), var(--background-opacity));
		transform-origin: bottom left;
		// overflow: hidden;

		&.hide {
			opacity: 0;
		}

		&.border {
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 100%;
				background-color: rgb(var(--text));
				opacity: 0.2;
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
		}

		&.collapse {
			z-index: 0;
			top: calc(var(--column-header-height) * -1);
			transform: rotateZ(90deg);
			width: 100vh;
			height: var(--column-header-height);
			// background-color: rgb(var(--header));
		}
	}
</style>
