<script lang="ts">
	import { onClickTimeoutTransition } from '../../../lib/UseClick/clickTimeout';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';

	export let icon: string | null = null;
	export let title: string | null = null;
	export let account: string | null = null;
	export let height: string = '60px';
	export let color: string = '';
	export let profile: boolean = false;
</script>

<button
	{...notypecheck({
		'on:clickTimeout': true,
	})}
	use:onClickTimeoutTransition
	on:clickTimeout
	class="btn-icon caps-lock"
	style:height
	style:color
>
	{#if icon}
		{#if profile}
			<div class="profile">
				<div class="icon" style="background-image: url({icon})" />
			</div>
		{:else}
			<div class="icon" class:profile style="background-image: url({icon})" />
		{/if}
	{:else if !profile}
		<div class="icon-container">
			<slot />
		</div>
	{/if}
	<div class="container">
		{#if profile}
			<div class="text profile">
				<b><slot /></b>
			</div>
		{/if}
		{#if title}
			<div class="text">{title}</div>
		{/if}
		{#if account}
			<div class="account">{account}</div>
		{/if}
	</div>
</button>

<style lang="scss">
	.btn-icon {
		width: 100%;
		height: 60px;
		cursor: pointer;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		align-items: center;
		box-sizing: border-box;
		flex-shrink: 0;

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.3);
		}

		.profile {
			min-width: var(--sidebar-icon-width);
			height: 100%;
			display: grid;
			align-items: center;
			justify-items: center;

			.icon {
				min-width: 35px;
				height: 35px;
				background-size: contain;
				border-radius: 100%;
			}
		}

		.icon {
			min-width: var(--sidebar-icon-width);
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60%;
		}

		.icon-container {
			min-width: var(--sidebar-icon-width);
			height: 100%;
			padding: 5px;
			box-sizing: border-box;
			display: grid;
			align-items: center;
			justify-items: center;
		}

		.container {
			width: calc(100% - var(--sidebar-icon-width));
			display: flex;
			flex-direction: column;
			justify-content: center;

			.text {
				width: 140px;
				display: grid;
				align-items: center;
				justify-items: start;
			}

			.account {
				opacity: 0.7;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 0.8rem;
			}
		}
	}
</style>
