<script lang="ts">
	import { onDestroy } from 'svelte';

	import Img from '../../Global/Img.svelte';
	import Collapse from '../../Global/Collapse.svelte';

	import { stAccounts } from '../../../stores/Account/Accounts';
	import {
		init,
		rdOptionalFeaturesWorker,
		rdOptionalFeaturesCacheStatusInteractions,
		rdOptionalFeaturesCacheStatusReactions,
		rdOptionalFeaturesCacheTwitterEmbed,
		rdOptionalFeaturesChangelog,
	} from '../../../stores/OptionalFeatures';
	import { stRelationshipBuildDate } from '../../../stores/init';
	import { rdOptionsAppearanceExtraPrideLogoSrc } from '../../../stores/Options';

	import { TootDeckAPI } from '../../../lib/APIs/TootDeckAPI/TootDeckAPI';
	import type { ApiResponseTime } from '../../../lib/APIs/TootDeckAPI/Methods/types';
	import { addThousandSeparator } from '../../../lib/Utils/number/addThousandSeparator';
	import { compactBigNumber } from '../../../lib/Utils/number/compactBigNumber';
	import { init as initRelationship } from '../../../lib/Cache/Relationships';
	import { VERSION } from '../../../lib/Constants/Version';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import { prideLogo } from '../../../assets/prideLogo';

	let times: ApiResponseTime | null = null;
	let waiting: boolean = false;

	async function load() {
		if (waiting) {
			return true;
		}
		waiting = true;
		times = await TootDeckAPI.Others.stats();
		waiting = false;
		return times;
	}

	load();

	let cache_size = getCacheSize();

	function getCacheSize() {
		const accounts = Array.from($stAccounts);

		let relationship_size = {
			map_size: 0,
			footprint: 0,
		};
		for (const [_, account] of accounts) {
			const size = account.relationship.getSize();
			relationship_size.map_size += size.map_size;
			relationship_size.footprint += size.footprint;
		}

		return {
			relationship: relationship_size,
		};
	}

	function clearRelationshipsCache() {
		const accounts = Array.from($stAccounts);
		accounts.forEach(([_, account]) => account.relationship.clearCache());

		cache_size = getCacheSize();
	}

	const FIVE_MINS = 5 * 60;

	let can_rebuild: boolean;
	$: {
		ticker;
		can_rebuild = new Date().valueOf() - $stRelationshipBuildDate > FIVE_MINS * 1000; // Space rebuild by 5mins
	}

	let ticker: boolean = false;
	const inter = setInterval(() => (ticker = !ticker), 1000);

	function tickRebuild(_: boolean) {
		const d = new Date().valueOf();
		return Math.floor(($stRelationshipBuildDate - d + FIVE_MINS * 1000) / 1000);
	}

	async function rebuildRelationshipsCache() {
		if (can_rebuild) {
			clearRelationshipsCache();
			await initRelationship();
			setTimeout(() => (cache_size = getCacheSize()), 500);
		}
	}

	onDestroy(() => clearInterval(inter));

	init();

	let collapsed: boolean = true;
</script>

<div class="about">
	<header>
		<Img
			src={prideLogo[$rdOptionsAppearanceExtraPrideLogoSrc] ?? 'tootdeck.svg'}
			alt={`TootDeck ${$rdOptionsAppearanceExtraPrideLogoSrc} logo`}
			width="50px"
		/>
		<h1>
			TootDeck <b>{VERSION}</b>
		</h1>
	</header>
	<p>Open the <a href="/dashboard" {...ANCHOR_ARGS}><b>Dashboard</b></a></p>
	{#if $rdOptionalFeaturesChangelog}
		<Collapse bind:collapsed>
			<svelte:fragment slot="button-content">
				{#if collapsed}
					Show
				{:else}
					Hide
				{/if}
				{' '}changelog
			</svelte:fragment>
			{#await import('../../../components/Changelog/Container.svelte') then Changelog}
				<div style:width={'625px'}>
					<svelte:component this={Changelog.default}></svelte:component>
				</div>
			{/await}
		</Collapse>
	{/if}
	<div class="response-time">
		<h2>API Stats</h2>
		{#await load() then result}
			{#if result && times}
				<div class="average">
					Average response time of <b>{times.average.toFixed(2)}</b> ms
				</div>
				<div class="count">Total requests <b>{times.count}</b></div>
				<div class="last">Last request took <b>{times.last.toFixed(2)}</b> ms</div>
			{:else if !waiting}
				Failed to load
			{/if}
		{/await}
		<button on:click={() => load()} class:waiting>{waiting ? 'Loading' : 'Refresh'}</button>
	</div>
	<div class="cache-size">
		<h2>Cache</h2>
		<div class="relationships">
			<div class="btn">
				<h3>Relationships</h3>
				<button class:locked={!can_rebuild} on:click={() => rebuildRelationshipsCache()}
					>{can_rebuild
						? 'Rebuild'
						: `Rebuild will be available in ${tickRebuild(ticker)}s`}</button
				>
			</div>
			<div>
				Cached relationships <b>{addThousandSeparator(cache_size.relationship.map_size)}</b>
			</div>
			<div>
				Cache footprint <b
					>{compactBigNumber(cache_size.relationship.footprint, { space_suffix: true }) ||
						'0'}</b
				>
			</div>
		</div>
		<button on:click={() => (cache_size = getCacheSize())}>Refresh</button>
	</div>
	<div class="server-features">
		<h2>Server features</h2>
		<div class="tab">
			{#if !$rdOptionalFeaturesWorker && ($rdOptionalFeaturesCacheStatusInteractions || $rdOptionalFeaturesCacheStatusReactions || $rdOptionalFeaturesCacheTwitterEmbed)}
				<p style="color: rgb(var(--favourite-color));">
					{#if $rdOptionalFeaturesCacheStatusInteractions && $rdOptionalFeaturesCacheStatusReactions && $rdOptionalFeaturesCacheTwitterEmbed}
						These
					{:else if $rdOptionalFeaturesCacheStatusInteractions || $rdOptionalFeaturesCacheStatusReactions || $rdOptionalFeaturesCacheTwitterEmbed}
						Some of these
					{/if} features are <b>enabled</b> but there is no available worker.
				</p>
				<b></b>
			{/if}
			<p>Remote fetch status interactions</p>
			<b>{$rdOptionalFeaturesCacheStatusInteractions ? 'enabled' : 'disabled'}</b>
			<p>Remote fetch status reactions</p>
			<b>{$rdOptionalFeaturesCacheStatusReactions ? 'enabled' : 'disabled'}</b>
			<p>Twitter Embed</p>
			<b>{$rdOptionalFeaturesCacheTwitterEmbed ? 'enabled' : 'disabled'}</b>
		</div>
	</div>
</div>

<style lang="scss">
	.about {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;

		header {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5ch;

			h1 {
				font-weight: normal;
			}
		}

		.response-time {
			display: flex;
			flex-direction: column;
		}

		.cache-size {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.relationships {
				display: flex;
				flex-direction: column;

				> div:not(.btn) {
					margin-left: 2ch;

					&:last-child > b {
						text-transform: uppercase;

						&::after {
							content: 'B';
						}
					}
				}
			}

			.btn {
				display: flex;
				flex-direction: row;
				gap: 5px;
			}
		}

		.server-features {
			display: flex;
			flex-direction: column;

			.tab {
				display: grid;
				grid-template-columns: 1fr 100px;
				grid-column-gap: 0.6ch;
				grid-row-gap: 0px;
				align-self: start;
			}
		}

		button {
			text-decoration: underline;

			&.locked {
				text-decoration: none;
				opacity: 0.7;
			}

			&.waiting {
				text-decoration: none;
				pointer-events: none;

				&::after {
					position: absolute;
					content: '';
					animation: 0.5s waiting linear infinite;
				}
			}
		}
	}
</style>
