<script lang="ts">
	import Window from '../Window.svelte';
	import Menu from './Menu.svelte';
	import Appearance from './Appearance/Container.svelte';
	import Behavior from './Behavior/Container.svelte';
	import Sync from './Sync.svelte';
	import Sessions from './Sessions/Sessions.svelte';
	import About from './About.svelte';
	import Button from '../../Global/Button/Button.svelte';
	import SoundsLibrary from './SoundsLibrary/Container.svelte';
	import ProfileSpinner from '../../Spinner/ProfileSpinner.svelte';
	import Shortcuts from './Shortcuts.svelte';
	import Instance from './Instance/Instances.svelte';

	import { stGlobalWindow, type GlobalWindowSetting, GlobalWindow } from '../../../stores/Window';
	import { rdOptionsAppearanceCustomCSS, stOptionsReadOnly } from '../../../stores/Options';

	import { TootDeckConfig } from '../../../lib/TootDeckConfig';
	import { SettingsState } from '../../../types/settings';
	import { errorModal } from '../../../lib/errorModal';

	let state: SettingsState =
		($stGlobalWindow as GlobalWindowSetting)?.category ?? SettingsState.Appearance;

	function selectState(state: any) {
		switch (state) {
			case SettingsState.Appearance:
				return Appearance;

			case SettingsState.Behavior:
				return Behavior;

			case SettingsState.Instance:
				return Instance;

			case SettingsState.Sync:
				return Sync;

			case SettingsState.SoundsLibrary:
				return SoundsLibrary;

			case SettingsState.Shortcuts:
				return Shortcuts;

			case SettingsState.Sessions:
				return Sessions;

			case SettingsState.About:
				return About;
		}
	}

	function uploadSettings() {
		const size = $rdOptionsAppearanceCustomCSS.length;
		if (size > 150000) {
			errorModal('Your CSS exceed the limit of 150KB', ['Current value: ' + size], true);
			return;
		}

		TootDeckConfig.save();

		GlobalWindow.remove();
	}

	let show_save: boolean;
	$: show_save =
		state === SettingsState.Appearance ||
		state === SettingsState.Behavior ||
		state === SettingsState.Instance ||
		state === SettingsState.CustomCSS ||
		state === SettingsState.Sync;
</script>

<Window title="Settings">
	<Menu bind:state {show_save} />
	<div class="right" class:overflow-y={state !== SettingsState.CustomCSS}>
		{#if show_save}
			{#if $stOptionsReadOnly}
				<div class="warning">
					the app is in an unknown state.<br />To preserve your configuration, nothing
					will be saved until the issue is resolved.
				</div>
			{/if}
		{/if}
		{#if state === SettingsState.CustomCSS}
			{#await import('./CustomCSS.svelte')}
				<center>
					<ProfileSpinner />
				</center>
			{:then CustomCSS}
				<svelte:component this={CustomCSS.default} />
			{/await}
		{:else}
			<svelte:component this={selectState(state)} />
		{/if}
	</div>
	{#if show_save}
		{#if !$stOptionsReadOnly}
			<div class="save">
				<div style="margin-left: auto;"></div>
				<div>
					<Button style="default" on:clickTimeout={() => uploadSettings()}>Save</Button>
				</div>
			</div>
		{/if}
	{/if}
</Window>

<style lang="scss">
	.right {
		position: relative;
		width: 100%;

		&.overflow-y {
			overflow-x: hidden;
			overflow-y: auto;
		}

		.warning {
			text-align: center;
			padding: 10px;
			text-shadow: 1px 1px 1px rgb(var(--background));
			color: rgb(var(--text));
			background-color: rgb(var(--favourite-color));
		}

		center {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.save {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -55px;
		display: flex;
		flex-direction: row;
		padding: 5px;
		background-color: rgb(var(--background));
	}
</style>
