<script lang="ts">
	import { ALT, CTRL } from '../../../lib/Utils/OS';
</script>

<div class="shortcuts-hint">
	<div class="shortcut">
		<p>Close window/expanded panel</p>
		<div class="keyboard">
			<b>Escape</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Previous expanded panel</p>
		<div class="keyboard">
			<b>Backspace</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Open search</p>
		<div class="keyboard">
			<b>{CTRL}</b>+<b>Space</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Open thread in a new column</p>
		<div class="keyboard">
			<b>{CTRL}</b>+<b>Left Click</b> on the status
		</div>
	</div>
	<div class="shortcut">
		<p>Show/Hide private mentions</p>
		<div class="keyboard">
			<b>SHIFT</b>+<b>H</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Detect language</p>
		<div class="keyboard">
			<b>{CTRL}</b>+<b>L</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Revert detected language</p>
		<div class="keyboard">
			<b>{ALT}</b>+<b>L</b>
		</div>
	</div>
	<div class="shortcut">
		<p>Transform selected text to upper/lower case</p>
		<div class="keyboard">
			<b>{ALT}</b>
		</div>
	</div>
</div>

<style lang="scss">
	.shortcuts-hint {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 15px 0px;
		padding: 10px;

		.shortcut {
			display: contents; // Allows the grid to treat child elements as direct children

			p {
				grid-column: 1;
				margin: 0;
				align-self: center;
				max-width: 500px;
				text-align: right;
			}

			.keyboard {
				grid-column: 2;
				display: flex;
				align-self: center;
				gap: 0.5ch;
				padding: 0px 20px;
			}
		}
	}
</style>
