<script lang="ts">
	import InputCheckbox from '../../Global/Inputs/InputCheckbox.svelte';

	import { rdOptionsBehaviorSyncAutoSync, stOptions } from '../../../stores/Options';
	import { initConfig } from '../../../stores/init';
	import { Account } from '../../../stores/Account/Accounts';

	import { TootDeckConfig, type ConfigResponse } from '../../../lib/TootDeckConfig';
	import { downloadJSON } from '../../../lib/Utils/downloadJSON';
	import { awaitAppReload } from '../../../lib/Utils/awaitRender';

	// let waiting: boolean = false;
	let is_up_to_date: boolean = false;

	// async function sync() {
	// 	waiting = true;

	// 	await TootDeckConfig.sync();
	// 	is_up_to_date = true;

	// 	waiting = false;
	// }

	// let up_to_date_promise: Promise<boolean> = TootDeckConfig.isUptoDate();

	// function isUptoDate() {
	// 	up_to_date_promise = TootDeckConfig.isUptoDate();
	// }

	/**
	 * Local
	 */
	// #region

	function deleteLocal() {
		TootDeckConfig.deleteLocal();
		is_up_to_date = false;
	}

	let upload_promise: Promise<void>;

	function upload() {
		upload_promise = TootDeckConfig.upload();
		is_up_to_date = true;
	}

	// #endregion

	/**
	 * Remote
	 */
	// #region

	let delete_remote_promise: Promise<void>;

	function deleteRemote() {
		delete_remote_promise = TootDeckConfig.deleteRemote();
		is_up_to_date = true;
	}

	let download_promise: Promise<void>;

	function download() {
		download_promise = TootDeckConfig.download();
		is_up_to_date = true;
	}

	// #endregion

	/**
	 * JSON export/import
	 */
	// #region

	let files: FileList;
	$: if (files) {
		readFile(Array.from(files)?.[0]);
	}

	let json_error: boolean = false;

	function readFile(file: File | undefined) {
		if (!file) {
			return;
		}

		new Promise<ConfigResponse>((resolve) => {
			const reader = new FileReader();
			reader.onload = (e) => {
				resolve(JSON.parse(e.target!.result as string));
			};
			reader.readAsText(file);
		})
			.catch(console.error)
			.then((result) => {
				if (!result || !result.updated_at || !result.value) {
					json_error = true;
					return;
				}

				json_error = false;

				result.updated_at = new Date().toISOString();

				TootDeckConfig.saveLocal(result);

				return awaitAppReload(() => initConfig(false));
			});
	}

	function exportJSON() {
		downloadJSON(
			'config_' + Account.getLoginAccount().mirrorAPI.handle_string + '.json',
			TootDeckConfig.importLocal()
		);
	}

	// #endregion
</script>

<div class="sync">
	<div class="flex">
		<p>
			<b>[</b> EXPERIMENTAL <b>]</b>
		</p>
		<div class="btn">
			<h2>Save configuration between devices</h2>
		</div>
		<!-- Options -->
		<InputCheckbox
			text="Auto sync configuration"
			checked={$rdOptionsBehaviorSyncAutoSync}
			on:click={() => {
				$stOptions.behavior.sync.autoSync = !$stOptions.behavior.sync.autoSync;
			}}
		/>
		<!-- Up to date -->
		<!-- {#await up_to_date_promise}
			<p class="waiting">Loading</p>
			<div class:waiting>Syncing</div>
			<div class="waiting">Refreshing</div>
		{:then _}
			{#if is_up_to_date}
				<p>Local config is <b>up to date</b> with the server.</p>
			{:else}
				<p>Config on the server is <b>newer</b>.</p>
			{/if}
			<button on:click={() => sync()}>Sync</button>
			<button on:click={() => isUptoDate()}>Refresh</button>
		{/await} -->
		<!-- Advanced -->
		<!-- <h2>Advanced</h2> -->
		<section class="flex">
			<h3>Export / Import</h3>
			<div class="flex">
				<button on:click={exportJSON}>Export config as JSON</button>
				<div class="file">
					<input id="json" type="file" accept="application/json" bind:files />
					<label for="json">Import JSON config</label>
				</div>
				{#if json_error}
					<span style:color={'rgb(var(--red))'}>Invalid file provided.</span>
				{/if}
			</div>
		</section>
		<section class="flex">
			<h3>Local</h3>
			<div class="flex">
				<!-- Upload -->
				{#await upload_promise}
					<div class="waiting">Uploading</div>
				{:then _}
					<button on:click={upload}>Upload local config to the server</button>
				{/await}
				<!-- Clear -->
				<button on:click={deleteLocal}>Clear</button>
			</div>
		</section>
		<section class="flex">
			<h3>Remote</h3>
			<div class="flex">
				<!-- Download -->
				{#await download_promise}
					<div class="waiting">Downloading</div>
				{:then _}
					<button on:click={download}>Download config stored on the server</button>
				{/await}
				<!-- Clear -->
				{#await delete_remote_promise}
					<div class="waiting">Clearing</div>
				{:then _}
					<button on:click={deleteRemote}>Clear</button>
				{/await}
			</div>
		</section>
	</div>
</div>

<style lang="scss">
	.sync {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;

		section {
			gap: 0.5ch;
			margin-bottom: 1.5ch;
		}

		.flex {
			display: flex;
			flex-direction: column;

			.btn {
				display: flex;
				flex-direction: row;
				gap: 5px;
			}
		}

		button {
			text-decoration: underline;
		}

		.file {
			input {
				display: none;
			}

			label {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.waiting {
			text-decoration: none;
			pointer-events: none;

			&::after {
				position: absolute;
				content: '';
				animation: 0.5s waiting linear infinite;
			}
		}
	}
</style>
