<script lang="ts">
	import ColumnLoading from '../../Global/ColumnLoading.svelte';
	import List from './List.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import type { ListAccount } from '../../../types/lists';
	import type { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let lists: Array<ListAccount>;
	export let loading: boolean;
	export let selected_list: Entity.List | null = null;
</script>

<div class="list-lists">
	{#if loading}
		<ColumnLoading />
	{:else if lists.length}
		{#each lists as list (list.id)}
			<List
				{account}
				{list}
				active={selected_list?.id === list.id}
				on:update
				on:destroy={() => (lists = lists.filter((x) => x.id !== list.id))}
				on:click={() => {
					if (list.id === selected_list?.id) {
						selected_list = null;
						return;
					}

					selected_list = list;
				}}
			/>
		{/each}
	{:else}
		<div class="empty">You don't have any lists yet.</div>
	{/if}
</div>

<style lang="scss">
	.list-lists {
		display: flex;
		flex-direction: column;
		transform-origin: bottom left;
		background-color: rgb(var(--header));
		height: calc(100% - 55px);
	}
</style>
