<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';

	import {
		stOptions,
		rdOptionsBehaviorColumnMaxStatuses,
		rdOptionsBehaviorColumnHideDMs,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { clamp } from '../../../../lib/Utils/number/clamp';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';

	let column_statuses_limit = +$rdOptionsBehaviorColumnMaxStatuses.toFixed(0);
	function MaxStatuses() {
		return updateStoreNumber(
			column_statuses_limit,
			(v) => +clamp(v, 2, Infinity).toFixed(0),
			(v) => ($stOptions.behavior.column.maxStatuses = v)
		);
	}
</script>

<div class="settings-section column">
	<h2>Column</h2>
	<InputNumber
		text="Max number of statuses per column"
		step="1"
		min="2"
		suffix="statuses"
		bind:value={column_statuses_limit}
		on:change={MaxStatuses}
	/>
	<div style="display: flex; flex-direction: row; align-items: center;">
		<InputCheckbox
			text="Hide private mentions behind a click"
			checked={$rdOptionsBehaviorColumnHideDMs}
			on:click={(e) => ($stOptions.behavior.column.hideDMs = isCheckboxChecked(e))}
		></InputCheckbox>
	</div>
</div>
