<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';

	import {
		rdOptionsBehaviorEmojiPickerCompactMode,
		rdOptionsBehaviorEmojiPickerToggleWideEmoji,
		rdOptionsBehaviorEmojiPickerTopRow,
		stOptions,
	} from '../../../../stores/Options';
</script>

<div class="settings-section column">
	<h2>Emoji picker</h2>
	<InputCheckbox
		text="Toggle compact mode"
		checked={$rdOptionsBehaviorEmojiPickerCompactMode}
		on:click={(e) => ($stOptions.behavior.emojiPicker.compactMode = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Show emoji in full width"
		checked={$rdOptionsBehaviorEmojiPickerToggleWideEmoji}
		on:click={(e) => ($stOptions.behavior.emojiPicker.toggleWideEmoji = isCheckboxChecked(e))}
	/>
	<div style="margin-left: 1em;">
		<p>First row behavior</p>
		<InputCheckbox
			text="Frequently used"
			checked={$rdOptionsBehaviorEmojiPickerTopRow === 'frequently'}
			on:click={(e) =>
				($stOptions.behavior.emojiPicker.topRow = isCheckboxChecked(e)
					? 'frequently'
					: 'recently')}
		/>
		<InputCheckbox
			text="Recently used"
			checked={$rdOptionsBehaviorEmojiPickerTopRow === 'recently'}
			on:click={(e) =>
				($stOptions.behavior.emojiPicker.topRow = isCheckboxChecked(e)
					? 'recently'
					: 'frequently')}
		/>
	</div>
</div>
