<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		rdOptionsBehaviorSearchQuerySearchInHistory,
		rdOptionsBehaviorSearchToggleAdvancedView,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Search</h2>
	<InputCheckbox
		text="Toggle advanced view by default"
		checked={$rdOptionsBehaviorSearchToggleAdvancedView}
		on:click={(e) => ($stOptions.behavior.search.toggleAdvancedView = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Also search in history"
		checked={$rdOptionsBehaviorSearchQuerySearchInHistory}
		on:click={(e) => ($stOptions.behavior.search.querySearchInHistory = isCheckboxChecked(e))}
	/>
</div>
