<script lang="ts">
	import Notification from './Notification.svelte';

	import {
		NotificationModalType,
		notificationModal,
		stNotificationsModal,
	} from '../../stores/NotificationsModal';

	function close(id: number) {
		if (!id) {
			return;
		}
		notificationModal.delete(+id);
	}
</script>

<div class="notification-container">
	{#each $stNotificationsModal as n (n.id)}
		{#if n.type !== NotificationModalType.Loading}
			<Notification on:click={() => close(n.id)} modal={n} />
		{/if}
	{/each}
</div>

<style lang="scss">
	.notification-container {
		z-index: 20;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		pointer-events: none;
	}
</style>
