<script lang="ts">
	import { createEventDispatcher, onDestroy, onMount } from 'svelte';

	import { rdOptionsBehaviorNotificationModalDismissAfter } from '../../stores/Options';
	import {
		NotificationModalType,
		type NotificationModalEntity,
	} from '../../stores/NotificationsModal';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	const eventDispatcher = createEventDispatcher();

	export let modal: NotificationModalEntity;

	let progress: HTMLDivElement;
	let animation_run: boolean = false;

	$: if (
		modal.dismissable &&
		$rdOptionsBehaviorNotificationModalDismissAfter !== 0 &&
		progress &&
		document.hasFocus()
	) {
		animation_run = true;
	}
</script>

<svelte:window
	on:blur={() => {
		if (modal.dismissable && $rdOptionsBehaviorNotificationModalDismissAfter !== 0) {
			animation_run = false;
		}
	}}
	on:focus={() => {
		if (modal.dismissable && $rdOptionsBehaviorNotificationModalDismissAfter !== 0) {
			animation_run = true;
		}
	}}
/>

<div
	class="notification"
	class:warn={modal.type === NotificationModalType.Warn}
	class:error={modal.type === NotificationModalType.Error}
	transition:transitionSlide|global={{ duration: 300 }}
>
	{#if modal.callback}
		<button
			class="text"
			on:click={() => {
				if (modal.callback) {
					modal.callback();
					eventDispatcher('click', modal.id);
				}
			}}>{modal.text}</button
		>
	{:else}
		<div class="text">{modal.text}</div>
	{/if}
	<button class="close" data-id={modal.id} on:click>
		<div class="icon fa fa-times" />
	</button>
	{#if modal.dismissable && $rdOptionsBehaviorNotificationModalDismissAfter !== 0}
		<div class="dismiss">
			<div
				class="progress"
				style:--animation-time="{$rdOptionsBehaviorNotificationModalDismissAfter}s"
				style:animation-play-state={animation_run ? 'running' : 'paused'}
				on:animationend={() => eventDispatcher('click', modal.id)}
				bind:this={progress}
			/>
		</div>
	{/if}
</div>

<style lang="scss">
	@keyframes loading {
		from {
			width: 0%;
		}

		to {
			width: 100%;
		}
	}

	.notification {
		position: relative;
		max-width: 700px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		pointer-events: all;
		background-color: rgb(var(--accent));
		color: rgb(var(--text-button));

		&.error {
			background-color: rgb(var(--red));
		}

		&.warn {
			background-color: #ff9124;
		}

		.close {
			display: grid;
			justify-content: center;
			align-content: center;
			flex-shrink: 0;

			.icon {
				width: 30px;
				font-size: 25px;
				pointer-events: none;
			}
		}

		.text {
			hyphens: auto;
			white-space: pre-wrap;
			font-size: var(--font-size);
			padding: 15px 0px 15px 20px;
		}

		.dismiss {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5px;

			.progress {
				width: 0%;
				height: 100%;
				animation: loading var(--animation-time) linear;
				background-color: rgba(0, 0, 0, 0.523);
			}
		}
	}
</style>
