<script lang="ts">
	import Player from './Player.svelte';
	import Image from './Image.svelte';

	import { NotificationModalType, notificationModal } from '../../../stores/NotificationsModal';
	import { rdOptionsBehaviorComposerReverseMediaOrder } from '../../../stores/Options';

	import { validateFiles } from '../../../lib/FilesValidate';

	import type { IterableMedia, MediaFile } from '../../../types/media';
	import type { Composer } from '../../../types/composer';
	import { Entity } from '../../../types/mastodonEntities';

	export let composer: Composer;
	const { account, media, added_media, sending_media } = composer;

	let iterable: Array<IterableMedia> = [];
	$: {
		$media;
		readFiles(sanitizeMedia($added_media));
	}

	function addDescriptionObj(file: File): MediaFile {
		const casted = file as MediaFile;

		casted['description'] = { text: '' };

		return casted;
	}

	function sanitizeMedia(new_media: Array<File>): Array<MediaFile> {
		let files = Array.from(new_media ?? []);

		if (!validateFiles($account.instance, files)) {
			return [];
		}

		let sanitized: Array<MediaFile> = [];

		if (files.length === 1) {
			sanitized = files.map(addDescriptionObj);
		} else {
			if ($rdOptionsBehaviorComposerReverseMediaOrder) {
				sanitized = files.reverse().map(addDescriptionObj);
			} else {
				sanitized = files.map(addDescriptionObj);
			}
		}

		$added_media = [];

		return sanitized;
	}

	async function readFiles(new_media: Array<MediaFile> = []) {
		const files = [...$media, ...new_media];

		if (files.length > 4) {
			notificationModal.create(
				NotificationModalType.Warn,
				"You can't attach more than 4 media.",
				true
			);
			return;
		}

		$media = files;

		let id: number = 0;

		iterable = files.map((file) => ({
			id: id++,
			uid: file.uid,
			src: file.url ?? URL.createObjectURL(file),
			name: file.name,
			type: file.media_type ?? file.type,
			alt: file.description,
		}));
	}

	function remove(id: number) {
		const rem: Array<MediaFile> = [];

		let i = 0;
		for (const m of $media) {
			if (id === i) {
				i++;
				continue;
			}

			rem.push(m);
			i++;
		}

		$media = rem;
	}
</script>

<div class="media">
	<div
		class="media-container"
		class:n-1={iterable.length === 1}
		class:n-2={iterable.length === 2}
		class:n-3={iterable.length === 3}
		class:n-4={iterable.length >= 4}
		class:video={!!iterable.find((x) => x.type.includes(Entity.AttachmentType.Video))}
	>
		{#each iterable as m (m.id)}
			{#if m.type.includes(Entity.AttachmentType.Image)}
				<Image media={m} info={$sending_media[m.id]} on:click={() => remove(m.id)} />
			{:else}
				<Player media={m} info={$sending_media[m.id]} on:click={() => remove(m.id)} />
			{/if}
		{/each}
	</div>
</div>

<style lang="scss">
	.media {
		z-index: 0;
		position: relative;

		.media-container {
			border-radius: 10px;
			overflow: hidden;
			width: 100%;
			height: auto;

			&.n-1 {
				:global(img) {
					width: 100%;
				}
			}

			&.n-2 {
				grid-template-rows: 2fr;

				:global(> *) {
					aspect-ratio: 1;
				}
			}

			&:not(.n-1) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2px;

				:global(> *) {
					overflow: hidden;
					display: grid;
					place-items: center;
				}

				&:not(.n-2) {
					:global(> *) {
						aspect-ratio: 16 / 9;
					}

					&.video {
						:global(> *) {
							aspect-ratio: 1;
						}
					}
				}
			}

			&.n-3 {
				&.video {
					:global(> :nth-child(1)) {
						aspect-ratio: 1 / 2;
					}
				}

				:global(> :nth-child(1)) {
					aspect-ratio: 2 / 2.3;
					grid-area: 1 / 1 / 3 / 2;
				}

				:global(> :nth-child(2)) {
					grid-area: 1 / 2 / 2 / 3;
				}

				:global(> :nth-child(3)) {
					grid-area: 2 / 2 / 3 / 3;
				}
			}

			&.n-4 {
				:global(:nth-child(1)) {
					grid-area: 1 / 1 / 2 / 2;
				}

				:global(> :nth-child(2)) {
					grid-area: 1 / 2 / 2 / 3;
				}

				:global(> :nth-child(3)) {
					grid-area: 2 / 1 / 3 / 2;
				}

				:global(> :nth-child(4)) {
					grid-area: 2 / 2 / 3 / 3;
				}
			}
		}
	}
</style>
