<script lang="ts">
	import SendingInfo from './SendingInfo.svelte';
	import Buttons from './Buttons/Container.svelte';

	import type { IterableMedia } from '../../../types/media';
	import type { ComposerSendingInfo } from '../../../types/composer';
	import { Entity } from '../../../types/mastodonEntities';

	export let media: IterableMedia;
	export let info: ComposerSendingInfo | undefined = undefined;

	let failed_to_load: boolean = false;
	let player: HTMLVideoElement | HTMLAudioElement;

	$: if (player) {
		player.volume = 0.2;
	}
</script>

<div class="player" class:failed={failed_to_load}>
	<svelte:element
		this={media.type.includes(Entity.AttachmentType.Video)
			? Entity.AttachmentType.Video
			: Entity.AttachmentType.Audio}
		src={media.src}
		controls={true}
		bind:this={player}
	/>
	{#if failed_to_load}
		<div class="failed">Couldn't load media</div>
	{/if}
	<Buttons {media} on:click></Buttons>
	{#if info}
		<SendingInfo media={info}></SendingInfo>
	{/if}
</div>

<style lang="scss">
	.player {
		position: relative;

		&:focus-visible {
			filter: invert(0.2);

			&::after {
				content: '';
			}
		}

		&.failed {
			cursor: default;
			pointer-events: none;
		}

		.failed {
			position: absolute;
			font-weight: bold;
		}

		video {
			position: relative;
			width: 100%;
			height: 100%;
			// max-height: 50vh;
		}
	}
</style>
