<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
</script>

<div class="account-container">
	<button
		class="account"
		on:click={() =>
			ExpandedPanel.update({
				state: ExpandedPanelState.Profile,
				account,
				status_account: status_account,
			})}
	>
		<div class="pp">
			<Img
				src={$rdOptionsAppearanceAnimationAnimateGifAvatar
					? status_account.avatar
					: status_account.avatar_static}
				alt="{status_account.username} profile picture"
				width="45px"
				height="45px"
			/>
		</div>
		<div class="user">
			<DisplayName {status_account} show_lock={true} bold={true} />
			<div class="username">@{status_account.acct}</div>
		</div>
	</button>
	<button class="delete" on:click>
		<div class="fa fa-times"></div>
	</button>
</div>

<style lang="scss">
	.account-container {
		max-width: 90vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		user-select: none;
		padding: 5px 10px;

		.account {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			overflow: hidden;

			.pp {
				position: relative;
				width: 45px;
				height: 45px;

				:global(img) {
					border-radius: 100%;
				}
			}

			.user {
				overflow: hidden;
				text-overflow: ellipsis;

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.delete {
			padding: 10px;

			&:hover {
				color: rgb(var(--red));
			}
		}
	}
</style>
