<script lang="ts">
	export let domain: string;
</script>

<div class="domain">
	<p>{domain}</p>
	<button class="delete" on:click>
		<div class="fa fa-times"></div>
	</button>
</div>

<style lang="scss">
	.domain {
		width: calc(100% - 10px);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: rgb(var(--composer));
		padding: 0px 0px 0px 15px;
		margin: 5px;
		border-radius: 5px;

		p {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.delete {
			padding: 10px;

			&:hover {
				color: rgb(var(--red));
			}
		}
	}
</style>
