<script lang="ts">
	import { onDestroy } from 'svelte';

	import AccountContainer from '../../Composer/From/Account.svelte';
	import Column from '../../Column/Column.svelte';

	import { stAccounts, Account } from '../../../stores/Account/Accounts';
	import { initColumnWithData } from '../../../stores/Columns/Layout';
	import { stGlobalWindow, type GlobalWindowNewColumnWhichAccount } from '../../../stores/Window';
	import { NotificationModalType, notificationModal } from '../../../stores/NotificationsModal';

	import type { IColumn, IColumnType } from '../../../lib/Columns/types/interfaces';
	import { WhichAccount } from '../../../lib/ComponentFunctions/WhichAccount';
	import { errorModal } from '../../../lib/errorModal';
	import { getColumnInstance } from '../../../lib/ComponentFunctions/columns/getColumnInstance';

	const store = $stGlobalWindow as GlobalWindowNewColumnWhichAccount;

	let column_type: IColumnType = store.selected_column_type;
	let selected_account_id: string;
	let column_instance: IColumn | null = null;
	let column = getColumn(store.selected_account_id);

	function getColumn(account_id: string) {
		if (account_id === selected_account_id) {
			return column_instance!.props;
		}

		const account = Account.get(account_id);
		column_instance = WhichAccount.regenColumn(account, column_type);
		if (!column_instance) {
			errorModal('Something wrong happened.', undefined, true);
			return null;
		}

		selected_account_id = account_id;
		($stGlobalWindow as GlobalWindowNewColumnWhichAccount).selected_column = column_instance;

		initColumnWithData(account, column_type.identifier).catch((e) => {
			notificationModal.create(
				NotificationModalType.Warn,
				'Failed to fetch initial column data.',
				true
			);
			console.error(e);
		});

		return column_instance.props;
	}

	onDestroy(() => {
		if (column_instance && !getColumnInstance(column_instance.props.content)) {
			WhichAccount.destroy(true);
		} else {
			WhichAccount.destroy();
		}
	});
</script>

<div class="which-account-container">
	<div class="which-account">
		<header>
			<div class="title">Your accounts</div>
			<div class="account-container">
				{#each $stAccounts as [id, acc] (id)}
					<AccountContainer
						account={acc}
						status_account={acc.entity}
						display_size="full"
						checkmark={false}
						selected={id === selected_account_id}
						on:click={() => (column = getColumn(id))}
					/>
				{/each}
			</div>
		</header>
		<div class="column-container">
			{#if column}
				<Column props={column} minimize={true} />
			{/if}
		</div>
	</div>
</div>

<style lang="scss">
	.which-account-container {
		display: flex;
		flex-direction: column;

		.which-account {
			display: flex;
			flex-direction: row;
			padding: 10px;

			header {
				display: flex;
				flex-direction: column;
				gap: 10px;
				min-width: 200px;
				background-color: rgb(var(--header));

				.title {
					height: var(--column-header-height);
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgb(var(--header));
					font-size: calc(var(--font-size) + 6px);
					user-select: none;
				}

				.account-container {
					display: flex;
					flex-direction: column;
					padding: 0px 10px;
					gap: 10px;
				}
			}

			.column-container {
				position: relative;
				height: 600px;
				max-height: calc(100vh - 200px);
				overflow: hidden;
			}
		}
	}
</style>
