<script lang="ts">
	import Picker from './Picker.svelte';

	import { stEmojis } from '../../../stores/Emojis';

	import type { Composer } from '../../../types/composer';

	export let composer: Composer;
	const { account, lite } = composer;

	let show: boolean = false;

	// prettier-ignore
	const emojis_list = ['😀','😃','😄','😁','😆','😅','🤣','😂','🙂','🙃','😉','😊','😇','🥰','😍','🤩','😘','😗','😚','😙','😋','😛','🤗','🤭','🤫','🤔','🤐','🤨','😐️','😑','😶','😏','😒','🙄','😬','🤥','😌','😔','😪','🤤','😴','🤯','🤠','🥳','😎','🤓','🧐','😕','😟','🙁','☹️','😯','😮','😲','😳','🥺','😱','😖','😣','🥱','😤'];

	function randomEmoji() {
		const rand = Math.floor(Math.random() * (emojis_list.length - 1));
		return emojis_list[rand];
	}

	function appendEmoji(node: HTMLElement) {
		const native = randomEmoji();

		node.textContent = native;
		$stEmojis.get($account.mirrorAPI.domain)!.instance.parse(node);
	}
</script>

<div class="emoji-container" class:lite>
	<button use:appendEmoji class="btn-emoji" class:show on:click={() => (show = true)}></button>
	{#if show}
		<div class="emoji-picker-container">
			<Picker {composer} on:clickOutside={() => setTimeout(() => (show = false))} />
		</div>
	{/if}
</div>

<style lang="scss">
	.emoji-container {
		position: absolute;
		right: 0;

		&.lite {
			position: relative;

			.btn-emoji {
				font-size: 1em;
				margin-top: 0;
				margin-right: 0;
			}
		}

		.btn-emoji {
			display: grid;
			justify-items: center;
			align-items: center;
			font-size: 1.5rem;
			filter: grayscale(1);
			font-family: 'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
				'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji', sans-serif;
			cursor: pointer;
			transition: calc(0.2s * var(--transition-speed));

			margin-top: 7.5px;
			margin-right: 5px;

			&:hover,
			&.show {
				filter: grayscale(0);
				transform: scale(1.5);
			}
		}

		.emoji-picker-container {
			z-index: 10;
			position: fixed;
		}
	}
</style>
