<script lang="ts">
	import { createEventDispatcher, onMount } from 'svelte';
	import type { ClickedEmoji, EmojiSkin } from 'emoji-mart-svelte';

	import { stEmojis } from '../../../stores/Emojis';

	import type { Composer } from '../../../types/composer';
	import { rdOptionsBehaviorEmojiPickerCompactMode } from '../../../stores/Options';

	const eventDispatcher = createEventDispatcher();

	export let composer: Composer;
	const { account, lite, picked_emoji } = composer;

	function click(e: ClickedEmoji) {
		const skin = e.skin as EmojiSkin;
		if (skin.native) {
			$picked_emoji = skin.native;
		} else {
			$picked_emoji = e.keywords[0];
		}
	}

	const emoji_picker = $stEmojis.get($account.mirrorAPI.domain)!;
	emoji_picker.instance.setCallback({ onEmojiClick: click });
	emoji_picker.instance.setCompact(lite || $rdOptionsBehaviorEmojiPickerCompactMode).update();
	const { Picker, Props } = emoji_picker.getPicker();

	let emoji_picker_element: HTMLDivElement;

	onMount(() => {
		if (!lite && emoji_picker_element) {
			emoji_picker_element.style.position = 'absolute';
			emoji_picker_element.style.top = '-31px';
			emoji_picker_element.style.left = '48px';
		}
	});
</script>

<Picker
	{Props}
	bind:PickerElement={emoji_picker_element}
	onClickOutside={() => eventDispatcher('clickOutside')}
></Picker>
