<script lang="ts">
	export let selected: boolean;
</script>

<button class="card" class:selected on:click>
	<slot />
</button>

<style lang="scss">
	.card {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 2.5px;
		border-radius: 10px;
		box-sizing: border-box;
		color: rgb(var(--text));

		&.selected {
			background-color: rgb(var(--accent));
			color: rgb(var(--text-button));

			&:hover {
				filter: brightness(1.2);
			}
		}

		&:hover {
			color: rgb(var(--text-button));
			background-color: rgb(var(--accent));
		}
	}
</style>
