<script lang="ts">
	import { createEventDispatcher, onDestroy } from 'svelte';
	import { clickOutside } from 'svelte-use-click-outside';

	import { transitionFade } from '../../lib/Transitions/transitionOverride';
	import { KeyboardHandler } from '../../lib/KeyboardHandler';

	const eventDispatcher = createEventDispatcher();

	export let data: Array<any & { id: number }>;
	export let small: boolean;
	export let selected_index: number = 0;
	export let index_key: string = 'id';
	export let absolute: boolean;
	export let top: string | undefined = undefined;

	let element: HTMLDivElement;

	KeyboardHandler.subscribe('SelectorDropdown:Escape', 'Escape', (e) => {
		e.preventDefault();

		eventDispatcher('close');

		return true;
	});
	KeyboardHandler.subscribe('SelectorDropdown:Enter', 'Enter', (e) => {
		e.preventDefault();

		eventDispatcher('click', { data: data.find((d) => d[index_key] === selected_index) });

		return true;
	});
	KeyboardHandler.subscribe('SelectorDropdown:NumpadEnter', 'NumpadEnter', (e) => {
		e.preventDefault();

		eventDispatcher('click', { data: data.find((d) => d[index_key] === selected_index) });

		return true;
	});
	KeyboardHandler.subscribe('SelectorDropdown:Tab', 'Tab', (e) => {
		e.preventDefault();

		eventDispatcher('click', { data: data.find((d) => d[index_key] === selected_index) });

		return true;
	});
	KeyboardHandler.subscribe('SelectorDropdown:ArrowUp', 'ArrowUp', (e) => {
		e.preventDefault();

		const index = data.findIndex((d) => d[index_key] === selected_index);
		const previous_value = data[index - 1];
		if (previous_value) {
			selected_index = previous_value[index_key];
			const target = element.children[index - 1] as HTMLElement;
			element.scrollTop = target.offsetTop - element.offsetTop - 50;
		}

		return true;
	});
	KeyboardHandler.subscribe('SelectorDropdown:ArrowDown', 'ArrowDown', (e) => {
		e.preventDefault();

		const index = data.findIndex((d) => d[index_key] === selected_index);
		const next_value = data[index + 1];
		if (next_value) {
			selected_index = next_value[index_key];
			const target = element.children[index + 1] as HTMLElement;
			element.scrollTop = target.offsetTop - element.offsetTop - 50;
		}

		return true;
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe('SelectorDropdown:Escape', 'Escape');
		KeyboardHandler.unsubscribe('SelectorDropdown:Enter', 'Enter');
		KeyboardHandler.unsubscribe('SelectorDropdown:NumpadEnter', 'NumpadEnter');
		KeyboardHandler.unsubscribe('SelectorDropdown:Tab', 'Tab');
		KeyboardHandler.unsubscribe('SelectorDropdown:ArrowUp', 'ArrowUp');
		KeyboardHandler.unsubscribe('SelectorDropdown:ArrowDown', 'ArrowDown');
	});
</script>

<div
	use:clickOutside={() => eventDispatcher('close')}
	class="selector"
	class:absolute
	class:small
	style:top
	bind:this={element}
	transition:transitionFade={{ duration: 100 }}
>
	{#if $$slots.sticky}
		<span class="sticky">
			<slot name="sticky" />
		</span>
	{/if}
	{#each data as d (d[index_key])}
		<slot data={d} />
	{/each}
</div>

<style lang="scss">
	.selector {
		z-index: 10;
		position: relative;
		top: 50px;
		left: 0;
		width: 100%;
		max-height: 300px;
		display: flex;
		flex-direction: column;
		gap: 2.5px;
		background-color: rgb(var(--composer));
		color: #fff;
		// padding: 10px;
		border-top: 10px;
		border-left: 10px;
		border-bottom: 10px;
		border-right: 10px;
		border-style: solid;
		border-color: transparent;
		border-radius: 10px;
		overflow-y: auto;
		overflow-x: hidden;

		&.absolute {
			position: absolute;
		}

		&.small {
			top: calc(100% - 50px);
			left: 13px;
			width: calc(100% - 28px);
		}

		.sticky {
			z-index: 1;
			position: sticky;
			top: 0;
			left: 0;
			background-color: rgb(var(--composer));
			box-shadow: 0px 0px 5px 5px rgb(var(--composer));
			margin-bottom: 5px;
		}
	}
</style>
