<script lang="ts">
	import { stLayout, type IndexedLayoutColumn } from '../../stores/Columns/Layout';

	import { animateFlip } from '../../lib/Transitions/animateOverride';
	import type { IColumn } from '../../lib/Columns/types/interfaces';

	function insertID(column: IColumn): { props: IndexedLayoutColumn<any, any> } {
		return { props: { ...column.props, id: column.id } };
	}
</script>

<div class="columns-container">
	{#each $stLayout as layout (layout.id)}
		<span animate:animateFlip>
			<!-- {#if column.title === ColumnTitle.Messages} -->
			<!-- <Conversation {column} /> -->
			<!-- {:else} -->
			<svelte:component this={layout.component} {...insertID(layout)} />
			<!-- {/if} -->
		</span>
	{/each}
</div>

<style lang="scss">
	:global(.theme-light) {
		.columns-container {
			scrollbar-color: rgb(var(--accent)) rgba(255, 255, 255, var(--background-opacity));
		}
	}

	:global(.theme-mastodon) {
		.columns-container {
			scrollbar-color: rgb(var(--accent)) rgba(40, 44, 55, var(--background-opacity));
		}
	}

	.columns-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		overflow-x: auto;
		scrollbar-color: rgb(var(--accent)) rgba(0, 0, 0, var(--background-opacity));
		will-change: transform;

		span {
			overflow: hidden;
			flex-shrink: 0;
		}
	}
</style>
