<script lang="ts">
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { stContentUpdateTime } from '../../../stores/Columns/Content';
	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import {
		rdOptionsAppearanceStatusMetadataLanguage,
		rdOptionsAppearanceStatusMetadataVisibilty,
	} from '../../../stores/Options';

	import { formatDate } from '../../../lib/Utils/date/formatDate';
	import { generateStatusURL } from '../../../lib/ComponentFunctions/generateStatusURL';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import type { ParsedStatus } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let performance_mode: boolean;
	export let edit: boolean;

	let init: boolean = false;
	let date: string;
	let href: string = generateStatusURL(account, status);

	$: {
		$stContentUpdateTime;
		initTime();
	}

	function initTime() {
		const date_str = edit && status.edited_at ? status.edited_at : status.created_at;

		if (performance_mode && !init) {
			date = formatDate(date_str);
			init = true;
		} else if (!performance_mode) {
			date = formatDate(date_str);
		}
	}

	function click() {
		GlobalWindow.create({
			state: GlobalWindowState.StatusHistory,
			special: false,
			account,
			status,
		});
	}
</script>

<a class="time" {href} {...ANCHOR_ARGS}>
	{date}
</a>
{#if status.edited_at}
	<button class="fa fa-pencil" on:click={() => click()}></button>
	{#if $rdOptionsAppearanceStatusMetadataLanguage || $rdOptionsAppearanceStatusMetadataVisibilty}
		·
	{/if}
{/if}

<style lang="scss">
	.time {
		all: unset;
		cursor: pointer;
		box-sizing: border-box;

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		color: rgb(var(--accent));

		&:hover {
			text-decoration: underline;
		}
	}
</style>
