<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';
	import FollowButton from './FollowButton.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';
	import { AccountsMananger } from '../../../lib/Managers/AccountsManager';
	import { getHandleFromAccount } from '../../../lib/Utils/handle/getHandleFromAccount';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let remote: boolean;

	async function remoteFetch() {
		return account.mirrorAPI.Search.accounts(status_account.url, {
			limit: 1,
			resolve: true,
		}).then((r) => (r?.length === 1 ? AccountsMananger.store(account, r[0]) : null));
	}
</script>

<button class="account">
	<button
		class="left"
		on:click={() =>
			ExpandedPanel.update({
				state: ExpandedPanelState.Profile,
				account,
				status_account: remote ? remoteFetch : status_account,
			})}
	>
		<div class="pp">
			<Img
				src={$rdOptionsAppearanceAnimationAnimateGifAvatar
					? status_account.avatar
					: status_account.avatar_static}
				alt="{status_account.username} profile picture"
				width="45px"
				height="45px"
			/>
		</div>
		<div class="user">
			<DisplayName {status_account} show_lock={true} bold={true} />
			<div class="username">@{status_account.acct}</div>
		</div>
	</button>
	<div class="right">
		{#if getHandleFromAccount(account.entity, true) !== getHandleFromAccount(status_account, true)}
			<FollowButton {account} {status_account}></FollowButton>
		{/if}
	</div>
</button>

<style lang="scss">
	.account {
		max-width: 90vw;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		user-select: none;
		padding: 5px 10px;

		.left {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			overflow: hidden;

			.pp {
				position: relative;
				width: 45px;
				height: 45px;

				:global(img) {
					border-radius: 100%;
				}
			}

			.user {
				overflow: hidden;
				text-overflow: ellipsis;

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
</style>
