<script lang="ts">
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { getHandleFromAccount } from '../../../lib/Utils/handle/getHandleFromAccount';
	import { isMutual } from '../../../lib/Utils/isMutual';
	import { remoteFetchAccount } from '../../../lib/ComponentFunctions/remoteFetch';
	import { errorModal } from '../../../lib/errorModal';
	import { follow, unfollow } from '../../../lib/ComponentFunctions/interactions/follow';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;

	let relation = account.relationship.get(getHandleFromAccount(status_account, true));
	let mutual = isMutual(account, status_account);
	let error: boolean = false;

	async function click() {
		if (error) {
			return;
		}

		const remote_account = await remoteFetchAccount(account, status_account);
		if (!remote_account) {
			errorModal('Unable to remote fetch this account', undefined, true);
			return;
		}

		if (relation?.following) {
			await unfollow(account, remote_account, relation);
		} else {
			await follow(account, remote_account, relation);
		}

		relation = relation;
		mutual = isMutual(account, status_account);
	}
</script>

<button
	class="follow"
	class:error
	class:following={relation?.following}
	class:mutual
	on:click={click}
>
	{#if error}
		Unavailable
	{:else if mutual}
		Mutuals
	{:else if relation?.following}
		Following
	{:else}
		Follow
	{/if}
</button>

<style lang="scss">
	.follow {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		gap: 0.75ch;
		padding: 5px 10px;
		background-color: rgb(var(--accent));
		border-radius: 10px;

		&:hover {
			filter: brightness(1.4);
		}

		&.error {
			filter: grayscale(1) !important;
			cursor: default;
		}

		&.following {
			background-color: transparent;
			border: 1px solid rgb(var(--accent));
			color: rgb(var(--accent));
			width: 6em;

			&:hover {
				background-color: rgb(var(--red));
				border: 1px solid rgb(var(--red));
				color: transparent;
				font-weight: normal;

				&::after {
					content: 'Unfollow';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: grid;
					justify-items: center;
					align-items: center;
					color: rgb(var(--text));
				}
			}
		}

		&.mutual {
			font-weight: bold;
		}
	}
</style>
