<script lang="ts">
	import Item from './Item.svelte';

	type T = string | { [key: string]: string };
	export let items: Array<T>;
	export let value_key: string = '';
	export let deletable: boolean;

	let mapped_items: Array<{ id: number; value: T }> = [];
	$: mapped_items = items.map((value, i) => ({ id: i, value }));

	function removeItem(id: number) {
		items = mapped_items.filter((item) => item.id !== id).map(({ value }) => value);
	}
</script>

<div class="items-container">
	{#each mapped_items as item (item.id)}
		<Item
			item={typeof item.value === 'string' ? item.value : item.value[value_key]}
			{deletable}
			on:click={() => removeItem(item.id)}
		></Item>
	{/each}
</div>

<style lang="scss">
	.items-container {
		width: calc(100% - 60px);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1ch;
	}
</style>
