<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Header from '../../../Column/Header/Container.svelte';
	import ColumnLoading from '../../../Global/ColumnLoading.svelte';

	import type { IndexedLayoutColumn } from '../../../../stores/Columns/Layout';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { scrollTop } from '../../../../lib/Utils/scroll';
	import type { StandardColumn } from '../../../../lib/Columns/StandardColumn';

	import type { ParsedStatus } from '../../../../types/contentParsed';
	import type { Entity } from '../../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let column: IndexedLayoutColumn<StandardColumn<ParsedStatus>, ParsedStatus>;
	export let lists: Array<Entity.List>;
	export let loading: boolean;

	/**
	 * Scroll to top on column update
	 */
	let viewport: HTMLElement;

	let transiton_id = 0;

	function delayTransition() {
		return transiton_id++ * 50;
	}
</script>

<div class="wrapper">
	<section class="column">
		<Header {column} thread={false} minimize={true} on:click={() => scrollTop(viewport)} />
		<div class="content-container selector" bind:this={viewport}>
			{#if lists.length}
				{#each lists as list (list.id)}
					<button
						class="list"
						in:transitionSlide|global={{ axis: 'x', delay: delayTransition() }}
						on:click={() => eventDispatcher('click', { selected_list: list })}
					>
						<div>
							{list.title}
						</div>
					</button>
				{/each}
			{:else}
				<div class="empty">
					<div>You don't have any lists.</div>
				</div>
			{/if}
		</div>
		{#if loading}
			<ColumnLoading />
		{/if}
	</section>
</div>

<style lang="scss">
	.wrapper {
		position: relative;
		min-height: 100%;
		width: var(--column-width);
		flex-shrink: 0;
		transition: calc(0.25s * var(--transition-speed));

		.column {
			z-index: 1;
			position: absolute;
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			background-color: rgb(var(--column));
			transform-origin: bottom left;

			.content-container {
				position: relative;
				width: var(--column-width);
				height: calc(100% - var(--column-header-height));
				display: flex;
				flex-direction: column;
				overflow-y: auto;

				&.selector {
					background-color: rgb(var(--header));
					gap: 5px;
				}

				.list {
					padding: 10px 15px;
					background-color: rgb(var(--light));
					overflow: hidden;

					div {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;

						&::before {
							content: '+';
							width: 2ch;
						}
					}

					&:hover {
						background-color: rgb(var(--lighter));
					}
				}

				.empty {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 95%;
				}
			}
		}
	}
</style>
