<script lang="ts">
	import { onDestroy } from 'svelte';
	import { writable } from 'svelte/store';

	import AccountContainer from '../../../Composer/From/Account.svelte';
	import Column from '../../../Column/Column.svelte';
	import Selector from './ListSelector.svelte';

	import {
		stAccounts,
		stAccountDefault,
		type TootDeckAccount,
		Account,
	} from '../../../../stores/Account/Accounts';
	import {
		initColumnWithData,
		type IndexedLayoutColumn,
	} from '../../../../stores/Columns/Layout';
	import {
		stGlobalWindow,
		type GlobalWindowNewColumnWhichAccount,
	} from '../../../../stores/Window';
	import {
		NotificationModalType,
		notificationModal,
	} from '../../../../stores/NotificationsModal';

	import { errorModal } from '../../../../lib/errorModal';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { calcSpeedFactor } from '../../../../lib/Transitions/calcSpeedFactor';
	import type { IColumn, IColumnType } from '../../../../lib/Columns/types/interfaces';
	import { WhichAccount } from '../../../../lib/ComponentFunctions/WhichAccount';
	import { getColumnInstance } from '../../../../lib/ComponentFunctions/columns/getColumnInstance';
	import { ListColumn } from '../../../../lib/Columns/TootDeckColunms/ListColumn';

	import type { ParsedStatus } from '../../../../types/contentParsed';
	import type { Entity } from '../../../../types/mastodonEntities';

	export let add_column_button_enable: boolean = false;

	const store = $stGlobalWindow as GlobalWindowNewColumnWhichAccount;
	let column_type: IColumnType = store.selected_column_type;
	let selected_account_id: string = store.selected_account_id;
	let selected_account: TootDeckAccount = Account.get($stAccountDefault);

	let selected_list: Entity.List | null = null;
	let last_selected_list: Entity.List | null = null;
	let lists_promise: Promise<Array<Entity.List> | null> =
		Account.get(selected_account_id).mirrorAPI.Timeline.Lists.getAll();
	let collapse_column: boolean = false;

	/**
	 * Update column
	 */
	let id = 0;
	const options = {
		collapsed: false,
		sound_uuid: null,
		override_title: { toggle: false, value: null },
	};
	const list_selector_column: IndexedLayoutColumn<ListColumn, ParsedStatus> = {
		id: id++,
		account: selected_account,
		options: writable(options),
		icon: column_type.icon,
		title: 'Your lists',
		identifier: column_type.identifier,
		// @ts-ignore
		content: writable(new Map()),
		instance: new ListColumn(
			{
				account: {
					username: selected_account.mirrorAPI.handle.username,
					domain: selected_account.mirrorAPI.handle.domain,
				},
				list: {
					id: '0',
					replies_policy: null,
					title: 'Placeholder',
					exclusive: false,
				},
				options,
			},
			0
		),
	};

	/**
	 * Update column
	 */
	let column_instance: IColumn | null = null;
	let column = getColumn(selected_account_id);

	function getColumn(
		account_id: string,
		list?: Entity.List
	): IndexedLayoutColumn<ListColumn, ParsedStatus> | null {
		if (!list) {
			add_column_button_enable = false;
			WhichAccount.destroy(true);
			column_instance = null;
			return null;
		}

		const account = Account.get(account_id);
		column_instance = WhichAccount.regenColumn(account, column_type, list);
		if (!column_instance) {
			errorModal('Something wrong happened.', undefined, true);
			return null;
		}

		selected_account_id = account_id;
		($stGlobalWindow as GlobalWindowNewColumnWhichAccount).selected_column = column_instance;
		add_column_button_enable = true;

		initColumnWithData(account, column_type.identifier, { list }).catch((e) => {
			notificationModal.create(
				NotificationModalType.Warn,
				'Failed to fetch initial column data.',
				true
			);
			console.error(e);
		});

		return column_instance.props;
	}

	async function updateLists(account_id: string) {
		if (account_id === selected_account_id) {
			return;
		}

		collapse_column = true;
		add_column_button_enable = false;
		setTimeout(() => {
			selected_list = null;
			WhichAccount.destroy(true);
			column_instance = null;
			last_selected_list = null;
			collapse_column = false;
			selected_account_id = account_id;
			lists_promise = Account.get(account_id).mirrorAPI.Timeline.Lists.getAll();
		}, calcSpeedFactor(200));
	}

	$: if (selected_list && selected_account_id) {
		column = getColumn(selected_account_id, selected_list);
	}

	onDestroy(() => {
		if (column_instance && !getColumnInstance(column_instance.props.content)) {
			WhichAccount.destroy(true);
		} else {
			WhichAccount.destroy();
		}
	});
</script>

<div class="which-account-container">
	<div class="which-account">
		<header>
			<div class="title">Your accounts</div>
			<div class="account-container">
				{#each $stAccounts as [id, acc] (id)}
					<AccountContainer
						account={acc}
						status_account={acc.entity}
						display_size="full"
						checkmark={false}
						selected={id === selected_account_id}
						on:click={() => updateLists(id)}
					/>
				{/each}
			</div>
		</header>
		<div class="column-container deploy">
			{#await lists_promise}
				<Selector column={list_selector_column} lists={[]} loading={true} />
			{:then lists}
				{#if lists}
					<Selector
						column={list_selector_column}
						{lists}
						loading={false}
						on:click={(e) => (selected_list = e.detail.selected_list)}
					/>
				{:else}
					<div class="empty">
						<div>
							{errorModal('Failed to fetch your lists.', undefined, true)}
						</div>
					</div>
				{/if}
			{/await}
		</div>
		<div class="column-container" class:collapse={collapse_column}>
			{#if selected_list && column}
				<div style="height: 100%;" in:transitionSlide={{ axis: 'x', duration: 200 }}>
					{#if column}
						<Column props={column} minimize={true} />
					{:else}
						<div class="empty">
							<div>
								{errorModal('Failed to fetch statuses.', undefined, true)}
							</div>
						</div>
					{/if}
				</div>
			{/if}
		</div>
	</div>
</div>

<style lang="scss">
	.which-account-container {
		display: flex;
		flex-direction: column;

		.which-account {
			display: flex;
			flex-direction: row;
			padding: 10px;

			header {
				display: flex;
				flex-direction: column;
				gap: 10px;
				min-width: 200px;
				background-color: rgb(var(--header));

				.title {
					height: var(--column-header-height);
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgb(var(--header));
					font-size: calc(var(--font-size) + 6px);
					user-select: none;
				}

				.account-container {
					display: flex;
					flex-direction: column;
					padding: 0px 10px;
					gap: 10px;
				}
			}

			.column-container {
				height: 600px;
				max-height: calc(100vh - 200px);
				overflow: hidden;

				&.deploy {
					width: var(--column-width);
					background-color: rgb(var(--header));
				}

				&.collapse {
					:global(.wrapper) {
						width: 0px;
					}
				}

				.empty {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 95%;
				}
			}
		}
	}
</style>
