<script lang="ts">
	import MulitCheckbox from '../../Global/Checkbox/MulitCheckbox.svelte';
	import LanguageSelector from '../../Selector/Implementations/LanguageSelector.svelte';
	import TagSelector from '../../Selector/Implementations/TagSelector.svelte';
	import InputDate from '../../Global/Inputs/InputDate.svelte';
	import Checkbox from '../../Global/Checkbox/Checkbox.svelte';

	import { getEnabledValue } from '../../../lib/ComponentFunctions/searchInit';
	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { Search } from '../../../types/search';

	export let search: Search;
	const { account, toggle, values, show } = search;
	const { type, has, is, language, from, me, before, during, after, in: _in } = values;
	const { language_selector: show_language_selector, tag_selector: show_tag_selector } = show;

	function onSearchAccount(e: KeyboardEvent) {
		if (!$show_tag_selector) {
			$show_tag_selector = true;
		}
		if (e.target && !(e.target as HTMLInputElement).value) {
			$from.id = '';
			$show_tag_selector = false;
		}
	}
</script>

<div transition:transitionSlide={{ duration: 100 }}>
	<MulitCheckbox bind:choices={$toggle} multiple={true} small={false}></MulitCheckbox>
	{#if getEnabledValue($toggle)}
		<div class="options-container" transition:transitionSlide={{ duration: 100 }}>
			{#if $toggle['type']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>type:</b>
					<MulitCheckbox bind:choices={$type} multiple={false} small={true}
					></MulitCheckbox>
				</div>
			{/if}
			{#if $toggle['has']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>has:</b>
					<MulitCheckbox bind:choices={$has} multiple={false} small={true}
					></MulitCheckbox>
				</div>
			{/if}
			{#if $toggle['is']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>is:</b>
					<MulitCheckbox bind:choices={$is} multiple={false} small={true}></MulitCheckbox>
				</div>
			{/if}
			{#if $toggle['language']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>language:</b>
					<button class="language" on:click={() => ($show_language_selector = true)}
						>{$language}</button
					>
					{#if $show_language_selector}
						<div style="position: absolute; width: 100%; top: 5px; left: 0;">
							<LanguageSelector
								bind:select={$language}
								on:click={() => ($show_language_selector = false)}
								on:close={() => ($show_language_selector = false)}
							></LanguageSelector>
						</div>
					{/if}
				</div>
			{/if}
			{#if $toggle['from']}
				<div class="option" transition:transitionSlide={{ duration: 200 }}>
					<b>from:</b>
					<div class="input">
						{#if !$me}
							<input
								type="text"
								placeholder="Account handle"
								bind:value={$from.acct}
								on:keyup={onSearchAccount}
								transition:transitionSlide={{ axis: 'x', duration: 200 }}
							/>
						{/if}
						<Checkbox
							text="me"
							small={false}
							checked={$me}
							on:click={() => ($me = !$me)}
						></Checkbox>
					</div>
					{#if $show_tag_selector}
						<div style="position: absolute; width: 100%; top: 7.5px; left: 0;">
							<TagSelector
								account={$account}
								search_query={$from.acct}
								on:click={(e) => {
									$from.acct = e.detail.acct;
									$from.id = e.detail.id;
									$show_tag_selector = false;
								}}
								on:close={() => ($show_tag_selector = false)}
							></TagSelector>
						</div>
					{/if}
				</div>
			{/if}
			{#if $toggle['before']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>before:</b>
					<InputDate bind:value={$before}></InputDate>
				</div>
			{/if}
			{#if $toggle['during']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>during:</b>
					<InputDate bind:value={$during}></InputDate>
				</div>
			{/if}
			{#if $toggle['after']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>after:</b>
					<InputDate bind:value={$after}></InputDate>
				</div>
			{/if}
			{#if $toggle['in']}
				<div class="option" transition:transitionSlide={{ duration: 100 }}>
					<b>in:</b>
					<MulitCheckbox bind:choices={$_in} multiple={false} small={true}
					></MulitCheckbox>
				</div>
			{/if}
		</div>
	{/if}
</div>

<style lang="scss">
	.options-container {
		position: relative;
		display: flex;
		flex-direction: column;

		.option {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1ch;
			padding: 10px;
			border: 1px solid rgb(var(--composer));
			background-color: rgb(var(--header));

			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			input {
				all: unset;
				display: block;
				width: 100%;
				background-color: rgb(var(--composer));
				border-radius: 10px;
				padding: 10px;
				box-sizing: border-box;

				&:focus {
					outline: 1px solid rgb(var(--accent));
				}
			}

			.input {
				flex-grow: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1ch;

				&:first-child {
					flex-grow: 1;
				}

				:global(.checkbox) {
					margin: 5px 0px;
				}
			}

			.language {
				border-radius: 10px;
				padding: 7.5px 15px;
				background-color: rgb(var(--composer));

				&:hover {
					background-color: rgb(var(--lighter));
				}
			}
		}
	}
</style>
