<script lang="ts">
	import { createEventDispatcher, onMount } from 'svelte';

	import From from '../../Composer/From/Container.svelte';
	import Options from './Options.svelte';
	import History from './History.svelte';
	import AdvancedViewButton from './AdvancedViewButton.svelte';
	import Button from '../../Global/Button/Button.svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { Search } from '../../../types/search';

	const eventDispatcher = createEventDispatcher();

	export let search: Search;
	const { composer, props, values, output } = search;
	const { searched, view } = props;
	const { query } = values;

	function keydown(e: KeyboardEvent) {
		switch (e.code) {
			case 'Enter':
			case 'NumpadEnter':
				eventDispatcher('find');
				break;
		}
	}

	let input: HTMLInputElement;

	onMount(() => {
		// if (!$searched) {
		input?.focus();
		if ($output) {
			input.setSelectionRange(0, 99999);
		}
		// }
	});
</script>

<div class="search-container">
	<From {composer} title="With account"></From>
	<AdvancedViewButton {search}></AdvancedViewButton>
	<div class="input">
		<input
			type="text"
			placeholder="Search or paste URL"
			bind:this={input}
			bind:value={$query}
			on:keydown={keydown}
		/>
		{#if $output}
			<button
				title="Clear"
				on:click={() => {
					$query = '';
					input?.focus();
				}}
			>
				<div class="icon fa fa-times"></div>
			</button>
		{:else}
			<button title="Search">
				<div class="icon fa fa-search"></div>
			</button>
		{/if}
	</div>
	<History {search} on:history></History>
	<div class="options-container" transition:transitionSlide={{ duration: 200 }}>
		{#if $view.advanced}
			<Options {search}></Options>
		{/if}
		<div class="buttons">
			<div>
				<button class="title" on:click={() => eventDispatcher('reset')}>Clear</button>
			</div>
			<div>
				<Button
					style="small"
					lock={!$output}
					on:clickTimeout={() => eventDispatcher('find')}>Search</Button
				>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.search-container {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 2ch;
		margin: 15px;

		.input {
			position: relative;

			input {
				all: unset;
				display: block;
				width: 100%;
				background-color: rgb(var(--composer));
				padding: 10px 35px 10px 10px;
				box-sizing: border-box;
				border-radius: 10px;
				border: 1px solid transparent;

				&:focus {
					border: 1px solid rgb(var(--accent));
				}

				&::placeholder {
					color: rgba(var(--accent), 0.75);
				}
			}

			button {
				position: absolute;
				top: 0;
				right: 0.5em;
				height: 100%;

				.icon {
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 20px;
					color: rgb(var(--accent));
				}

				&:hover {
					filter: brightness(1.4);
				}
			}
		}

		.options-container {
			display: flex;
			flex-direction: column;
			gap: 2ch;
			.buttons {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
			}
		}
	}
</style>
