<div class="avatar-loading" />

<style lang="scss">
	@keyframes avatar-loader {
		0%,
		100% {
			transform: scale(0);
			opacity: 1;
		}
		50% {
			transform: scale(1);
			opacity: 0;
		}
	}

	.avatar-loading {
		width: 45px;
		height: 45px;
		display: inline-block;
		position: relative;

		&::after,
		&::before {
			content: '';
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background: rgb(var(--text));
			position: absolute;
			left: 0;
			top: 0;
			box-sizing: border-box;
			animation: avatar-loader 2s ease-in-out infinite;
		}

		&::after {
			animation-delay: -1s;
		}
	}
</style>
