<!-- from https://cssloaders.github.io/ -->
<div class="horizontal-bar-spinner" />

<style lang="scss">
	@keyframes horizontal-bar {
		0% {
			left: 0;
			transform: translateX(-1%);
		}
		100% {
			left: 100%;
			transform: translateX(-99%);
		}
	}

	.horizontal-bar-spinner {
		position: relative;
		width: 100%;
		height: 4.8px;
		display: inline-block;
		overflow: hidden;

		&::after {
			content: '';
			width: 96px;
			height: 4.8px;
			background: rgb(var(--text));
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			animation: horizontal-bar 0.6s ease-in-out infinite alternate;
		}
	}
</style>
