<!-- from https://cssloaders.github.io/ -->
<script lang="ts">
	export let scale: number;
	export let color: string | undefined = undefined;

	let background = color ?? 'rgb(var(--accent))';
	background = `--bg-loading: ${background};`;
</script>

<span class="page-spinner" style="{background}; transform: scale({scale})" />

<style lang="scss">
	@keyframes page-spin {
		0%,
		5% {
			left: -32px;
			width: 16px;
		}
		15%,
		20% {
			left: -32px;
			width: 48px;
		}
		30%,
		35% {
			left: 0px;
			width: 16px;
		}
		45%,
		50% {
			left: 0px;
			width: 48px;
		}
		60%,
		65% {
			left: 32px;
			width: 16px;
		}

		75%,
		80% {
			left: 32px;
			width: 48px;
		}
		95%,
		100% {
			left: 64px;
			width: 16px;
		}
	}

	.page-spinner {
		width: 16px;
		height: 16px;
		position: relative;
		left: -50px;
		border-radius: 50%;
		color: rgb(var(--text));
		background: currentColor;
		box-shadow:
			32px 0,
			-32px 0,
			64px 0;

		&::after {
			content: '';
			position: absolute;
			left: -32px;
			top: 0;
			width: 16px;
			height: 16px;
			border-radius: 10px;
			background: var(--bg-loading);
			animation: page-spin 3s linear infinite alternate;
		}
	}
</style>
