<!-- from https://cssloaders.github.io/ -->
<div class="remote-spinner">
	<div class="loader" />
</div>

<style lang="scss">
	@keyframes remote-spinner-fade {
		0%,
		80%,
		100% {
			box-shadow: 0 2.5em 0 -1.3em;
		}
		40% {
			box-shadow: 0 2.5em 0 0;
		}
	}

	.remote-spinner {
		position: relative;
		width: 50px;
		top: -26px;
		left: 15px;
		padding: 10px;
		box-sizing: content-box;
	}

	.loader,
	.loader:before,
	.loader:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		animation-fill-mode: both;
		animation: remote-spinner-fade 1.8s infinite ease-in-out;
	}

	.loader {
		color: #fff;
		font-size: 7px;
		position: absolute;
		text-indent: -9999em;
		transform: translateZ(0);
		animation-delay: -0.16s;
	}

	.loader:before,
	.loader:after {
		content: '';
		position: absolute;
		top: 0;
	}

	.loader:before {
		left: -3.5em;
		animation-delay: -0.32s;
	}

	.loader:after {
		left: 3.5em;
	}
</style>
