<script lang="ts">
	import { ExpandedPanel } from '../../stores/ExpandedPanel';
</script>

<button class="remove" on:click={() => ExpandedPanel.close()}>
	<div class="fa fa-times"></div>
</button>

<style lang="scss">
	.remove {
		line-height: 5px;
		display: grid;
		justify-content: center;
		align-content: center;
		width: 35px;
		height: 35px;
		font-size: 22.5px;
		flex-shrink: 0;
	}
</style>
