<script lang="ts">
	import Composer from '../Composer/Composer.svelte';
	import InputCheckbox from '../Global/Inputs/InputCheckbox.svelte';

	import { rdOptionsBehaviorComposerStayOpen, stOptions } from '../../stores/Options';

	import { composerInit } from '../../lib/ComponentFunctions/composerInit';

	import type { Composer as ComposerType } from '../../types/composer';

	let composer: ComposerType = composerInit();
	const { edition } = composer;
</script>

<div class="composer-panel">
	<header>
		<div class="title caps-lock">{$edition ? 'Edit status' : 'New status'}</div>
	</header>
	<div class="inner">
		<Composer bind:composer></Composer>
	</div>
	<InputCheckbox
		text="Stay open"
		checked={$rdOptionsBehaviorComposerStayOpen}
		on:click={() =>
			($stOptions.behavior.composer.stayOpen = !$rdOptionsBehaviorComposerStayOpen)}
	/>
</div>

<style lang="scss">
	.composer-panel {
		width: var(--column-width);
		height: 100%;
		background-color: rgb(var(--column));
		overflow: hidden;

		header {
			height: var(--column-header-height);
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 15px 0px 15px 15px;
			background-color: rgb(var(--background));

			.title {
				font-weight: bold;
			}
		}

		.inner {
			position: relative;
			height: calc(100% - calc(var(--column-header-height) * 2));
			overflow-y: auto;
			padding: 15px;
			box-sizing: border-box;
		}
	}
</style>
