<script lang="ts">
	import Shortcut from './Shortcut.svelte';
	import Account from './Accounts/Container.svelte';
	import ProfileContainer from './Profile/Container.svelte';
	import Composer from './Composer.svelte';
	import Search from './Search/Container.svelte';
	import ButtonCloseColumn from './ButtonCloseColumn.svelte';
	import ButtonPrevious from './ButtonPrevious.svelte';

	import { stExpandedPanel, ExpandedPanelState } from '../../stores/ExpandedPanel';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	let is_profile: boolean = $stExpandedPanel.at(-1)?.state === ExpandedPanelState.Profile;
	$: is_profile = $stExpandedPanel.at(-1)?.state === ExpandedPanelState.Profile;
</script>

{#if $stExpandedPanel.length}
	<Shortcut></Shortcut>
	<section
		class="expanded-panel"
		class:profile={is_profile}
		style:width={is_profile ? '370px' : ''}
		transition:transitionSlide={{ axis: 'x', duration: 400 }}
	>
		<div class="close">
			<ButtonPrevious />
			<ButtonCloseColumn />
		</div>
		{#each $stExpandedPanel.map((value, id) => ({ value, id })) as { value, id } (id)}
			<div class="inner" transition:transitionSlide={{ axis: 'x', duration: 400 }}>
				{#if value.state === ExpandedPanelState.Composer || value.state === ExpandedPanelState.ComposerWithData}
					<Composer />
				{:else if value.state === ExpandedPanelState.Search}
					<Search />
				{:else if value.state === ExpandedPanelState.Profile}
					<ProfileContainer expanded_panel={value} />
				{:else if value.state === ExpandedPanelState.Account}
					<Account />
				{/if}
			</div>
		{/each}
	</section>
{/if}

<style lang="scss">
	.expanded-panel {
		z-index: 1;
		position: relative;
		width: var(--column-width);
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		flex-shrink: 0;
		transition: width calc(0.1s * var(--transition-speed));

		&.profile {
			overflow-y: hidden;
		}

		.close {
			z-index: 10;
			position: absolute;
			top: 5.5px;
			right: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			color: rgb(var(--text-button));
		}

		.inner {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(var(--column), var(--background-opacity));
		}
	}
</style>
