<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { onClickTimeout } from '../../../lib/UseClick/clickTimeout';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';

	const eventDispatcher = createEventDispatcher();

	export let css_class: string = '';
	export let style: 'big' | 'default' | 'small' | string = '';
	export let color: string = '';
	export let timeout: number = 500;
	export let lock: boolean = false;

	let locked: boolean;
	$: locked = typeof lock === 'boolean' ? lock : false;

	function dispatch(e: MouseEvent) {
		if (locked === false) {
			eventDispatcher('clickTimeout', e);
		}
	}
</script>

<button
	class:init={!css_class}
	class={[css_class, style].join(' ')}
	class:lock={locked}
	style="background-color: {color}"
	{...notypecheck({
		'on:clickTimeout': true,
	})}
	use:onClickTimeout={timeout}
	on:clickTimeout={dispatch}
>
	<slot></slot>
</button>

<style lang="scss">
	.init {
		display: inline-block;
		width: 100%;
		padding: 0.75rem 2rem;
		box-sizing: border-box;
		background: rgb(var(--red));
		text-decoration: none;
		font-size: 1.4rem;
		text-align: center;
		color: rgb(var(--text-button));
		outline: none;
		transition: calc(0.1s * var(--transition-speed));

		&.lock {
			cursor: default;
			filter: grayscale(1);
		}

		&:not(.lock):hover,
		&:not(.lock):active,
		&:not(.lock):focus {
			filter: brightness(1.2);
		}

		&:not(.lock):active,
		&:not(.lock):focus {
			filter: brightness(1.4);
		}

		&.waiting::after {
			position: absolute;
			content: '';
			animation: 0.5s waiting linear infinite;
		}

		&.big {
			background: rgb(var(--accent));
			border: 2px solid transparent;
			border-radius: 50px;

			&:not(.lock):hover,
			&:not(.lock):active,
			&:not(.lock):focus {
				border: 2px solid #fff;
			}
		}

		&.default {
			background: rgb(var(--accent));
			border: 2px solid transparent;
			border-radius: 50px;
			font-size: 1em;
			padding: 0.65rem 1.5rem;
		}

		&.small {
			background: rgb(var(--accent));
			border: 2px solid transparent;
			border-radius: 50px;
			font-size: 1em;
			padding: 7.5px 12.5px;
		}
	}
</style>
