<script lang="ts">
	import StandardContent from './StandardContent.svelte';

	import type { ParsedAction } from '../../../lib/ContentParser/anchorsParser';
	import type { ParsedNode } from '../../../lib/ContentParser/flattenHTML';

	export let element: ParsedNode;
	export let bigger_emoji: boolean;
	export let onClick: (e: MouseEvent, action?: ParsedAction) => boolean;
</script>

{#if element.li}
	<svelte:element this={element.tag}>
		{#each element.li as { id, nodes } (id)}
			<li>
				{#each nodes as li (li.id)}
					{#if li.tag === 'ul' || li.tag === 'ol'}
						<svelte:self element={li} {bigger_emoji} {onClick}></svelte:self>
					{:else}
						<StandardContent element={li} {bigger_emoji} {onClick}></StandardContent>
					{/if}
				{/each}
			</li>
		{/each}
	</svelte:element>
{/if}
