<script lang="ts">
	import Img from '../../Global/Img.svelte';

	import { rdOptionsAppearanceAnimationAnimateGifEmoji } from '../../../stores/Options';

	import type { TextChunk } from '../../../lib/ContentParser/emojisParser';

	export let chunks: Array<TextChunk> | null;
</script>

{#if chunks}
	{#each chunks as chunk}
		{#if chunk.is_raw}
			{chunk.content}
		{:else}
			<Img
				class="emoji emoji-custom"
				src={chunk.content[$rdOptionsAppearanceAnimationAnimateGifEmoji ? 0 : 1] ??
					chunk.content[0]}
				alt={chunk.short_code}
				height={'14px'}
			/>
		{/if}
	{/each}
{/if}
