<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import RenderInner from './RenderInner.svelte';

	import type { ParsedAction } from '../../../lib/ContentParser/anchorsParser';
	import type { ParsedNode } from '../../../lib/ContentParser/flattenHTML';

	export let element: ParsedNode;
	export let bigger_emoji: boolean;
	export let onClick: (e: MouseEvent, action?: ParsedAction) => boolean;
</script>

{#if element.tag === 'a'}
	<a
		class={element.attributes?.class}
		href={element.attributes?.href}
		rel="nofollow noopener noreferrer"
		target="_blank"
		on:click|stopPropagation={(e) => onClick(e, element.attributes?.action)}
		><RenderInner chunks={element.text} /></a
	>
{:else if element.tag === 'img'}
	{#if bigger_emoji}
		<span class="bigger-emoji">
			<!--
				Atlas method
				src={'px.png'}
			-->
			<Img
				src={element.attributes?.src}
				alt={element.attributes?.alt ?? ''}
				class={element.attributes?.class}
				style={element.attributes?.style}
			/>
		</span>
	{:else}
		<!--
			Atlas method
			src={'px.png'}
		-->
		<Img
			src={element.attributes?.src}
			alt={element.attributes?.alt ?? ''}
			class={element.attributes?.class}
			style={element.attributes?.style}
		/>
	{/if}
{:else}
	<span class={element.attributes?.class} class:bigger-emoji={bigger_emoji}>
		<RenderInner chunks={element.text} />
	</span>
{/if}
