<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import StandardContent from './Renderer/StandardContent.svelte';
	import ListsContent from './Renderer/ListsContent.svelte';
	import BlockquoteContent from './Renderer/BlockquoteContent.svelte';

	import { contentPipeline } from '../../lib/ContentParser/ContentParser';
	import type { ParsedNode } from '../../lib/ContentParser/flattenHTML';
	import { ActionEvent, type ParsedAction } from '../../lib/ContentParser/anchorsParser';
	// import { debugLogger } from '../../lib/debugLogger';

	import type { Entity } from '../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let content: string | Array<ParsedNode> | null;
	export let emojis: Array<Entity.Emoji> = [];
	export let bigger_emoji: boolean = false;

	let dom: Array<ParsedNode> | null;
	$: {
		if (typeof content === 'string') {
			const [_, parsed] = contentPipeline(content, emojis);
			dom = parsed;
		} else {
			dom = content;
		}

		// if (typeof content === 'string') {
		// 	debugLogger('ContentRenderer: Displaying RAW string', content);
		// } else {
		// 	debugLogger('ContentRenderer: Displaying PARSED content');
		// }
	}

	function onClick(e: MouseEvent, action?: ParsedAction): boolean {
		if (!action) {
			return false;
		}

		switch (action.event) {
			case ActionEvent.Click:
				action.callback!(e);
				e.preventDefault();
				break;

			case ActionEvent.ClickQuote:
				eventDispatcher(action.event, { original: e, ...action.detail });
				e.preventDefault();
				break;

			case ActionEvent.Hashtag:
				eventDispatcher(action.event, { original: e, ...action.detail });
				e.preventDefault();
				break;
		}

		return true;
	}
</script>

{#if dom}
	{#each dom as element (element.id)}
		{#if ['ul', 'ol'].includes(element.tag)}
			<ListsContent {element} {bigger_emoji} {onClick}></ListsContent>
		{:else if element.tag === 'blockquote'}
			<BlockquoteContent {element} {bigger_emoji} {onClick}></BlockquoteContent>
		{:else}
			<StandardContent {element} {bigger_emoji} {onClick}></StandardContent>
		{/if}
	{/each}
{/if}
