<script lang="ts">
	import { onDestroy, onMount } from 'svelte';

	import { getIconFromCategory } from '../lib/componentFunctions/getIconFromCategory';
	import { typedGetContext } from '../lib/utils/typedContext';

	import { NavIcons, SearchIcons } from '../assets/Icons';
	import { getDefaultCategories } from '../config/defaultCategories';

	import type { EmojiIndexed } from '../types/emoji.types';
	import type { IconStyle, PickerProps } from '../types/picker.types';

	export let Props: PickerProps;

	/** Receive current scrolled category from EmojisGrid.svelte */
	let scrolled_catergory = typedGetContext('scrolled_catergory');
	/** Dispatch clicked catergory to EmojisGrid.svelte */
	let scroll_to_category = typedGetContext('scroll_to_category');
	/** Get found emojis when searching in Search.svelte */
	let found_emojis = typedGetContext('found_emojis');

	/**
	 * UI/UX
	 */
	// #region

	let bottom_border: HTMLDivElement;
	let nav_element: HTMLElement;
	let categories_offsets: Record<
		string,
		{
			// Compact
			top: number;
			height: number;
			// Normal
			left: number;
			width: number;
		}
	> = {};

	function moveBottomBorder(id: string) {
		const offset = categories_offsets[id];
		if (!offset) {
			return;
		}

		if (Props.compact) {
			bottom_border.style.left = offset.left + 'px';
			bottom_border.style.width = offset.width + 'px';
		} else {
			bottom_border.style.top = offset.top + 'px';
			bottom_border.style.height = offset.height + 'px';
		}
	}

	function moveToCategory(e: MouseEvent) {
		const target = e.currentTarget as HTMLElement;
		const id = target.dataset.id!;

		if ($found_emojis) {
			$found_emojis = null;
		}

		moveBottomBorder(id);
		$scrolled_catergory = id;
		$scroll_to_category = id;
	}

	function getCategoriesOffset() {
		const buttons = (Array.from(nav_element.childNodes) as Array<HTMLElement>).filter(
			(button) => button.dataset?.id
		);

		for (const category of getDefaultCategories()) {
			const element = buttons.find((button) => button.dataset.id === category);
			if (!element) {
				continue;
			}

			const { width, height } = getComputedStyle(element);

			categories_offsets[category] = {
				// Compact
				top: element.offsetTop - 1,
				height: parseFloat(height),
				// Normal
				left: element.offsetLeft - 1,
				width: parseFloat(width),
			};
		}
	}

	const observer = new ResizeObserver(([e]) => {
		window.requestAnimationFrame((): void | undefined => {
			if (!e) {
				return;
			}
			resize();
		});
	});

	function resize() {
		getCategoriesOffset();
		moveBottomBorder($scrolled_catergory);
	}

	onMount(() => {
		observer.observe(nav_element);
	});

	onDestroy(() => {
		observer.disconnect();
	});

	$: if (bottom_border) {
		moveBottomBorder($scrolled_catergory);
	}

	let icon_style: IconStyle;
	$: icon_style = Props.theme === 'dark' ? 'solid' : 'outline';

	// #endregion
</script>

<nav class:compact={Props.compact} bind:this={nav_element}>
	{#if $found_emojis}
		<button class="selected" title="Search">
			{@html getIconFromCategory(SearchIcons, icon_style, 'loupe')}
		</button>
	{:else}
		<button
			class:selected={$scrolled_catergory === 'frequent'}
			title={Props.topRow === 'frequently'
				? Props.i18n.categories['frequent']
				: Props.i18n.categories['recent']}
			data-id={'frequent'}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, 'frequent')}
		</button>
	{/if}
	{#if Props.dataset.customCategories.length}
		<button
			class:selected={$scrolled_catergory === 'custom'}
			title={Props.i18n.categories['custom']}
			data-id={'custom'}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, 'custom')}
		</button>
	{/if}
	{#each Props.dataset.categories as category (category.id)}
		<button
			class:selected={$scrolled_catergory === category.id}
			title={Props.i18n.categories[category.id]}
			data-id={category.id}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, category.id)}
		</button>
	{/each}
	<div class="bottom" bind:this={bottom_border}></div>
</nav>

<style lang="scss">
	nav {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 42px;
		height: 100%;
		padding: 6px 12px;
		box-sizing: border-box;

		&.compact {
			width: 100%;
			height: 42px;
			flex-direction: row;
			padding: 12px;

			.bottom {
				top: unset;
				left: 10px;
				bottom: 0;
				width: 11%;
				height: 3px;
			}
		}

		button {
			all: unset;
			display: flex;
			flex-grow: 1;
			width: 18px;
			height: 18px;
			cursor: pointer;
			color: rgba(var(--text-color), 0.65);
			transition: color 225ms cubic-bezier(0.4, 0, 0.2, 1);
			box-sizing: border-box;

			&:hover {
				color: rgb(var(--text-color));
			}

			&.selected {
				color: rgb(var(--accent));
			}

			:global(svg) {
				fill: currentColor;
				width: 100%;
				height: 100%;
			}
		}

		.bottom {
			z-index: 200;
			position: absolute;
			left: 0;
			top: 10px;
			width: 3px;
			height: 11%;
			border-radius: 3px 3px 0 0;
			background-color: rgb(var(--accent));
			transition: 225ms cubic-bezier(0.4, 0, 0.2, 1);
			box-sizing: border-box;
		}
	}
</style>
