<script lang="ts">
	import { onDestroy, onMount } from 'svelte';
	import { clickOutside } from 'svelte-use-click-outside';

	import '../index.css';

	import Wrapper from './Wrapper.svelte';

	import { getTheme } from '../lib/componentFunctions/getTheme';

	import type { PickerProps, Theme } from '../types/picker.types';

	export let onClickOutside: () => void;
	export let PickerElement: HTMLDivElement | undefined = undefined;

	export let Props: PickerProps;

	let theme: Theme;
	$: theme = getTheme(Props);

	function themeListener() {
		theme = getTheme(Props);
	}

	const observer = new ResizeObserver(([e]) => {
		window.requestAnimationFrame((): void | undefined => {
			if (!e) {
				return;
			}

			const { width, height } = e.contentRect;
			Props.instance.onSizeChange(width, height);
		});
	});

	onMount(() => {
		if (!Props.compact) {
			observer.observe(PickerElement!);
		}

		window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', themeListener);
	});

	onDestroy(() => {
		observer.disconnect();
		window
			.matchMedia('(prefers-color-scheme: dark)')
			.removeEventListener('change', themeListener);
	});
</script>

<div
	use:clickOutside={onClickOutside}
	dir={Props.i18n.rtl ? 'rtl' : 'ltr'}
	class="emoji-mart-svelte"
	class:dark={theme === 'dark'}
	class:light={theme === 'light'}
	class:compact={Props.compact}
	style:--accent={Props.accentColor}
	style:width={Props.compact ? '' : `${Props.width}px`}
	style:height={Props.compact ? '' : `${Props.height}px`}
	bind:this={PickerElement}
>
	<!-- Display the picker background before the component finish to (re)load -->
	<Wrapper {Props}></Wrapper>
</div>

<style lang="scss">
	.emoji-mart-svelte {
		position: relative;
		width: 393px;
		height: 435px;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		background-color: rgb(var(--background-color));
		font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
		box-shadow:
			0.3px 0.5px 2.7px hsl(0deg 0% 0% / 0.25),
			0.4px 0.8px 1px -3.2px hsl(0deg 0% 0% / 0.25),
			1px 2px 2.5px -4.5px hsl(0deg 0% 0% / 0.25);
		box-sizing: border-box;
		scrollbar-width: none;
		resize: both;
		overflow: auto;

		::-webkit-scrollbar {
			width: 0px;
		}

		&.light {
			--text-color: 34, 36, 39;
			--background-color: 255, 255, 255;
			--invert-background-color: 21, 22, 23;
		}

		&.dark {
			--text-color: 222, 222, 221;
			--background-color: 21, 22, 23;
			--invert-background-color: 255, 255, 255;
		}

		&.compact {
			width: 352px;
			flex-direction: column;
			resize: none;
			overflow: hidden;
		}
	}
</style>
