<script lang="ts">
	import { SearchIcons } from '../assets/Icons';
	import { typedGetContext } from '../lib/utils/typedContext';

	import type { EmojiIndexed } from '../types/emoji.types';
	import type { PickerProps } from '../types/picker.types';

	export let Props: PickerProps;

	/** Dispatch found emojis to EmojisGrid.svelte */
	let found_emojis = typedGetContext('found_emojis');

	let input: HTMLInputElement;
	$: if (input) {
		input.focus();
	}

	let value: string = '';
	$: search(value);

	$: if ($found_emojis === null) {
		value = '';
	}

	function search(value: string) {
		const search = value.trim().length;
		show_clear = !!search;

		if (search) {
			$found_emojis = Props.instance.search(value);
		} else {
			$found_emojis = null;
		}
	}

	let show_clear: boolean = false;
</script>

<div class="search" dir={Props.i18n.rtl ? 'rtl' : 'ltr'}>
	<div class="wrapper">
		<div class="icon loupe">
			{@html SearchIcons.loupe}
		</div>
		<input
			type="text"
			placeholder={Props.i18n.search}
			bind:this={input}
			bind:value
			on:click={() => (show_clear = !!value.trim().length)}
			on:blur={() => setTimeout(() => (show_clear = false), 100)}
		/>
		{#if show_clear}
			<button class="icon delete" title={Props.i18n.delete} on:click={() => (value = '')}>
				{@html SearchIcons.delete}
			</button>
		{/if}
	</div>
</div>

<style lang="scss">
	.search {
		position: relative;
		margin-top: 10px;
		margin-bottom: 1px;
		width: 100%;
		box-sizing: border-box;

		&[dir='rtl'] {
			.wrapper {
				.icon {
					&.loupe {
						left: auto;
						right: 20px;
					}

					&.delete {
						left: 20px;
						right: auto;
					}
				}

				input {
					padding: 10px 2.2em 10px 1em;
				}
			}
		}

		.wrapper {
			display: flex;
			padding: 0px 12px;
			color: rgb(var(--text-color));

			.icon {
				z-index: 1;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 1em;
				height: 1em;
				opacity: 0.7;

				:global(svg) {
					fill: currentColor;
					width: 100%;
					height: 100%;
				}

				&.loupe {
					left: 20px;
				}

				&.delete {
					right: 20px;
					cursor: pointer;
				}
			}

			input {
				all: unset;
				display: block;
				width: 100%;
				background-color: rgba(var(--invert-background-color), 0.08);
				color: rgb(var(--text-color));
				border: 0;
				border-radius: 10px;
				outline: 0;
				padding: 10px 1em 10px 2.2em;
				font-size: 14px;
				transition-duration: 225ms;
				transition-property: background-color, box-shadow;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				box-sizing: border-box;

				&:focus {
					background-color: rgb(var(--background-color));
					outline: solid 1px rgb(var(--accent));
				}
			}
		}
	}
</style>
