<script lang="ts">
	import { writable } from 'svelte/store';

	import EmojisGrid from './EmojisGrid/EmojisGrid.svelte';
	import Navigation from './Navigation.svelte';
	import Preview from './Preview/Preview.svelte';
	import Search from './Search.svelte';

	import { typedSetContext } from '../lib/utils/typedContext';

	import type { EmojiIndexed } from '../types/emoji.types';
	import type { PickerProps } from '../types/picker.types';

	export let Props: PickerProps;

	const { update } = Props;

	let last_update: number = 0;

	$: {
		$update;
		reloadPicker();
	}

	function reloadPicker() {
		if (last_update !== $update) {
			Props = Props.instance.getProps();
			last_update = $update;
		}
	}

	typedSetContext('scrolled_catergory', writable('frequent'));
	typedSetContext('scroll_to_category', writable('frequent'));
	typedSetContext('hovered_emoji', writable(null));
	typedSetContext('found_emojis', writable(null));
</script>

{#if Props.dataset}
	<div class="left">
		<Navigation {Props}></Navigation>
	</div>
	<div class:right={!Props.compact}>
		<Search {Props}></Search>
		<EmojisGrid {Props}></EmojisGrid>
		<Preview {Props}></Preview>
	</div>
{:else}
	<div class="error">Picker failed to initialize</div>
{/if}

<style lang="scss">
	.right {
		width: 100%;
		height: 100%;
	}

	.error {
		width: 100%;
		height: 100%;
		display: grid;
		justify-items: center;
		align-items: center;
		color: rgb(var(--red));
		font-weight: bold;
	}
</style>
