<script lang="ts">
	import SidebarContainer from '../components/Sidebar/Container.svelte';
	import ExpandedPanelContainer from '../components/Expanded/Container.svelte';
	import ColumnContainer from '../components/Column/Container.svelte';
	import GlobalWindow from '../components/Window/Container.svelte';
	import DragNDrop from '../components/Global/Drag-n-Drop.svelte';
	import ReactionPicker from '../components/Global/ReactionPicker.svelte';
	import Shortcut from '../components/Global/Shortcut.svelte';

	import { Account, stAccountDefault } from '../stores/Account/Accounts';
	import {
		rdOptionsAppearanceAccentColor,
		rdOptionsAppearanceAccentScrollbar,
		rdOptionsAppearanceCustomCSS,
		rdOptionsAppearanceBackgroundImage,
		rdOptionsAppearanceExtraCherryBlossomPetals,
		rdOptionsAppearanceExtraSnow,
		rdOptionsAppearanceBackgroundOpacityValue,
		stDebugComposer,
		stDebugSearch,
		stDebugLeaks,
		stDebug,
		rdOptionsAppearanceColumnWidth,
		rdOptionsAppearanceAnimationSpeedFactor,
	} from '../stores/Options';
	import { stReactionPicker } from '../stores/ReactionPicker';

	import { notifyNewerVersion } from '../lib/Utils/notifyNewerVersion';
	import { getCSSVariables } from '../lib/ComponentFunctions/options/getCSSvariables';

	notifyNewerVersion();

	const query = new URLSearchParams(window.location.search);
	const debug = query.get('debug');
	if (debug !== null) {
		switch (debug) {
			case 'composer':
				$stDebugComposer = true;
				break;
			case 'search':
				$stDebugSearch = true;
				break;
			case 'leaks':
				$stDebugLeaks = true;
			default:
				$stDebug = true;
				break;
		}
	}
</script>

<Shortcut instance={Account.get($stAccountDefault).instance}></Shortcut>

<svelte:head>
	<meta name="theme-color" content={$rdOptionsAppearanceAccentColor} />
	<svelte:element this={'style'}>
		{getCSSVariables(
			$rdOptionsAppearanceBackgroundImage,
			$rdOptionsAppearanceBackgroundOpacityValue,
			$rdOptionsAppearanceAccentScrollbar,
			$rdOptionsAppearanceCustomCSS,
			$rdOptionsAppearanceColumnWidth,
			$rdOptionsAppearanceAnimationSpeedFactor
		)}
	</svelte:element>
</svelte:head>

{#if $rdOptionsAppearanceExtraSnow}
	{#await import('svelte-confetti-p5') then { ConfettiP5 }}
		<ConfettiP5
			colors={['#AAA']}
			shapes="circles"
			minSize={1}
			maxSize={6}
			spacing={25}
			amount={200}
			flip={0}
			wind={10}
			power={2}
			weight={75}
			loop={true}
			images={[]}
		></ConfettiP5>
	{/await}
{/if}
{#if $rdOptionsAppearanceExtraCherryBlossomPetals}
	{#await import('svelte-confetti-p5') then { ConfettiP5 }}
		<ConfettiP5
			images={['/sakura/sakura1.png', '/sakura/sakura2.png', '/sakura/sakura3.png']}
			shapes="images"
			minSize={1}
			maxSize={1}
			spacing={30}
			amount={100}
			flip={1}
			rotate={1}
			wind={10}
			power={1}
			weight={40}
			loop={true}
		></ConfettiP5>
	{/await}
{/if}

<SidebarContainer />
<ExpandedPanelContainer />
<ColumnContainer />

<!-- Window -->
<GlobalWindow />

<!-- Reaction Picker -->
{#if $stReactionPicker}
	<ReactionPicker />
{/if}

<!-- Drag n Drop -->
<DragNDrop instance={Account.get($stAccountDefault).instance} />

<style lang="scss">
	:global(.p5Canvas) {
		filter: brightness(0.9);
	}
</style>
