<script lang="ts">
	import { getContext } from 'svelte';
	import { type Writable } from 'svelte/store';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';
	import Wait from '../../../Spinner/RemoteSpinner.svelte';
	import Reactions from '../../../Status/EmojiReactions/Container.svelte';

	import { remoteFetchStatus } from '../../../../lib/ComponentFunctions/remoteFetch';
	import { emojiReactionReached } from '../../../../lib/ComponentFunctions/emojiReaction/emojiReactionReached';

	import type { ParsedStatus } from '../../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	const context = getContext('PickerProps') as {
		update: Writable<number>;
		account: TootDeckAccount;
		status: ParsedStatus;
		position: { x: number; y: number };
	};
	const update = context.update;

	let remote_status: ParsedStatus;
	let error: boolean = false;

	$: {
		$update;
		remote_status = context.status;
	}

	/**
	 * Returns true if an error happened
	 */
	async function canReact() {
		const response = await remoteFetchStatus(account, status);
		if (!response) {
			error = true;
			return;
		}

		remote_status = response;
	}

	let position = { x: 0, y: 0 };

	async function onclick(e: MouseEvent) {
		position.x = e.pageX;
		position.y = e.pageY;

		context.account = account;
		context.status = remote_status;
		context.position = position;
		$update = 1;
	}
</script>

<div class:error>
	{#await canReact()}
		<Wait />
	{:then _}
		{#if !error}
			<Reactions {account} status={remote_status}></Reactions>
			{#if !emojiReactionReached(account, remote_status)}
				<button class="reaction" on:click|stopPropagation={onclick}>
					<div class="icon fa fa-plus" />
				</button>
			{/if}
		{:else}
			Unavailable
		{/if}
	{/await}
</div>

<style lang="scss">
	.reaction {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 5px;

		&:before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(var(--composer));
			border-radius: 5px;
		}

		&:hover:before {
			filter: brightness(1.5);
		}
	}

	.error,
	.error:hover {
		filter: grayscale(1) !important;
		cursor: default;
	}
</style>
