<script lang="ts">
	import Wait from '../../../Spinner/RemoteSpinner.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import { remoteFetchStatus } from '../../../../lib/ComponentFunctions/remoteFetch';
	import { bookmark, unbookmark } from '../../../../lib/ComponentFunctions/interactions/bookmark';

	import type { ParsedStatus } from '../../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	let bookmarked: boolean;
	let remote_status: ParsedStatus;
	let error: boolean = false;

	/**
	 * Returns true if an error happened
	 */
	async function isBookmarked() {
		const response = await remoteFetchStatus(account, status);
		if (!response) {
			error = true;
			return;
		}

		remote_status = response;
		bookmarked = remote_status.bookmarked ?? false;
	}

	async function onclick() {
		if (bookmarked) {
			if (await unbookmark(account, remote_status)) {
				bookmarked = false;
			}
		} else {
			if (await bookmark(account, remote_status)) {
				bookmarked = true;
			}
		}
	}
</script>

<button
	class:invert={bookmarked}
	class:error
	on:click={() => {
		if (!error) {
			onclick();
		}
	}}
>
	{#await isBookmarked()}
		<Wait />
	{:then _}
		{#if error}
			Unavailable
		{:else if bookmarked}
			<div class="fa fa-bookmark-o" />
			Unbookmark
		{:else}
			<div class="fa fa-bookmark" />
			Bookmark
		{/if}
	{/await}
</button>

<style lang="scss">
	.invert {
		background-color: rgb(var(--red)) !important;
	}

	.error,
	.error:hover {
		filter: grayscale(1) !important;
		cursor: default;
	}
</style>
