<script lang="ts">
	import Wait from '../../../Spinner/RemoteSpinner.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import {
		favourite,
		unfavourite,
	} from '../../../../lib/ComponentFunctions/interactions/favourite';
	import { remoteFetchStatus } from '../../../../lib/ComponentFunctions/remoteFetch';

	import type { ParsedStatus } from '../../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	let favourited: boolean;
	let remote_status: ParsedStatus;
	let error: boolean = false;

	/**
	 * Returns true if an error happened
	 */
	async function isFavourited() {
		const response = await remoteFetchStatus(account, status);
		if (!response) {
			error = true;
			return;
		}

		remote_status = response;
		favourited = remote_status.favourited ?? false;
	}

	async function onclick() {
		if (favourited) {
			if (await unfavourite(account, remote_status)) {
				favourited = false;
			}
		} else {
			if (await favourite(account, remote_status)) {
				favourited = true;
			}
		}
	}
</script>

<button
	class:invert={favourited}
	class:error
	on:click={() => {
		if (!error) {
			onclick();
		}
	}}
>
	{#await isFavourited()}
		<Wait />
	{:then _}
		{#if error}
			Unavailable
		{:else if favourited}
			<div class="fa fa-star-o" />
			Unfavourite
		{:else}
			<div class="fa fa-star" />
			Favourite
		{/if}
	{/await}
</button>

<style lang="scss">
	.invert {
		background-color: rgb(var(--red)) !important;
	}

	.error,
	.error:hover {
		filter: grayscale(1) !important;
		cursor: default;
	}
</style>
