<script lang="ts">
	import Reaction from './Reaction.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceEmojiReactionMax } from '../../../stores/Options';

	import type { EmojiReaction, ParsedStatus } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	function slice(reactions: Array<EmojiReaction>, max: number | undefined) {
		const sliced = reactions.slice(0, max);

		reactions.forEach((reaction) => {
			if (reaction.me && !sliced.find((r) => r.uuid === reaction.uuid)) {
				sliced.push(reaction);
			}
		});

		return sliced;
	}
</script>

{#if status.emoji_reactions.length}
	<div class="emoji-reactions-container">
		{#each slice(status.emoji_reactions, $rdOptionsAppearanceEmojiReactionMax || undefined) as reaction (reaction.uuid)}
			{#if reaction.url || !reaction.name.includes('@')}
				<Reaction {account} {status} {reaction}></Reaction>
			{/if}
		{/each}
	</div>
{/if}

<style lang="scss">
	.emoji-reactions-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5ch;
		margin-top: 0.5ch;
	}
</style>
