<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Item from './Item.svelte';

	import { capitalize } from '../../../../../lib/Utils/string/capitalize';

	const eventDispatcher = createEventDispatcher();

	export let data: Array<[string, string]>;
	export let selected: string;
</script>

<div class="image-radio-container">
	{#each data as [key, value] (key)}
		<Item
			src={value}
			alt={`TootDeck ${key} logo`}
			title={capitalize(key)}
			width="80px"
			selected={key === selected}
			on:click={() => eventDispatcher('click', key)}
		/>
	{/each}
</div>

<style lang="scss">
	.image-radio-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5ch;
	}
</style>
