<script lang="ts">
	import { GlobalWindow, GlobalWindowState } from '../../../../stores/Window';

	import type { IterableMedia } from '../../../../types/media';

	export let media: IterableMedia;

	function openAlt(media: IterableMedia) {
		GlobalWindow.create({
			state: GlobalWindowState.Alt,
			special: false,
			alt: media.alt,
			media,
			editable: true,
		});
	}
</script>

<button class="alt" on:click|stopPropagation={() => openAlt(media)}>
	<div class="default caps-lock">Edit</div>
</button>

<style lang="scss">
	.alt {
		z-index: 1;
		padding: 1px 2.5px;
		border-radius: 5px;
		color: #fff;
		font-size: calc(var(--font-size) - 1px);
	}
</style>
