<script lang="ts">
	import { GlobalWindow, GlobalWindowState } from '../../../../stores/Window';

	import type { IterableMedia } from '../../../../types/media';

	export let media: IterableMedia;

	function openAlt(media: IterableMedia) {
		GlobalWindow.create({
			state: GlobalWindowState.Alt,
			special: false,
			alt: media.alt,
			media,
			editable: true,
		});
	}
</script>

<div class="buttons">
	<button class="alt" on:click|stopPropagation={() => openAlt(media)}>
		<div class="default caps-lock">Edit</div>
	</button>
	<button class="remove" on:click>
		<div class="fa fa-times" />
	</button>

	<style lang="scss">
	</style>
</div>

<style lang="scss">
	.buttons {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		button {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #fff;
			background-color: #0000009d;
			margin: 5px;
			border-radius: 5px;
			font-size: calc(var(--font-size) + 1px);

			&:hover {
				background-color: #000000b7;
			}

			&.alt {
				padding: 1px 2.5px;
				font-size: calc(var(--font-size) - 1px);
			}

			&.remove {
				padding: 5px;
			}
		}
	}
</style>
