<script lang="ts">
	import Title from './Title.svelte';
	import RightButtons from './RightButtons.svelte';
	import Options from './Options.svelte';

	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';
	import { rdOptionsAppearanceBackgroundOpacityHeaders } from '../../../stores/Options';

	import type { StandardColumn } from '../../../lib/Columns/StandardColumn';

	export let column: IndexedLayoutColumn<StandardColumn<any>, any>;
	export let minimize: boolean;
	export let thread: boolean;
	export let stack_number: number = 0;

	const options = column.options;

	let show_options: boolean = false;
</script>

<header
	class:collapse={$options.collapsed}
	class:options={show_options}
	class:transparency={$rdOptionsAppearanceBackgroundOpacityHeaders}
>
	<div class="wrapper">
		<Title {column} {thread} {stack_number} on:click on:previous on:close />
		{#if !minimize && !thread}
			<RightButtons bind:column on:click={() => (show_options = !show_options)} />
		{/if}
	</div>
	{#if show_options && !$options.collapsed}
		<Options {column} />
	{/if}
</header>

<style lang="scss">
	header {
		z-index: 1;
		position: relative;
		max-width: var(--column-width);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// background-color: rgb(var(--header));
		flex-shrink: 0;

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: 100vh;
			height: 100%;
			background-color: rgb(var(--header));
			display: none;
		}

		&:not(.transparency) {
			background-color: rgb(var(--header));

			&.collapse {
				&::before {
					display: block;
				}
			}
		}

		.wrapper {
			height: var(--column-header-height);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 5px;
			padding: 5px 10px;
			box-sizing: border-box;
			flex-shrink: 0;
		}
	}
</style>
