<script lang="ts">
	import InputCheckbox from '../../Global/Inputs/InputCheckbox.svelte';
	import Card from '../..//Selector/Card.svelte';
	import ButtonSelector from '../../Selector/Implementations/ButtonSelector.svelte';
	import Button from '../../Global/Button/Button.svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';

	import { SoundsLibrary, type Sound } from '../../../lib/SoundsLibrary';
	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { isCheckboxChecked } from '../../../lib/Utils/js/isCheckboxChecked';
	import type { IStandardColumn } from '../../../lib/Columns/StandardColumn';

	import { SettingsState } from '../../../types/settings';

	export let column: IndexedLayoutColumn<IStandardColumn, any>;

	let sounds = SoundsLibrary.getReadable();
	let enable_sound: boolean = !!column.instance.sound;
	let selected_index: number;

	$: selected_index = $sounds.findIndex((x) => x.default);
	$: {
		// Toggle sound if sounds library as sounds in it
		if ($sounds[selected_index] && column.instance.sound !== $sounds[selected_index].uuid) {
			toggleSound(enable_sound);
		}

		// Disable sound if sounds library is empty
		else if (!$sounds[selected_index] && column.instance.sound) {
			toggleSound(false);
		}
	}

	/**
	 * - Change checkbox checked status
	 * - Toggle column sound
	 */
	function toggleSound(value: boolean) {
		enable_sound = value;

		// Enable sound if a sound is selected
		if (value && $sounds[selected_index]) {
			column.instance.sound = $sounds[selected_index].uuid;
		}

		// Disable sound if needed
		else if (column.instance.sound) {
			column.instance.sound = null;
		}
	}

	/**
	 * Change selector selection
	 */
	function changeSelection(sound: Sound) {
		selected_index = $sounds.findIndex((x) => x.uuid === sound.uuid);
	}
</script>

<InputCheckbox
	text="Enable sound"
	checked={enable_sound}
	on:click={(e) => toggleSound(isCheckboxChecked(e))}
/>
{#if enable_sound}
	<div class="sound-selector" transition:transitionSlide={{ duration: 200 }}>
		{#if $sounds.length !== 0}
			<ButtonSelector
				data={$sounds}
				let:data
				index_key={'uuid'}
				absolute={true}
				bind:selected_index
				on:click={(e) => changeSelection(e.detail.data)}
			>
				<svelte:fragment slot="button">
					<div class="fa fa-star" />
					{$sounds[selected_index].name}
				</svelte:fragment>
				<Card
					on:click={() => changeSelection(data)}
					selected={$sounds.findIndex((x) => x.uuid === data.uuid) === selected_index}
				>
					<span class="card">
						{#if data.default}
							<div class="fa fa-star" />
						{/if}
						{data.name}
					</span>
				</Card>
			</ButtonSelector>
		{/if}
		<span class="button">
			<Button
				style="small"
				on:clickTimeout={() =>
					GlobalWindow.create({
						state: GlobalWindowState.Setting,
						special: false,
						category: SettingsState.SoundsLibrary,
					})}>Open sounds library</Button
			>
		</span>
	</div>
{/if}

<style lang="scss">
	.sound-selector {
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1ch;

		span {
			&.card {
				padding: 0px 5px;
			}

			&.button {
				:global(button) {
					padding: 2.5px 7.5px;
				}
			}
		}
	}
</style>
