<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Img from '../../Global/Img.svelte';

	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';
	import { stAccountsSameInstance, stRefreshAccount } from '../../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceAnimationAnimateGifAvatar,
		rdOptionsAppearanceColumnHeaderAvatar,
		rdOptionsAppearanceColumnHeaderIcon,
	} from '../../../stores/Options';

	import type { IStandardColumn } from '../../../lib/Columns/StandardColumn';
	import { addFullHandleIfNecessary } from '../../../lib/ComponentFunctions/addFullHandle';

	import type { ParsedStatus } from '../../../types/contentParsed';

	const eventDispatcher = createEventDispatcher();

	export let column: IndexedLayoutColumn<IStandardColumn, ParsedStatus>;
	export let thread: boolean;
	export let stack_number: number;

	const options = column.options;
	const rdInitialized = column.instance.initialized;

	let title: string;
	let handle: string;
	$: {
		title = $options.override_title.toggle
			? ($options.override_title.value?.title ?? column.title)
			: column.title;

		let def = addFullHandleIfNecessary($stAccountsSameInstance, column.account);
		handle = $options.override_title.toggle
			? ($options.override_title.value?.handle ?? def)
			: def;
	}
</script>

{#if thread}
	<button
		class="title caps-lock"
		class:back={thread}
		class:previous={stack_number}
		on:click={() => eventDispatcher('close')}
	>
		{#if stack_number === -1}
			<div class="name">Close thread</div>
		{:else}
			<div class="icon fa fa-chevron-left" />
			<div class="name">Back to {title}</div>
		{/if}
	</button>
	{#if stack_number > 0}
		<button
			class="title"
			class:back={thread}
			class:previous={stack_number}
			on:click={() => eventDispatcher('previous')}
		>
			<div class="icon fa fa-chevron-left" />
			<div class="name">Previous</div>
		</button>
	{/if}
{:else}
	<button
		class="title caps-lock"
		class:collapse={$options.collapsed}
		class:back={thread}
		on:click={() => {
			if ($rdInitialized) {
				eventDispatcher('click');
			}
		}}
	>
		{#if $rdOptionsAppearanceColumnHeaderAvatar}
			<div class="pp">
				<Img
					src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
						? column.account.entity.avatar
						: column.account.entity.avatar_static}
					alt="{column.account.entity.username} profile picture"
					width="15px"
					height="15px"
				/>
			</div>
		{/if}
		{#if $rdOptionsAppearanceColumnHeaderIcon}
			<div class="icon-column {column.icon}" />
		{/if}
		<div class="name">{title}</div>
		<div class="account">
			{handle}
		</div>
	</button>
{/if}

<style lang="scss">
	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		overflow: hidden;
		color: rgb(var(--text));

		&:first-child {
			flex-grow: 1;
		}

		&.collapse {
			overflow: unset;

			.account {
				overflow: unset;
				text-overflow: unset;
			}
		}

		.pp {
			width: 15px;
			height: 15px;
			overflow: hidden;
			border-radius: 100%;
			display: grid;
			justify-items: center;
			align-items: center;
			flex-shrink: 0;
		}

		.icon {
			font-size: calc(var(--font-size) - 2px);
			flex-shrink: 0;
			margin-top: 2px;
		}

		.icon-column {
			font-size: calc(var(--font-size) + 1px);
			flex-shrink: 0;
			margin-bottom: -1px;
		}

		.name {
			font-size: calc(var(--font-size) + 1px);
			font-weight: bold;
		}

		.account {
			font-size: calc(var(--font-size) - 2px);
			padding-top: 2px;
			opacity: 0.7;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
</style>
