<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { onClickTimeout } from '../../../lib/UseClick/clickTimeout';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';

	import type { ListAccountLength } from '../../../types/lists';

	const eventDispatcher = createEventDispatcher();

	export let list: ListAccountLength;

	function updateList() {
		list.animate = 'animate ' + (list.in_list ? 'remove' : 'add');

		setTimeout(() => {
			list.animate = undefined;
		}, 1000);

		eventDispatcher('click');
	}
</script>

<button
	class="list {list.animate ?? ''}"
	{...notypecheck({
		'on:clickTimeout': true,
	})}
	use:onClickTimeout
	on:clickTimeout={() => updateList()}
	transition:transitionSlide={{ duration: 200 }}
>
	<div class="left">
		<div class="title">
			{list.title}
		</div>
		<div class="len">
			{list.length}
			{list.length <= 1 ? 'account' : 'accounts'}
		</div>
	</div>
	{#if list.in_list}
		<div class="icon remove fa fa-check" />
	{:else}
		<div class="icon add fa fa-plus" />
	{/if}
</button>

<style lang="scss">
	@keyframes valid {
		0% {
			width: 0%;
			opacity: 0;
		}

		30% {
			opacity: 1;
		}

		50% {
			width: 100%;
			opacity: 1;
		}

		100% {
			opacity: 0;

			width: 100%;
		}
	}

	.list {
		z-index: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: rgb(var(--header));
		padding: 5px 10px;
		border: 1px solid rgb(var(--background));
		font-size: calc(var(--font-size) + 3px);
		overflow: hidden;

		&:hover {
			border: 1px solid rgb(var(--text));
		}

		&.animate {
			&::before {
				z-index: -1;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 100%;
				animation: valid 1s ease-in-out;
			}

			&.add::before {
				background-color: #009719;
			}

			&.remove::before {
				background-color: #970000;
			}
		}

		.left {
			display: flex;
			flex-direction: column;
			gap: 2px;
			max-width: 480px;
			flex-shrink: 1;

			.title {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.len {
				opacity: 0.7;
				font-size: calc(var(--font-size) + 1px);
			}
		}

		.icon {
			width: 17px;
			flex-shrink: 0;
			margin-left: 10px;

			&.remove {
				color: rgb(var(--green));
			}
		}
	}
</style>
