<script lang="ts">
	import Button from '../../Global/Button/Button.svelte';
	import Container from '../Window.svelte';
	import From from '../../Composer/From/Container.svelte';
	import CreateList from './CreateList.svelte';
	import ListElement from './ListElement.svelte';
	import ColumnLoading from '../../Global/ColumnLoading.svelte';

	import {
		stGlobalWindow,
		type GlobalWindowList,
		GlobalWindow,
		GlobalWindowState,
	} from '../../../stores/Window';
	import { NotificationModalType, notificationModal } from '../../../stores/NotificationsModal';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { errorModal } from '../../../lib/errorModal';
	import { remoteFetchAccount } from '../../../lib/ComponentFunctions/remoteFetch';
	import { composerInit } from '../../../lib/ComponentFunctions/composerInit';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { ListAccountLength } from '../../../types/lists';

	const gloabl_window = $stGlobalWindow as GlobalWindowList;
	const status_account: ParsedAccount = gloabl_window.status_account;

	const composer = composerInit({ account: gloabl_window.account });
	const { account } = composer;

	let lists: Array<ListAccountLength> = [];

	async function getLists() {
		if (promise) {
			return;
		}

		promise = true;

		const response = await $account.mirrorAPI.Timeline.Lists.getAll();
		if (!response) {
			return;
		}

		lists = [];

		const accounts = await Promise.all(
			response.map((list) => $account.mirrorAPI.Timeline.Lists.getAccounts(list.id))
		);
		for (const i in accounts) {
			if (!i) {
				continue;
			}
			const acc = accounts[i];
			const list = response[i];
			if (!acc) {
				notificationModal.create(
					NotificationModalType.Warn,
					`Failed to fetch accounts in list: ${list.title}.`,
					true
				);
				continue;
			}

			lists.push({
				...list,
				length: acc.length,
				in_list: !!acc.find((x) => x.id === status_account.id),
			});
		}

		lists = lists;

		promise = false;
	}

	async function updateList(list: ListAccountLength) {
		const remote_account = await remoteFetchAccount($account, status_account);
		if (!remote_account) {
			return;
		}

		const response = list.in_list
			? await $account.mirrorAPI.Timeline.Lists.deleteAccounts(list.id, [remote_account.id])
			: await $account.mirrorAPI.Timeline.Lists.addAccounts(list.id, [remote_account.id]);
		if (!response) {
			errorModal(
				`Unable to ${list.in_list ? 'remove' : 'add'} account ${
					list.in_list ? 'from' : 'to'
				} list.`,
				undefined,
				true
			);
			return;
		}

		lists = lists.map((l) => {
			if (l.id !== list.id) {
				return l;
			}

			l.length += list.in_list ? -1 : 1;
			l.in_list = !list.in_list;

			return l;
		});
	}

	let promise: boolean = false;

	$: {
		$account;
		getLists();
	}

	// TODO: Refresh column list
</script>

<Container title="Add @{status_account.acct} to list">
	<div class="list-container">
		<div class="pad">
			<From {composer} />
		</div>
		<hr />
		{#await getLists() then _}
			<div class="pad" transition:transitionSlide|global={{ duration: 300 }}>
				<CreateList account={$account} manager={false} bind:lists />
				<div class="lists">
					{#if lists}
						{#each lists as list (list.id)}
							<ListElement {list} on:click={() => updateList(list)} />
						{/each}
					{/if}
				</div>
			</div>
		{/await}
		<div class="pad">
			<Button
				style="small"
				on:clickTimeout={() =>
					GlobalWindow.create({
						state: GlobalWindowState.ListManager,
						special: false,
						account: $account,
					})}>Manage lists</Button
			>
		</div>
	</div>
	{#if promise}
		<div class="loading">
			<ColumnLoading />
		</div>
	{/if}
</Container>

<style lang="scss">
	.list-container {
		display: flex;
		flex-direction: column;
		min-width: 400px;
		max-width: 640px;
		max-height: 80vh;
		overflow-y: auto;

		.loading {
			padding-top: 10px;

			:global(> div) {
				width: 100%;
			}
		}

		.pad {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 15px 20px;

			.lists {
				display: flex;
				flex-direction: column;
				gap: 1px;
			}
		}

		hr {
			border-color: rgb(var(--light));
		}
	}
</style>
