<script lang="ts">
	import type { ParsedCommit } from '../../../lib/Changelog';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';
	import { formatAbsoluteDate, formatDate } from '../../../lib/Utils/date/formatDate';

	export let commit: ParsedCommit;

	function shorten(id: string, max: number) {
		if (max >= id.length) {
			return id;
		}

		const len = Math.floor(max / 2);

		const prefix = id.slice(0, len);
		const suffix = id.slice(id.length - len, id.length);

		return `${prefix}...${suffix}`;
	}
</script>

<div class="commit">
	<div class="info">
		<a href={commit.url} {...ANCHOR_ARGS}>{shorten(commit.id, 17)}</a>
		<p title={formatAbsoluteDate(new Date(commit.created_at), 'big')}>
			{formatDate(commit.created_at)}
		</p>
	</div>
	<div class="message">
		{#each commit.content.map( (content, index) => ({ content, index }) ) as { content, index } (index)}
			{#if typeof content === 'string'}
				<p>
					{content}
				</p>
			{:else}
				<p>
					{#each content.map((chunk, id) => ({ chunk, id })) as { chunk, id } (id)}
						{#if chunk.url}
							<a href={chunk.url} {...ANCHOR_ARGS}>{chunk.text}</a>
						{:else}
							{chunk.text}
						{/if}
					{/each}
				</p>
			{/if}
		{/each}
	</div>
</div>

<style lang="scss">
	.commit {
		display: flex;
		flex-direction: column;
		gap: 0.25ch;

		.info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.message {
			display: flex;
			flex-direction: column;
		}
	}
</style>
