<script lang="ts">
	import Commits from './Commits.svelte';

	import type { ParsedChangelog } from '../../../lib/Changelog';

	export let changelog: ParsedChangelog;
</script>

<div class="changelog-container">
	{#if changelog.global?.found_commit !== undefined}
		<div class="repository-container">
			<h2>Global</h2>
			<Commits
				repository={'global'}
				commits={changelog.global?.commits}
				found_commit={changelog.global?.found_commit}
			></Commits>
		</div>
	{/if}
	{#if changelog.backend?.found_commit !== undefined}
		<div class="repository-container">
			<h2>Backend</h2>
			<Commits
				repository={'backend'}
				commits={changelog.backend?.commits}
				found_commit={changelog.backend?.found_commit}
			></Commits>
		</div>
	{/if}
	{#if changelog.frontend?.found_commit !== undefined}
		<div class="repository-container">
			<h2>Frontend</h2>
			<Commits
				repository={'frontend'}
				commits={changelog.frontend?.commits}
				found_commit={changelog.frontend?.found_commit}
			></Commits>
		</div>
	{/if}
</div>

<style lang="scss">
	.changelog-container {
		display: flex;
		flex-direction: column;
		gap: 2ch;
		padding: 20px;
		overflow-y: auto;
		overflow-x: hidden;

		.repository-container {
			display: flex;
			flex-direction: column;
			gap: 0.5ch;
		}
	}
</style>
