<script lang="ts">
	export let show: boolean;
</script>

<button class:show on:click={() => (show = !show)}>
	<slot />
</button>

<style lang="scss">
	button {
		all: unset;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		margin: 4px;
		border-radius: 100%;
		cursor: pointer;
		border: 1px solid transparent;
		flex-shrink: 0;

		&:hover {
			border: 1px solid #ffffff1a;
		}

		&.show {
			border: 1px solid transparent;
			background-color: #ffffff1a;
		}
	}
</style>
