<script lang="ts">
	import { fly } from 'svelte/transition';
	import { clickOutside } from 'svelte-use-click-outside';

	type Data = { id: number; [key: string]: any };

	export let data: Array<Data>;
	export let dir: string;
	export let x: string;
	export let color: string;

	export let show: boolean;
	export let isChecked: (value: Data) => boolean;
</script>

<div
	use:clickOutside={() => setTimeout(() => (show = false), 10)}
	class="selector"
	{dir}
	style={`--x: ${x}`}
	transition:fly={{ duration: 225, y: 10 }}
>
	{#each data as value (value.id)}
		<div
			class="input"
			class:default={isChecked(value)}
			style={`--adjusted-text-color: ${color};`}
		>
			<input type="radio" name="selector" checked={isChecked(value)} value={value.id} />
			<slot data={value} />
		</div>
	{/each}
</div>

<style lang="scss">
	.selector {
		z-index: 5;
		position: absolute;
		right: var(--x);
		bottom: 52px;
		transform-origin: 100% 100%;
		border: 1px solid rgba(var(--text-color), 0.1);
		background-color: rgba(var(--background-color), 0.75);
		backdrop-filter: blur(4px);
		transition-duration: 225ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		border-radius: 10px;
		padding: 4px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
		box-sizing: border-box;

		&[dir='rtl'] {
			left: var(--x);
			right: auto;
		}

		.input {
			display: flex;
			align-items: center;
			width: 100%;
			height: 28px;
			padding: 4px 6px;
			border-radius: 6px;
			cursor: pointer;
			color: rgb(var(--text-color));
			box-sizing: border-box;

			input {
				display: none;
			}

			&:hover {
				background-color: rgb(var(--accent));
				color: var(--adjusted-text-color);
			}

			&.default {
				box-shadow: 0 0 0 2px rgb(var(--accent));
			}
		}
	}
</style>
