<script lang="ts">
	export let href: string;

	function convertToEmbed(href: string): string {
		const url = new URL(href);
		const start = url.searchParams.get('start') ?? '';
		const timecode = start ? '?start=' + start : '';

		return 'https://www.dailymotion.com/embed' + url.pathname + timecode;
	}
</script>

<iframe src={convertToEmbed(href)}></iframe>

<style lang="scss">
	iframe {
		margin: 2.5px 0px 0px;
		border: none;
		border-radius: 10px;
		aspect-ratio: 16/9;
	}
</style>
