<script lang="ts">
	import { onDestroy } from 'svelte';
	import { get } from 'svelte/store';

	import Navigation from './Navigation.svelte';
	import ProfileContainer from './ProfileContainer.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';
	import { rdOptionsBehaviorProfileDefaultTab } from '../../../../stores/Options';

	import type { ProfileColumn } from '../../../../lib/Columns/TootDeckColunms/ProfileColumn';
	import { columnFactory } from '../../../../lib/Columns/ColumnFactory';
	import { TootDeckColumnIdentifier } from '../../../../lib/Columns/TootDeckColumnTypes';
	import { EventsManager } from '../../../../lib/Events/EventsManager';
	import { TootDeckEvents } from '../../../../lib/Events/TootDeckEvents';
	import { IndexedArray } from '../../../../lib/IndexedArray';

	import type { ParsedAccount, ParsedStatus } from '../../../../types/contentParsed';
	import { ActiveTab } from '../../../../types/profile';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;

	let active: ActiveTab = $rdOptionsBehaviorProfileDefaultTab;
	let waiting: boolean = false;

	// This object is used in the profile column to update getStatuses params
	const request_params = {
		exclude_replies: active !== ActiveTab.Replies && active !== ActiveTab.Media,
		pinned: active === ActiveTab.Pinned,
		only_media: active === ActiveTab.Media,
	};

	const column: ProfileColumn = columnFactory.create(TootDeckColumnIdentifier.Profile, {
		account: account.mirrorAPI.handle,
		options: {
			collapsed: false,
			override_title: {
				toggle: false,
				value: null,
			},
			sound_uuid: null,
			// @ts-ignore
			profile_account_id: status_account.id,
			// @ts-ignore
			request_params,
		},
	});

	const tabs_cache: {
		[ActiveTab.Posts]: Array<ParsedStatus>;
		[ActiveTab.Replies]: Array<ParsedStatus>;
		[ActiveTab.Pinned]: Array<ParsedStatus>;
		[ActiveTab.Media]: Array<ParsedStatus>;
	} = {
		[ActiveTab.Posts]: [],
		[ActiveTab.Replies]: [],
		[ActiveTab.Pinned]: [],
		[ActiveTab.Media]: [],
	};

	function loadCache() {
		column.props.content.set(new IndexedArray<ParsedStatus>(...tabs_cache[active]));
	}

	function saveCache() {
		tabs_cache[active] = new Array<ParsedStatus>(...get(column.props.content).get());
	}

	async function getStatuses() {
		column.clear();

		loadCache();

		const request = await account.mirrorAPI.Accounts.getStatuses(status_account.id, {
			limit: active === ActiveTab.Media ? 40 : 20,
			...request_params,
		});

		EventsManager.sendEvent(TootDeckEvents.Profile, {
			account: account,
			data:
				structuredClone(request)
					?.reverse()
					.map((s) => ({ ...s, animateIn: false, animateOut: false })) ?? [],
		});

		saveCache();
	}

	async function changeTab(id: number) {
		if (waiting || id === active) {
			return;
		}

		waiting = true;

		active = id;

		// update getStatuses params in profile column
		request_params.exclude_replies = active !== ActiveTab.Replies && active !== ActiveTab.Media;
		request_params.pinned = active === ActiveTab.Pinned;
		request_params.only_media = active === ActiveTab.Media;

		await getStatuses();

		waiting = false;
	}

	getStatuses();

	onDestroy(() => {
		column.destroy();
	});
</script>

<ProfileContainer props={column.props} {active}>
	<slot></slot>
	<Navigation {active} on:click={(e) => changeTab(e.detail)}>
		<slot name="MiniHeader"></slot>
	</Navigation>
</ProfileContainer>
