<script lang="ts">
	import Image from '../../../Status/Media/Image.svelte';
	import Player from '../../../Status/Media/Player.svelte';
	import IntersectionObserver from '../../../Global/IntersectionObserver.svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../../stores/Window';
	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import {
		createAndInsertThreadColumn,
		createThreadColumn,
	} from '../../../../lib/ComponentFunctions/thread/createThreadColumn';
	import { showMedia } from '../../../../lib/ComponentFunctions/showMedia';
	import { ContentManager } from '../../../../lib/Managers/ContentManager';
	import { ctrlKey } from '../../../../lib/Utils/ctrlKey';

	import type { Attachment, ParsedStatus } from '../../../../types/contentParsed';
	import { Entity } from '../../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	const media: Array<Attachment> = status.media_attachments;
	const content_warning: string = status.spoiler_text;

	let failed_to_load: boolean = false;

	let show: boolean;
	$: show = status.tootdeck.media_attachments_show ?? showMedia(status);

	function dispatchVisibilty(value: boolean) {
		status.tootdeck.media_attachments_show = value;
		status.tootdeck.show_cw = value;

		setTimeout(() => {
			ContentManager.Status.update(account, status);
		});
	}

	async function openFull(id: string, e?: MouseEvent) {
		if (e && ctrlKey(e)) {
			e.stopPropagation();
			await createAndInsertThreadColumn(account, status, 0);
			return;
		}

		dispatchVisibilty(true);

		if (failed_to_load) {
			return;
		}

		GlobalWindow.create({
			state: GlobalWindowState.FullMediaWithThread,
			special: true,
			clicked: media.findIndex((attachement) => attachement.id === id),
			media,
			column: createThreadColumn(account, status),
			status_id: status.id,
		});
	}
</script>

{#each media as m (m.id)}
	<IntersectionObserver>
		{#if m.type === Entity.AttachmentType.Image || m.type === Entity.AttachmentType.Gifv || m.type === Entity.AttachmentType.Unknown}
			<Image
				media={m}
				media_count={media.length}
				{show}
				profile={true}
				{content_warning}
				on:openFull={(e) => openFull(m.id, e?.detail)}
				on:openAlt={() => openFull(m.id)}
			/>
		{:else}
			<Player
				media={m}
				media_count={media.length}
				{show}
				profile={true}
				{content_warning}
				on:openFull={(e) => openFull(m.id, e?.detail)}
				on:openAlt={() => openFull(m.id)}
			/>
		{/if}
	</IntersectionObserver>
{/each}
