<script lang="ts">
	import Button from './Buttons/ButtonSidebar.svelte';
	import Tooltip from './Tooltip.svelte';
	import Options from './Options.svelte';
	import Scrollable from './Scrollable.svelte';

	import { ExpandedPanelState, stExpandedPanel } from '../../stores/ExpandedPanel';
	import { Account, stAccountDefault, type TootDeckAccount } from '../../stores/Account/Accounts';
	import { ExpandedPanel } from '../../stores/ExpandedPanel';
	import {
		rdOptionsAppearanceBackgroundOpacitySidebar,
		rdOptionsAppearanceCustomValuePublishBtn,
		rdOptionsBehaviorNavbarExpanded,
	} from '../../stores/Options';

	let account: TootDeckAccount;
	$: account = Account.get($stAccountDefault);

	function findElementByClass(
		element: HTMLElement,
		class_names: Array<string>,
		stop_at: string
	): HTMLElement | null {
		if (!element || element.classList.contains(stop_at)) {
			return null;
		}

		if (class_names.find((name) => element.classList.contains(name))) {
			return element;
		}

		return findElementByClass(element.parentElement!, class_names, stop_at);
	}

	$: if ($rdOptionsBehaviorNavbarExpanded) {
		tooltip_props = null;
	}

	let tooltip_props: {
		offset_top: number;
		height: number;
		title: string;
		account: string;
	} | null = null;

	function showTooltip(e: MouseEvent) {
		if ($rdOptionsBehaviorNavbarExpanded) {
			return;
		}

		const target = e.target as HTMLDivElement;
		if (!target) {
			tooltip_props = null;
			return;
		}

		const element = findElementByClass(target, ['btn-icon', 'btn-sidebar'], 'sidebar');
		if (!element) {
			tooltip_props = null;
			return;
		}

		let title: string = '';
		let account: string = '';

		if (element.classList.contains('btn-icon')) {
			const text_element = element.children[1].children[0];
			const account_element = element.children[1].children[1];
			if (text_element.classList.contains('profile')) {
				title = 'Show profile';
			} else {
				title = text_element.textContent!;
				if (account_element) {
					account = account_element.textContent!;
				}
			}
		} else if (element.classList.contains('btn-sidebar')) {
			const text_element = element.children[0].children[1];
			title = text_element.textContent!;
		}

		if (title === $rdOptionsAppearanceCustomValuePublishBtn || title === 'Search') {
			return;
		}

		const scrollable = findElementByClass(target, ['scrollable'], 'scrollable-container');

		const offset = element.offsetTop - (scrollable?.scrollTop ?? 0);
		if (offset === tooltip_props?.offset_top) {
			return;
		}

		tooltip_props = {
			offset_top: offset,
			height: element.offsetHeight,
			title,
			account,
		};
	}
</script>

{#if tooltip_props}
	<Tooltip {...tooltip_props}></Tooltip>
{/if}
<header
	class="sidebar"
	class:expanded={$rdOptionsBehaviorNavbarExpanded}
	class:transparency={$rdOptionsAppearanceBackgroundOpacitySidebar}
	class:opened={$stExpandedPanel.length}
	on:mousemove={showTooltip}
	on:mouseleave={() => (tooltip_props = null)}
	role="navigation"
>
	<div class="container">
		<Button
			text={$rdOptionsAppearanceCustomValuePublishBtn}
			font_size="1rem"
			background_color="rgb(var(--accent))"
			on:clickTimeout={() => ExpandedPanel.update({ state: ExpandedPanelState.Composer })}
		>
			{#if $stExpandedPanel.at(-1)?.state === ExpandedPanelState.Composer || $stExpandedPanel.at(-1)?.state === ExpandedPanelState.ComposerWithData}
				<div class="icon fa fa-times" style="margin-top: -2px;" />
			{:else}
				<div class="icon fa fa-pencil" style="margin-top: -2px;" />
			{/if}
		</Button>
		<Button
			text="Search"
			font_size="1rem"
			background_color="transparent"
			color="rgb(var(--accent))"
			search={true}
			on:clickTimeout={() => ExpandedPanel.update({ state: ExpandedPanelState.Search })}
		>
			{#if $stExpandedPanel.at(-1)?.state === ExpandedPanelState.Search}
				<div class="icon fa fa-times" style="margin-top: -2px;" />
			{:else}
				<div class="icon fa fa-search" style="margin-top: -2px;" />
			{/if}
		</Button>
	</div>
	<div class="container">
		<Scrollable></Scrollable>
		<Options {account}></Options>
	</div>
</header>

<style lang="scss">
	.sidebar {
		z-index: 3;
		position: relative;
		width: var(--sidebar-width);
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 7.5px;
		background-color: rgb(var(--header-inner));
		transition: calc(0.15s * var(--transition-speed)) ease-in-out;

		&.expanded {
			width: var(--sidebar-width-expand);

			:global(.options-container) {
				width: var(--sidebar-width-expand);
			}
		}

		&.transparency {
			background-color: rgba(var(--background), var(--background-opacity));

			&.opened {
				background-color: rgba(var(--background), 1);
			}
		}

		.icon {
			display: grid;
			justify-items: center;
			align-items: center;
			font-size: 20px;
		}

		.container {
			&:first-child {
				display: flex;
				flex-direction: column;
				gap: 7.5px;
				padding-top: 7.5px;
				flex-grow: 0;
			}

			&:last-child {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				padding: 1px 0px;
				overflow: hidden;
			}
		}
	}
</style>
