<script lang="ts">
	import { clickOutside } from 'svelte-use-click-outside';

	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';
	import ButtonIcon from './Buttons/ButtonIcon.svelte';

	import { stRefreshAccount, type TootDeckAccount } from '../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../stores/ExpandedPanel';
	import {
		rdOptionsAppearanceAnimationAnimateGifAvatar,
		rdOptionsBehaviorNavbarExpanded,
		stOptions,
	} from '../../stores/Options';
	import { GlobalWindow, GlobalWindowState } from '../../stores/Window';

	import { TootDeckColumnIcon } from '../../lib/Columns/TootDeckColumnTypes';
	import { TootDeckConfig } from '../../lib/TootDeckConfig';
	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	import { FilterState } from '../../types/filters';

	export let account: TootDeckAccount;

	let show_filters: boolean = false;
</script>

<div class="options-container">
	<ButtonIcon
		title="Add column"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() =>
			GlobalWindow.create({ state: GlobalWindowState.NewColumn, special: false })}
	>
		<div class="icon fa fa-plus" />
	</ButtonIcon>
	<ButtonIcon
		title="Collapse"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() => {
			const value = !$rdOptionsBehaviorNavbarExpanded;
			$stOptions.behavior.navbar.expanded = value;
			TootDeckConfig.saveOne('options.behavior.navbar.expanded', value);
		}}
	>
		{#if $rdOptionsBehaviorNavbarExpanded}
			<div class="icon fa fa-upload" style="transform: rotate(270deg);" />
		{:else}
			<div class="icon fa fa-upload" style="transform: rotate(270deg) rotateX(180deg);" />
		{/if}
	</ButtonIcon>
	<ButtonIcon
		title="Lists"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() =>
			GlobalWindow.create({ state: GlobalWindowState.ListManager, special: false })}
	>
		<div class="icon {TootDeckColumnIcon.List}" />
	</ButtonIcon>
	<ButtonIcon
		title="Filters"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() => (show_filters = !show_filters)}
	>
		<div class="icon fa fa-filter" />
	</ButtonIcon>
	{#if show_filters}
		<div
			use:clickOutside={() => (show_filters = false)}
			class="filter-selector"
			transition:transitionSlide={{ axis: 'x', duration: 200 }}
		>
			<!-- <button
				on:click={() => {
					show_filters = false;
					GlobalWindow.create({
						state: GlobalWindowState.Filters,
						special: false,
						category: FilterState.Words,
					});
				}}>Filtered words</button
			> -->
			<button
				on:click={() => {
					show_filters = false;
					GlobalWindow.create({
						state: GlobalWindowState.Filters,
						special: false,
						category: FilterState.Muted,
					});
				}}>Muted users</button
			>
			<button
				on:click={() => {
					show_filters = false;
					GlobalWindow.create({
						state: GlobalWindowState.Filters,
						special: false,
						category: FilterState.BlockedUsers,
					});
				}}>Blocked users</button
			>
			<button
				on:click={() => {
					show_filters = false;
					GlobalWindow.create({
						state: GlobalWindowState.Filters,
						special: false,
						category: FilterState.BlockedDomains,
					});
				}}>Blocked domains</button
			>
		</div>
	{/if}
	<ButtonIcon
		title="Accounts"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() => ExpandedPanel.update({ state: ExpandedPanelState.Account })}
	>
		<div class="icon {TootDeckColumnIcon.Local}" />
	</ButtonIcon>
	<ButtonIcon
		title="Settings"
		height="50px"
		color="rgb(var(--accent))"
		on:clickTimeout={() =>
			GlobalWindow.create({ state: GlobalWindowState.Setting, special: false })}
	>
		<div class="icon fa fa-cog" />
	</ButtonIcon>
	<ButtonIcon
		account={account.entity.username}
		title=""
		icon={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
			? account.entity.avatar
			: account.entity.avatar_static}
		height="50px"
		profile={true}
		on:clickTimeout={() =>
			ExpandedPanel.update({
				state: ExpandedPanelState.Profile,
				account: account,
				status_account: account.entity,
			})}
	>
		<ContentRenderer content={account.entity.display_name} emojis={account.entity.emojis} />
	</ButtonIcon>
</div>

<style lang="scss">
	.options-container {
		width: var(--sidebar-width);
		flex-shrink: 0;
		padding-bottom: 7.5px;
		overflow: hidden;
		transition: calc(0.15s * var(--transition-speed)) ease-in-out;

		.icon {
			display: grid;
			justify-items: center;
			align-items: center;
			font-size: 20px;
		}
	}

	.filter-selector {
		z-index: 1;
		position: fixed;
		left: var(--sidebar-width);
		transform: translateY(-67%);
		display: flex;
		flex-direction: column;
		background-color: rgb(var(--background));
		border-radius: 0px 10px 10px 0px;

		button {
			width: 160px;
			padding: 12.5px 15px;

			&:hover {
				background-color: rgb(var(--lighter));
			}

			&:first-child {
				border-radius: 0px 10px 0px 0px;
			}

			&:last-child {
				border-radius: 0px 0px 10px 0px;
			}
		}
	}
</style>
