<script lang="ts">
	export let offset_top: number;
	export let height: number;
	export let title: string;
	export let account: string = '';
</script>

<div class="tooltip" style:top={offset_top + 'px'} style:height={height + 'px'}>
	<div>
		<b>
			{title}
		</b>
		{#if account}
			<span>{account}</span>
		{/if}
	</div>
</div>

<style lang="scss">
	.tooltip {
		z-index: 3;
		position: absolute;
		left: var(--sidebar-width);
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: calc(0.1s * var(--transition-speed));

		div {
			position: relative;
			background-color: rgba(var(--header), var(--background-opacity));
			padding: 7.5px 10px;
			border-radius: 0px 10px 10px 0px;

			span {
				opacity: 0.6;
			}
		}
	}
</style>
