<script lang="ts">
	import Img from '../Global/Img.svelte';

	import { ANCHOR_ARGS } from '../../lib/Constants/Anchor';

	export let card: {
		title?: string;
		image?: string | null;
		author_name: string | null;
		url: string;
	};
	export let show_media: boolean;
</script>

<a class="card" href={card.url} {...ANCHOR_ARGS}>
	{#if show_media && card.image}
		<div class="img">
			<Img src={card.image} alt={card.title} />
		</div>
	{/if}
	<div class="link">
		<p>{card.title || card.author_name}</p>
		<div class="wrapper">
			<div class="fa fa-link" />
			<p>{new URL(card.url.replace('www.', '')).hostname}</p>
		</div>
	</div>
</a>

<style lang="scss">
	.card {
		all: unset;
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: rgba(var(--column), calc(var(--background-opacity) * 0.75));
		border: 1px solid #4e4e4e;
		border-radius: 15px;
		color: rgb(var(--text));
		cursor: pointer;
		margin: 5px 0px 0px;
		overflow: hidden;
		box-sizing: border-box;

		&:hover {
			opacity: 0.8;
		}

		.img {
			display: flex;
			flex-direction: row;
			justify-content: center;
			// border-bottom: 1px solid #4e4e4e;
			max-height: 150px;
			aspect-ratio: 1;
			flex-shrink: 1;
			width: 100%;

			:global(img) {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		.link {
			display: flex;
			flex-direction: column;
			padding: 15px;
			flex-shrink: 3;
			overflow: hidden;
			max-width: 100%;
			box-sizing: border-box;
			gap: 7.5px;

			.wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.6ch;
				color: rgb(var(--icons));
				font-size: calc(var(--font-size) + 1px);
			}

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
	}
</style>
