<script lang="ts">
	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';

	import { rdOptionsBehaviorStatusShowBlurhashBehindCW } from '../../stores/Options';
	import type { TootDeckAccount } from '../../stores/Account/Accounts';

	import { ContentManager } from '../../lib/Managers/ContentManager';

	import type { ParsedStatus } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let show_cw: boolean;

	function dispatchVisibilty(value: boolean) {
		status.tootdeck.show_cw = value;

		setTimeout(() => {
			ContentManager.Status.update(account, status);
		});
	}

	function toggleCW() {
		show_cw = !show_cw;
		dispatchVisibilty(show_cw);
	}

	let has_poll: boolean;
	let has_media: boolean;
	let preview: boolean;

	$: {
		has_poll = !!status.poll;
		has_media = !!status.spoiler_text && !!status.media_attachments.length;
		preview = has_poll || has_media;
	}
</script>

<button
	class="content-warning"
	class:show={show_cw}
	class:direct={status.visibility === Entity.Visibility.Direct}
	on:click|stopPropagation={() => toggleCW()}
>
	<div class="text">
		<ContentRenderer content={status.spoiler_text} emojis={status.emojis} bigger_emoji={true} />
	</div>
	<div class="info">
		<p>{show_cw ? 'Hide' : 'Show'}</p>
		{#if preview}
			<div class="preview">
				{#if has_poll}
					<div class="item">
						<div class="icon fa fa-tasks" />
						<div class="text">Poll</div>
					</div>
				{/if}
				{#if !$rdOptionsBehaviorStatusShowBlurhashBehindCW}
					{#if has_poll && has_media}
						+
					{/if}
					{#if has_media}
						<div class="item">
							<div class="icon fa fa-picture-o" />
							<div class="text">Media</div>
						</div>
					{/if}
				{/if}
			</div>
		{/if}
	</div>
</button>

<style lang="scss">
	.content-warning {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 5px;
		padding: 5px 10px;
		font-weight: 500;
		border-left: 3px solid rgb(var(--accent));
		backdrop-filter: blur(15px);
		background-color: rgba(var(--lighter), 0.5);

		&:not(.direct) {
			margin-top: 5px;
		}

		&.direct.show {
			margin-bottom: 5px;
		}

		.text {
			width: 100%;
			overflow: hidden;
			word-break: break-word;
		}

		.info {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			opacity: 0.8;
			font-size: calc(var(--font-size) - 2px);

			.preview {
				display: flex;
				flex-direction: row;
				gap: 5px;

				.item {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					gap: 5px;
					margin-bottom: -1px;
				}
			}
		}
	}
</style>
