<script lang="ts">
	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import { GlobalWindow, GlobalWindowState } from '../../stores/Window';

	import { generateStatusURL } from '../../lib/ComponentFunctions/generateStatusURL';
	import { formatAbsoluteDate } from '../../lib/Utils/date/formatDate';

	import type { ParsedStatus } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	function openEdit() {
		GlobalWindow.create({
			state: GlobalWindowState.StatusHistory,
			special: false,
			account,
			status,
		});
	}
</script>

<div class="infos">
	{#if status.visibility === Entity.Visibility.Public}
		<div class="icon fa fa-globe" title={status.visibility} />
	{:else if status.visibility === Entity.Visibility.Unlisted}
		<div class="icon fa fa-unlock" title={status.visibility} />
	{:else if status.visibility === Entity.Visibility.Private}
		<div class="icon fa fa-lock" title={status.visibility} />
	{:else if status.visibility === Entity.Visibility.Direct}
		<div class="direct icon fa fa-at" title={status.visibility} />
	{/if}
	<span>·</span>
	{#if status.edited_at}
		<a
			href={generateStatusURL(account, status)}
			target="_blank"
			referrerpolicy="no-referrer"
			class="time">{formatAbsoluteDate(status.created_at, 'little')}</a
		>
		·
		<button
			class="time edit"
			title={formatAbsoluteDate(status.edited_at, 'little')}
			on:click|preventDefault={openEdit}
		>
			<div class="icon fa fa-pencil" />
			Edited
		</button>
	{:else}
		<a
			href={generateStatusURL(account, status)}
			target="_blank"
			referrerpolicy="no-referrer"
			class="time">{formatAbsoluteDate(status.created_at, 'little')}</a
		>
	{/if}
	{#if status.application?.name}
		<span>·</span>
		<div class="app" title={status.application?.name}>{status.application?.name}</div>
	{/if}
</div>

<style lang="scss">
	.infos {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		gap: 1ch;
		margin: 5px 0px 2.5px;
		font-size: calc(var(--font-size) - 2px);

		.time,
		.app {
			all: unset;
			box-sizing: border-box;
			white-space: nowrap;

			&:last-child {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.time,
		.app,
		span {
			opacity: 0.7;
		}

		.time {
			cursor: pointer;

			&:hover {
				text-decoration: underline;

				.icon::before {
					text-decoration: underline;
				}
			}
		}

		.icon {
			margin-top: 1px;
		}

		.edit,
		.direct {
			color: rgb(var(--accent));
		}
	}
</style>
