<script lang="ts">
	import { createEventDispatcher, onDestroy } from 'svelte';

	import Status from './Container.svelte';
	import Wait from '../Spinner/HorizontalBarSpinner.svelte';

	import type { TootDeckAccount } from '../../stores/Account/Accounts';

	import { QuoteManager, type QuoteCache } from '../../lib/Managers/QuoteManager';
	import type { StandardColumn } from '../../lib/Columns/StandardColumn';
	import { onClickSelect } from '../../lib/UseClick/clickSelect';

	import type { ParsedStatus } from '../../types/contentParsed';

	const eventDispatcher = createEventDispatcher();

	export let column: StandardColumn<any>;
	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	let last_update: number;
	let promise: Promise<QuoteCache>;
	let cache: QuoteCache;

	$: renderNeeded(status);

	function renderNeeded(current: ParsedStatus) {
		if (!current.tootdeck || !current.account.tootdeck) {
			console.error('Fatal: tootdeck  is undefined', current);
			return;
		}

		if (current.tootdeck.update !== last_update) {
			fetchQuote();
			last_update = current.tootdeck.update;
		}
	}

	function getLastURL(): string | undefined {
		const urls = status.tootdeck.quote_urls;

		return urls.at(-1);
	}

	async function fetchQuote() {
		const url = getLastURL();
		if (!url) {
			return;
		}

		const in_cache = QuoteManager.getSync(column, url);
		if (in_cache) {
			cache = in_cache;
			return;
		}

		promise = QuoteManager.get(column, url, status.id).then((x) => (cache = x));
	}

	onDestroy(() => {
		if (cache && cache !== 'DEAD') {
			column.removeQuoteOwership(cache.id);
		}
	});
</script>

{#await promise}
	<div class="quote" style="padding: 0px 50px 5px 50px;">
		<Wait />
	</div>
{:then _}
	{#if cache && typeof cache !== 'string'}
		<button
			use:onClickSelect={{
				enable: true,
				cb: (e) => eventDispatcher('clickQuote', { original: e, status: cache }),
			}}
			class="quote"
		>
			<Status {account} raw_status={cache} quote={true} border={false} on:clickQuote />
		</button>
	{:else}
		<div class="quote dead">Status unavailable.</div>
	{/if}
{/await}

<style lang="scss">
	.quote {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		background-color: rgba(var(--column), calc(var(--background-opacity) * 0.75));
		border: 1px solid #4e4e4e;
		border-radius: 15px;
		cursor: pointer;
		overflow: hidden;
		margin: 2.5px 0px 0px;

		&.dead {
			padding: 10px 15px;
		}
	}
</style>
