<script lang="ts">
	import { createEventDispatcher, onDestroy } from 'svelte';
	import fastdom from 'fastdom';

	import Header from './Header/Header.svelte';
	import Reply from './Reply.svelte';
	import ContentWarning from './ContentWarning.svelte';
	import Text from './Text.svelte';
	import Poll from './Poll.svelte';
	import MediaContainer from './Media/MediaContainer.svelte';
	import Card from './Card.svelte';
	import Infos from './Infos.svelte';
	import Reactions from './EmojiReactions/Container.svelte';
	import YoutubeEmbed from './Embed/YoutubeEmbed.svelte';
	import DailymotionEmbed from './Embed/DailymotionEmbed.svelte';

	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceEmojiReaction,
		rdOptionsAppearanceEmojiReactionInQuote,
		rdOptionsAppearanceBackgroundOpacityValue,
		rdOptionsBehaviorStatusHideThreshold,
		stDebugLeaks,
		rdOptionsBehaviorColumnHideDMs,
		rdOptionsBehaviorStatusTwitterEmbed,
		rdOptionsBehaviorStatusQuote,
		rdOptionsBehaviorStatusYoutubeEmbed,
		rdOptionsBehaviorStatusDailymotionEmbed,
		rdOptionsBehaviorStatusShowBlurhashBehindCW,
	} from '../../stores/Options';

	import { isTwitterLink } from '../../lib/ContentParser/anchorsParser';
	import { findElement } from '../../lib/Utils/findElement';

	import type { ParsedDiff, ParsedStatus } from '../../types/contentParsed';
	import type { ThreadLines } from '../../types/thread';
	import { Entity } from '../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let reblog_window: boolean;
	export let notification: boolean;
	export let quote: boolean;
	export let thread_view: boolean;
	export let thread_lines: ThreadLines | null;
	export let performance_mode: boolean;
	export let history: boolean;
	export let diff: Array<ParsedDiff> | null;
	export let show_twitter_embed: boolean;

	/**
	 * height clamp
	 */
	// #region

	let show_btn: boolean = false;
	let collapsed: boolean = false;
	let element: HTMLLabelElement;
	let last_height: number = 0;

	let fastdom_job: any;

	$: {
		status;
		$rdOptionsBehaviorStatusHideThreshold;
		clamp(element);
	}

	let show_cw: boolean = false;
	$: show_cw = status.tootdeck.show_cw;

	function clamp(node: HTMLElement) {
		fastdom_job = fastdom.measure(() => {
			if (!node || (show_btn && !collapsed)) {
				return;
			}

			/**
			 * Fix column being unscrollable when status is bigger than the viewport
			 */
			if (node.clientHeight >= window.innerHeight) {
				eventDispatcher('disableIntersection');
			}

			/**
			 * Keep status collapse state between updates
			 */
			const height = node.offsetHeight;
			if (!height || last_height === height) {
				return;
			}

			show_btn = collapsed =
				!thread_view &&
				!thread_lines &&
				!status.spoiler_text &&
				!!$rdOptionsBehaviorStatusHideThreshold &&
				$rdOptionsBehaviorStatusHideThreshold <= height - 60;

			last_height = collapsed ? $rdOptionsBehaviorStatusHideThreshold + 35 : height;
		});
	}

	onDestroy(() => {
		fastdom.clear(fastdom_job);
	});

	function toggleCollapse() {
		collapsed = !collapsed;
	}

	function hasReactions(_: number) {
		return quote
			? $rdOptionsAppearanceEmojiReactionInQuote && !!status.emoji_reactions.length
			: status.emoji_reactions.length;
	}

	function preventLabelClick(e: MouseEvent) {
		if (
			findElement(e.target as Element, { tag: 'INPUT', class: 'poll-input' }) ||
			findElement(e.target as Element, { tag: 'LABEL', class: 'poll-label' })
		) {
			return;
		}

		if (!findElement(e.target as Element, { tag: 'BUTTON', class: 'show' })) {
			e.preventDefault();
		}
	}

	// #endregion

	let hide_dm: boolean = false;

	function toggleDirectMessage() {
		if (thread_view || status.visibility !== Entity.Visibility.Direct) {
			hide_dm = false;
			return;
		}

		hide_dm = true;
	}

	$: {
		$rdOptionsBehaviorColumnHideDMs;
		toggleDirectMessage();
	}

	let show_content: boolean;
	$: show_content = !status.spoiler_text || show_cw;

	const content_uuid = crypto.randomUUID();
</script>

<!-- {status.local_id} -->
<!-- Header -->
<Header
	{account}
	{status}
	{notification}
	{thread_view}
	{quote}
	{performance_mode}
	edit={history}
	on:click={() => eventDispatcher('profile')}
/>
<!-- Content -->
<div class="content-container" class:direct-hidden={$rdOptionsBehaviorColumnHideDMs && hide_dm}>
	{#if !thread_view && !quote}
		<button
			class="space-left"
			on:click={(e) => eventDispatcher('click', { original: e, status })}
		/>
	{/if}
	<div class="column">
		<!-- Reply -->
		{#if status.in_reply_to_id || status.in_reply_to_account_id}
			<Reply {status} {account} {thread_view} />
		{/if}
		<div class="data" class:direct={status.visibility === Entity.Visibility.Direct}>
			{#if !$stDebugLeaks}
				{#if $rdOptionsBehaviorColumnHideDMs && status.visibility === Entity.Visibility.Direct}
					<button
						class="toggle-dm"
						class:bottom={!hide_dm}
						on:click={() => (hide_dm = !hide_dm)}
						>Click to {hide_dm ? 'reveal' : 'hide'}</button
					>
				{/if}
				{#if !thread_view && !thread_lines}
					<input
						id={content_uuid}
						type="checkbox"
						checked={collapsed}
						on:click|stopPropagation={toggleCollapse}
					/>
				{/if}
				<label
					for={content_uuid}
					class="content"
					class:collapsed
					class:reactions={hasReactions(status.tootdeck.update)}
					class:direct={status.visibility === Entity.Visibility.Direct}
					style:--max-height={$rdOptionsBehaviorStatusHideThreshold + 'px'}
					bind:this={element}
					on:click={preventLabelClick}
				>
					<!-- CW and Content -->
					{#if !!status.spoiler_text}
						<ContentWarning {account} {status} bind:show_cw />
					{/if}
					{#if show_content}
						<Text
							{status}
							{reblog_window}
							{thread_view}
							{quote}
							{diff}
							on:click
							on:clickQuote
							on:hashtag
						/>
					{/if}
					<!-- Poll -->
					{#if !reblog_window && !!status.poll && show_content}
						<Poll
							{account}
							{status}
							emojis={status.emojis}
							is_mine={account.entity.id === status.account.id}
							{performance_mode}
						/>
					{/if}
					{#if show_btn}
						<button
							class="show"
							class:reactions={hasReactions(status.tootdeck.update)}
							class:opacity-changed={$rdOptionsAppearanceBackgroundOpacityValue !== 1}
							class:collapsed
							class:direct={status.visibility === Entity.Visibility.Direct}
							on:click|stopPropagation={toggleCollapse}
							>{collapsed ? 'Show more' : 'Hide'}
							{#if collapsed && status.poll && !show_cw}
								(
								<div class="icon fa fa-tasks" />
								<div class="text">&nbsp;Poll</div>
								)
							{/if}
						</button>
					{/if}
				</label>
				<!-- Media -->
				{#if !reblog_window && status.media_attachments.length}
					{#if !status.spoiler_text || $rdOptionsBehaviorStatusShowBlurhashBehindCW || (!$rdOptionsBehaviorStatusShowBlurhashBehindCW && show_cw)}
						<MediaContainer {account} {status} {notification} />
					{/if}
				{/if}
			{:else}
				{status.tootdeck.uuid}
			{/if}
		</div>
		{#if show_content && !reblog_window}
			{#if show_twitter_embed}
				<slot name="twitter" />
			{/if}
			<!-- Quote -->
			{#if !performance_mode && $rdOptionsBehaviorStatusQuote && !!status.tootdeck.quote_urls.length}
				<slot name="quote" />
				<!-- Card -->
			{:else if !status.sensitive && !history}
				{#if $rdOptionsBehaviorStatusYoutubeEmbed && !!status.tootdeck.embed.youtube.length}
					<YoutubeEmbed
						href={status.tootdeck.embed.youtube[
							status.tootdeck.embed.youtube.length - 1
						]}
					></YoutubeEmbed>
				{:else if $rdOptionsBehaviorStatusDailymotionEmbed && !!status.tootdeck.embed.dailymotion.length}
					<DailymotionEmbed
						href={status.tootdeck.embed.dailymotion[
							status.tootdeck.embed.dailymotion.length - 1
						]}
					></DailymotionEmbed>
				{:else if status.card && (!$rdOptionsBehaviorStatusTwitterEmbed || !isTwitterLink(status.card.url))}
					<Card card={status.card} show_media={!status.media_attachments.length} />
				{/if}
			{/if}
		{/if}
		<!-- Emoji reactions -->
		{#if $rdOptionsAppearanceEmojiReaction && !history && !performance_mode && ($rdOptionsAppearanceEmojiReactionInQuote || !quote)}
			<Reactions {account} {status} />
		{/if}
		<!-- Infos -->
		{#if thread_view}
			<Infos {account} {status} />
		{/if}
		<!-- Interactions -->
		<slot name="interactions" />
	</div>
</div>

<style lang="scss">
	$pp-size: 36px;
	$show-height: 35px;
	$show-margin: 5px;
	$direct-padding-top: 0.7em;
	$direct-padding-left: 1em;

	.content-container {
		display: flex;
		flex-direction: row;
		gap: 7.5px;
		overflow: hidden;

		.space-left {
			position: relative;
			margin: 0px -7.5px 0px;
			width: calc($pp-size + 15px);
			flex-shrink: 0;
		}

		.column {
			display: flex;
			flex-direction: column;
			gap: 0;
			flex-grow: 1;
			overflow: hidden;
		}

		.toggle-dm {
			color: rgb(var(--accent));
			font-weight: bold;
			text-align: center;
			width: 100%;

			&.bottom {
				padding-bottom: $direct-padding-top;
				margin-bottom: $direct-padding-top;
				border-bottom: 1px solid rgb(var(--accent));
			}
		}

		.data {
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.content {
				overflow: hidden;
				cursor: text;
			}

			&.direct {
				position: relative;
				border: 1px solid rgb(var(--accent));
				border-radius: 0px 18px 18px 16px;
				margin-top: 4px;
				padding: $direct-padding-top $direct-padding-left;

				&::before {
					z-index: -1;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 0px 18px 18px 16px;
					background-color: rgb(var(--accent));
					opacity: 0.2;
				}
			}
		}

		&.direct-hidden {
			cursor: pointer;

			.data {
				height: 3em;

				// &::after {
				// 	position: absolute;
				// 	content: 'Click to reveal';
				// 	color: rgb(var(--text));
				// 	font-weight: bold;
				// 	text-align: center;
				// 	width: calc(100% - 2em);
				// }
			}

			:global(.text),
			:global(a) {
				color: transparent;
			}

			:global(.poll),
			:global(.media),
			:global(.quote),
			:global(.card),
			:global(.emoji-reactions-container),
			:global(.emoji) {
				display: none;
			}
		}
	}

	.show {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: $show-height;
		text-align: center;
		background-color: rgb(var(--lighter));
		display: flex;
		flex-direction: row;
		justify-content: center;
		place-items: center;
		margin-top: 5px;

		&:before {
			box-shadow: none;
		}

		&.reactions {
			margin-bottom: 4px;
		}

		&.collapsed.direct {
			width: calc(100% - $direct-padding-left * 2);
			left: $direct-padding-left;
		}

		.icon {
			margin-bottom: -2.5px;
		}
	}

	input {
		display: none;
	}

	input:checked + label {
		max-height: calc(var(--max-height) + $show-height);

		&.reactions {
			margin-bottom: 5px;
		}

		.show {
			position: absolute;
			top: calc(var(--max-height));
			margin-top: 0px;

			&.direct {
				top: calc(var(--max-height) + calc($direct-padding-top * 1.5));
			}

			&:not(.opacity-changed):before {
				content: '';
				position: absolute;
				top: 0;
				left: -50%;
				width: 200%;
				height: 100%;
				box-shadow: 0px -10px 20px 0px rgb(var(--column));
			}
		}
	}
</style>
