<script lang="ts">
	import { capitalize } from '../../lib/Utils/string/capitalize';

	export let name: string;
	export let note: string = '';

	export let summary: boolean = false;
	export let summary_admin: boolean = false;
	export let workers: boolean = false;
	export let redis: boolean = false;
</script>

<span class:summary class:summary_admin class:workers class:redis>
	{#if name !== 'summary'}
		<h1>
			{capitalize(name)}
		</h1>
		{#if note}
			<div class="suffix">{note}</div>
		{/if}
		<slot name="header" />
	{/if}
	<section>
		<slot />
	</section>
</span>

<style lang="scss">
	.suffix {
		font-size: 14px;
		opacity: 0.3;
		white-space: pre-line;
	}

	section {
		position: relative;
		display: flex;
		flex-shrink: 0;
		width: 100%;
		background-color: rgb(var(--header));
		border-radius: 5px;
		border: 1px solid rgb(var(--thread-line-color));
		margin: 20px 0px 40px;
		gap: 1ch;
	}

	.summary {
		section {
			flex-direction: row;
			justify-content: space-evenly;
			gap: 1ch;
			padding: 10px;
		}

		&.summary_admin {
			section {
				@media (max-width: 1315px) {
					flex-direction: column;
					justify-content: flex-start;
				}
			}
		}
	}

	.workers {
		section {
			flex-direction: column;
			gap: 0ch;
		}
	}

	.redis {
		h1 {
			margin-top: 30px;
		}

		section {
			flex-direction: column;
			gap: 0ch !important;
		}
	}
</style>
