<script lang="ts">
	import Section from './Section.svelte';

	import { addThousandSeparator } from '../../lib/Utils/number/addThousandSeparator';

	import type { Dashboard } from '../../types/dashboard';

	export let data: Dashboard.Data;
	export let sockets: Dashboard.Stats.Socket;

	function getBusy(workers: Array<Dashboard.Worker>) {
		return workers.filter((w) => w.concurrency !== 0).length;
	}
</script>

<Section name={'summary'} summary={true} summary_admin={!!sockets}>
	{#if !sockets}
		<div>
			<p>{addThousandSeparator(data.jobs.processed)}</p>
			<p>Processed</p>
		</div>
		<div>
			<p>{addThousandSeparator(data.jobs.failed)}</p>
			<p>Failed</p>
		</div>
		<div>
			<p>{addThousandSeparator(data.requests_made)}</p>
			<p>Requests made</p>
		</div>
		<div>
			<p>{getBusy(data.workers)}</p>
			<p>Busy</p>
		</div>
		<div>
			<p>{addThousandSeparator(data.queue_size)}</p>
			<p>Enqueued</p>
		</div>
	{:else}
		<div class="wrapper">
			<header>Jobs</header>
			<div>
				<p>{addThousandSeparator(data.jobs.processed)}</p>
				<p>Processed</p>
			</div>
			<div>
				<p>{addThousandSeparator(data.jobs.failed)}</p>
				<p>Failed</p>
			</div>
		</div>
		<div class="wrapper">
			<header>Workers</header>
			<div>
				<p>{addThousandSeparator(data.requests_made)}</p>
				<p>Requests made</p>
			</div>
			<div>
				<p>{getBusy(data.workers)}</p>
				<p>Busy workers</p>
			</div>
			<div>
				<p>{addThousandSeparator(data.queue_size)}</p>
				<p>Enqueued jobs</p>
			</div>
		</div>
		<div class="wrapper">
			<header>Sockets</header>
			<div>
				<p>{addThousandSeparator(sockets.total)}</p>
				<p>Total</p>
			</div>
			<div>
				<p>{addThousandSeparator(sockets.frontend)}</p>
				<p>Frontend</p>
			</div>
			<div>
				<p>{addThousandSeparator(sockets.instances)}</p>
				<p>Instance</p>
			</div>
			<div>
				<p>{addThousandSeparator(sockets.dashboard)}</p>
				<p>Dashboard</p>
			</div>
		</div>
	{/if}
</Section>

<style lang="scss">
	div {
		flex-shrink: 0;

		p {
			text-align: center;

			&:first-child {
				font-weight: bold;
				color: rgb(var(--accent));
			}
		}
	}

	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		gap: 30px;

		@media (max-width: 1315px) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(1, 1fr);
		}

		header {
			font-weight: bold;
		}
	}
</style>
