<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Row from './Row.svelte';

	import { topRow, type PickerProps } from '../../types/picker.types';
	import type { ChunkedCategory } from '../../types/data.types';

	const eventDispatcher = createEventDispatcher();

	export let Props: PickerProps;
	export let category: ChunkedCategory;
	export let data_category: string | undefined = undefined;

	let collapsed = Props.collapsed[category.id];
</script>

<section data-category={data_category ?? category.id}>
	<button
		class="title"
		on:click={() => {
			$collapsed = !$collapsed;
			eventDispatcher('collapse');
		}}
	>
		<div class="chevron" class:collapsed={$collapsed}>></div>
		{Props.i18n.categories[category.id] ?? category.name}
	</button>
	<div class="grid">
		{#each category.emojis as { id, chunk } (id)}
			<Row emojisChunk={chunk} {Props} collapsed={$collapsed}></Row>
		{/each}
	</div>
</section>

<style lang="scss">
	section {
		display: flex;
		flex-direction: column;

		.title {
			z-index: 1;
			position: sticky;
			top: -1px;
			width: calc(100% + 5px);
			display: flex;
			flex-direction: row;
			gap: 0.5ch;
			padding: 6px;
			font-size: 15px;
			font-weight: 500;
			background-color: rgba(var(--background-color), 0.8);
			color: rgb(var(--text-color));
			backdrop-filter: blur(4px);
			box-sizing: border-box;

			.chevron {
				font-family: monospace;
				transform: rotate(90deg);

				&.collapsed {
					transform: rotate(0);
				}
			}
		}

		.grid {
			display: flex;
			flex-direction: column;
		}
	}
</style>
