<script lang="ts">
	import { onDestroy, onMount, tick } from 'svelte';
	import { writable, type Writable } from 'svelte/store';

	import Emoji from './Emoji.svelte';
	import Row from './Row.svelte';
	import Category from './Category.svelte';

	import { typedGetContext } from '../../lib/utils/typedContext';
	import { getDefaultCategories } from '../../config/defaultCategories';

	import type { EmojiIndexed } from '../../types/emoji.types';
	import type { PickerProps } from '../../types/picker.types';
	import type { ChunkedCategory, DataCategory, DataCategoryCustom } from '../../types/data.types';

	export let Props: PickerProps;

	/** Dispatch current scrolled category to Navigation.svelte  */
	let scrolled_catergory = typedGetContext('scrolled_catergory');
	/** Scroll to catergory clicked in Navigation.svelte */
	let scroll_to_category = typedGetContext('scroll_to_category');
	/** Dispatch hovered emoji to Preview.svelte */
	let hovered_emoji = typedGetContext('hovered_emoji');
	/** Get found emojis when searching in Search.svelte */
	let found_emojis = typedGetContext('found_emojis');

	/**
	 * UI/UX
	 */
	// #region

	let scroll_container: HTMLDivElement;
	let titles_offsets: Record<string, { start: number; end: number }> = {};
	let dataset: Record<string, Array<ChunkedCategory>> = {
		custom: [],
		default: [],
		frequently: [],
		recently: [],
	};
	let max_emojis_per_row: number = 9;

	async function resize(e: ResizeObserverEntry) {
		max_emojis_per_row = Math.floor(e.contentRect.width / 32);

		dataset = {
			custom: Props.dataset.customCategories.map((catergory) =>
				chunkCategory(catergory, max_emojis_per_row)
			),
			default: Props.dataset.categories.map((catergory) =>
				chunkCategory(catergory, max_emojis_per_row)
			),
			frequently: [
				chunkCategory(
					{
						id: 'frequent',
						name: 'frequently',
						emojis: Object.keys(Props.frequently),
						collapsed: writable(false),
					},
					max_emojis_per_row
				),
			],
			recently: [
				chunkCategory(
					{
						id: 'recent',
						name: 'recently',
						emojis: Props.recently,
						collapsed: writable(false),
					},
					max_emojis_per_row
				),
			],
		};

		getTitlesOffset();
	}

	function getCustomTitlesOffset(sections: Array<HTMLDivElement>) {
		const first = sections.find((section) => section.dataset.category === 'custom');
		const last = sections.findLast((section) => section.dataset.category === 'custom');
		if (!first || !last) {
			return;
		}

		const start = first.offsetTop ?? 0;
		const end = (last.offsetTop ?? 0) + (last.clientHeight ?? 0);

		titles_offsets['custom'] = {
			start,
			end,
		};
	}

	async function getTitlesOffset() {
		await tick();

		const sections = (Array.from(scroll_container.childNodes) as Array<HTMLDivElement>).filter(
			(section) => section.dataset?.category
		);

		for (const category of getDefaultCategories()) {
			if (category === 'custom') {
				getCustomTitlesOffset(sections);
				continue;
			}

			const element = sections.find((section) => section.dataset.category === category);
			if (!element) {
				continue;
			}

			const start = element.offsetTop ?? 0;
			const end = start + (element.clientHeight ?? 0);

			titles_offsets[category] = {
				start,
				end,
			};
		}
	}

	function getScrolledCategory(e: UIEvent) {
		const target = e.target as HTMLElement;
		const value = target.scrollTop + 5;

		for (const category of getDefaultCategories()) {
			const offset = titles_offsets[category];
			if (!offset) {
				return;
			}

			const { start, end } = offset;

			if (start <= value && end >= value) {
				$scrolled_catergory = category;
				break;
			}
		}
	}

	function scrollToCategory(id: string) {
		if (titles_offsets[id]) {
			Props.scrollTo(scroll_container, titles_offsets[id].start, 225);
		}
	}

	const observer = new ResizeObserver(([e]) => {
		window.requestAnimationFrame((): void | undefined => {
			if (!e) {
				return;
			}
			resize(e);
		});
	});

	onMount(() => {
		observer.observe(scroll_container);
	});

	onDestroy(() => {
		observer.disconnect();
	});

	$: if (scroll_container) {
		scrollToCategory($scroll_to_category);
	}

	// #endregion

	function genIDs(array: Array<any>) {
		return array.map((chunk, index) => ({ id: index, chunk }));
	}

	function chunkEmojis(emojis: Array<any>, max_emojis: number): Array<Array<any>> {
		const chunked: Array<Array<any>> = [];

		let i = 0;
		while (i < emojis.length) {
			chunked.push(emojis.slice(i, i + max_emojis));
			i += max_emojis;
		}

		return chunked;
	}

	function chunkCategory(
		category: DataCategory | DataCategoryCustom,
		max_emojis: number
	): ChunkedCategory {
		const chunked = chunkEmojis(category.emojis, max_emojis);
		return { ...category, emojis: genIDs(chunked) };
	}

	function detectEmoji(e: MouseEvent) {
		const target = (e.relatedTarget ?? e.target) as HTMLDivElement;
		if (
			!target ||
			!target.tagName ||
			target.classList.contains('emoji-mart-svelte-row') ||
			target.classList.contains('title')
		) {
			return;
		}

		let id: string | undefined;
		if (target.tagName === 'SPAN' || target.tagName === 'IMG') {
			id = target.parentElement?.dataset?.id;
		} else if (target.tagName === 'BUTTON') {
			id = target.dataset?.id;
		}

		return id;
	}

	function clickedEmoji(e: MouseEvent) {
		const id = detectEmoji(e);
		if (!id) {
			return;
		}

		const found = Props.instance.getEmojiFromID(id) ?? null;
		if (found) {
			Props.instance.onEmojiClick(found);
		}
	}

	function hoveredEmoji(e: MouseEvent) {
		const id = detectEmoji(e);
		if (!id) {
			$hovered_emoji = null;
			return;
		}

		$hovered_emoji = Props.instance.getEmojiFromID(id) ?? null;
	}
</script>

<div
	class="emoji-mart-svelte-grid"
	class:compact={Props.compact}
	dir={Props.i18n.rtl ? 'rtl' : 'ltr'}
	bind:this={scroll_container}
	on:click={clickedEmoji}
	on:mousemove={hoveredEmoji}
	on:scroll={getScrolledCategory}
>
	{#if $found_emojis}
		<section>
			<div class="title">{Props.i18n.categories.search}</div>
			{#if $found_emojis.length}
				<div class="grid">
					{#each genIDs(chunkEmojis($found_emojis, max_emojis_per_row)) as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props} collapsed={false}></Row>
					{/each}
				</div>
			{:else}
				<div class="not-found">
					<Emoji emoji={Props.dataset.emojis['ghost']} {Props}></Emoji>
				</div>
			{/if}
		</section>
	{:else if dataset.frequently[0]}
		<section data-category={'frequent'}>
			<div class="title">
				{Props.topRow === 'frequently'
					? Props.i18n.categories.frequent
					: Props.i18n.categories.recent}
			</div>
			<div class="grid">
				{#if Props.topRow === 'frequently'}
					{#each dataset.frequently[0].emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props} collapsed={false}></Row>
					{/each}
				{:else}
					{#each dataset.recently[0].emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props} collapsed={false}></Row>
					{/each}
				{/if}
			</div>
		</section>
		{#each dataset.custom as category (category.id)}
			<Category {Props} {category} data_category={'custom'} on:collapse={getTitlesOffset}
			></Category>
		{/each}
		{#each dataset.default as category (category.id)}
			<Category {Props} {category} on:collapse={getTitlesOffset}></Category>
		{/each}
	{/if}
</div>

<style lang="scss">
	.emoji-mart-svelte-grid {
		position: relative;
		height: calc(100% - 116px);
		overflow-x: hidden;
		padding: 0px 6px 0px 12px;
		margin-right: 6px;
		scrollbar-width: thin;
		background-color: rgb(var(--background-color));
		box-sizing: border-box;

		&.compact {
			height: 279px;
		}

		&[dir='rtl'] {
			padding: 0px 12px 0px 0px;
			margin-right: 0px;
			margin-left: 6px;
		}

		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: rgb(45, 46, 47);
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: rgb(55, 56, 57);
			}
		}

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
			display: none;
		}

		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			min-height: 55px;
			border-radius: 8px;
		}

		&::-webkit-scrollbar-track {
			border: 0;
		}

		section {
			display: flex;
			flex-direction: column;

			.title {
				z-index: 1;
				position: sticky;
				top: -1px;
				width: calc(100% + 5px);
				font-size: 15px;
				padding: 6px;
				font-weight: 500;
				background-color: rgba(var(--background-color), 0.8);
				color: rgb(var(--text-color));
				backdrop-filter: blur(4px);
				box-sizing: border-box;
			}

			.grid {
				display: flex;
				flex-direction: column;
			}

			.not-found {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;

				:global(.emoji-mart-svelte-emoji) {
					transform: scale(3);
					filter: grayscale(1) brightness(0.5);
					opacity: 0.2;
				}
			}
		}
	}
</style>
