<script lang="ts">
	// import { getEmojiInAtlas } from '../../lib/componentFunctions/Atlas/getEmojiInAtlas';
	import { getEmojiCustom } from '../../lib/componentFunctions//Emoji/getEmojiCustom';
	import { getEmojiNative } from '../../lib/componentFunctions/Emoji/getEmojiNative';
	import { getEmojiSkin } from '../../lib/componentFunctions/Emoji/getEmojiSkin';
	import { getEmojiURL } from '../../lib/componentFunctions/Emoji/getEmojiURL';

	import type { EmojiIndexed } from '../../types/emoji.types';
	import type { PickerProps } from '../../types/picker.types';

	export let Props: PickerProps;
	export let emoji: EmojiIndexed;
</script>

<button
	class="emoji-mart-svelte-emoji"
	data-id={emoji.id}
	style:width={Props.toggleWideEmoji ? undefined : '35px'}
>
	{#if emoji.custom}
		<img
			src={getEmojiCustom(emoji)}
			alt={emoji.name}
			width={Props.toggleWideEmoji ? undefined : '30px'}
			height={Props.toggleWideEmoji ? '30px' : undefined}
		/>
	{:else if Props.style === 'native'}
		{getEmojiNative(emoji, Props.skinTone)}
	{:else}
		<!--
			Atlas method
			<span style={getEmojiInAtlas(Props, getEmojiSkin(emoji, Props.skinTone))}></span>
		-->
		<img
			src={getEmojiURL(getEmojiSkin(emoji, Props.skinTone), Props.style)}
			alt={emoji.name}
			width={'25px'}
			height={'25px'}
		/>
	{/if}
</button>

<style lang="scss">
	.emoji-mart-svelte-emoji {
		all: unset;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 35px;
		min-height: 35px;
		max-height: 35px;
		font-size: 24px;
		border-radius: 100%;
		cursor: pointer;
		font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji',
			'Twemoji Mozilla', 'Noto Color Emoji', 'Android Emoji';
		box-sizing: border-box;

		&:hover {
			background-color: rgba(var(--invert-background-color), 0.075);
		}

		span {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
</style>
