<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Selector from '../SelectorDropdown.svelte';
	import Button from '../Button.svelte';

	const eventDispatcher = createEventDispatcher();

	export let data: Array<any & { id: number }>;
	export let selected_index: number = 0;
	export let index_key: string = 'id';
	export let absolute: boolean;

	let clicked: boolean = false;
</script>

<Button on:click={() => (clicked = true)}>
	<slot name="button" /></Button
>
{#if clicked}
	<Selector
		{data}
		let:data
		small={false}
		{index_key}
		{absolute}
		top="40px"
		bind:selected_index
		on:click={(e) => {
			eventDispatcher('click', e.detail);
			clicked = false;
		}}
		on:close={() => (clicked = false)}
	>
		<button on:click={() => setTimeout(() => (clicked = !clicked))}>
			<slot {data} />
		</button>
	</Selector>
{/if}

<style lang="scss">
	button {
		overflow: hidden;
	}
</style>
