<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Selector from '../SelectorDropdown.svelte';
	import Card from '../Card.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';
	import ProfilePicture from '../../Status/Header/ProfilePicture.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { AccountsMananger } from '../../../lib/Managers/AccountsManager';
	import { isMutual } from '../../../lib/Utils/isMutual';
	import { isURL } from '../../../lib/Utils/url/isURL';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let search_query: string = '';
	export let small: boolean = false;

	const cache_accounts = AccountsMananger.getAll(account.mirrorAPI.domain).filter(
		(x) => !x.moved
	);

	let found_accounts: Array<ParsedAccount> = [];
	$: scheduleSearch(search_query);

	let timeout: NodeJS.Timeout | undefined;

	function scheduleSearch(search: string) {
		const invalid = search.match(/[a-zA-Z0-9_@.]+/g);
		if (!search || !invalid || invalid.length !== 1 || invalid[0].length !== search.length) {
			return;
		}

		if (timeout) {
			clearTimeout(timeout);
		}

		findLocal(search_query);
		// @ts-expect-error
		selected_index = found_accounts.at(0)?.id ?? '0';

		timeout = setTimeout(async () => {
			await findRemote(search_query);

			timeout = undefined;
		}, 300);
	}

	async function findLocal(search: string) {
		found_accounts = find(search);
	}

	async function findRemote(search: string) {
		if (!search) {
			return;
		}

		let request: Array<Entity.Account> | null;
		if (search.includes('@')) {
			// Absolute handle, remote fetch
			const url = search.split('@')[1];
			if (!url || !isURL(url, false)) {
				return;
			}

			request = await account.mirrorAPI.Search.accounts(search, {
				limit: 1,
				resolve: true,
			});
		} else {
			// Search handle in instance database
			request = await account.mirrorAPI.Search.accounts(search, {
				limit: 4,
			});
		}

		if (!request) {
			return;
		}

		const accounts = request.map((a) => AccountsMananger.store(account, a));
		const found = find(search, accounts);

		found_accounts.push(
			...found.filter((remote) => !found_accounts.find((local) => local.id === remote.id))
		);
		found_accounts = found_accounts;
	}

	function find(search: string, fetched_accounts: Array<ParsedAccount> = []) {
		const query = search.toLowerCase();

		let array = cache_accounts;
		if (fetched_accounts.length) {
			array = Array.from(
				new Map([...fetched_accounts, ...array].map((x) => [x.id, x])).values()
			);
		}

		return array
			.filter(
				(x) =>
					x.username.toLowerCase().includes(query) ||
					x.tootdeck.plain_content.toLowerCase().includes(query)
			)
			.sort((a, b) => {
				const ma = isMutual(account, a);
				const mb = isMutual(account, b);

				if (ma && !mb) {
					return -1;
				}

				if (!ma && mb) {
					return 1;
				}

				return 0;
			});
	}

	let selected_index: number = 0;
</script>

{#if found_accounts.length}
	<Selector
		data={found_accounts}
		let:data
		{small}
		absolute={true}
		bind:selected_index
		on:click={(e) =>
			eventDispatcher('click', { acct: '@' + e.detail.data.acct, id: e.detail.data.id })}
		on:close
	>
		<Card
			on:click={() => eventDispatcher('click', { acct: '@' + data.acct, id: data.id })}
			selected={data.id === selected_index}
		>
			<span style:margin-right="7.5px">
				<ProfilePicture
					{account}
					status_account={data}
					width="36px"
					height="36px"
					mutual_size="15px"
				/>
			</span>
			<div class="username">
				<DisplayName status_account={data} show_lock={true} bold={true} />
				<div class="acct">@{data.acct}</div>
			</div>
		</Card>
	</Selector>
{/if}

<style lang="scss">
	.username {
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.acct {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
</style>
