<script lang="ts">
	import Account from './Reply/Account.svelte';
	import Window from './Window.svelte';

	import { stGlobalWindow, type GlobalWindowAccountsList } from '../../stores/Window';
	import { ExpandedPanel, ExpandedPanelState } from '../../stores/ExpandedPanel';

	import type { ParsedAccount } from '../../types/contentParsed';

	const global_window = $stGlobalWindow as GlobalWindowAccountsList;
	const account = global_window.account;
	const accounts = global_window.accounts;
	const title = global_window.title;

	function openProfile(acc: ParsedAccount) {
		ExpandedPanel.update({
			state: ExpandedPanelState.Profile,
			account,
			status_account: acc,
		});
	}
</script>

<Window {title}>
	<div class="wrapper">
		{#each accounts as acc (acc.id)}
			<Account
				{account}
				status_account={acc}
				checked={false}
				disabled={true}
				on:click={() => openProfile(acc)}
			/>
		{/each}
	</div>
</Window>

<style lang="scss">
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		padding: 10px 15px;
		min-width: 500px;
		max-height: 70vh;
		overflow-y: auto;
	}
</style>
