<script lang="ts">
	import Shortcut from './Shortcut.svelte';
	import NewColumn from './AddColumn/Container.svelte';
	import Reblog from './Reblog.svelte';
	import Settings from './Settings/Container.svelte';
	import FullMedia from './FullMedia/FullMedia.svelte';
	import Alt from './Alt.svelte';
	import Reply from './Reply/Reply.svelte';
	import List from './List/ListsContainer.svelte';
	import ListManager from './ListsManager/Container.svelte';
	import RemoteActions from './RemoteActions/Container.svelte';
	import Confirm from './Confirm.svelte';
	import StatusHistory from './StatusHistory.svelte';
	import WhoInteracted from './Who/Implementations/WhoInteracted.svelte';
	import WhoFollow from './Who/Implementations/WhoFollow.svelte';
	import AccountList from './AccountList.svelte';
	import Filters from './Filters/Container.svelte';
	import Changelog from './Changelog.svelte';

	import { stGlobalWindow, GlobalWindowState, GlobalWindow } from '../../stores/Window';

	import { transitionFade } from '../../lib/Transitions/transitionOverride';

	function selectWindow() {
		switch ($stGlobalWindow?.state) {
			case GlobalWindowState.Setting:
				return Settings;

			case GlobalWindowState.Reblog:
				return Reblog;

			case GlobalWindowState.NewColumn:
			case GlobalWindowState.WhichAccount:
				return NewColumn;

			case GlobalWindowState.FullMedia:
			case GlobalWindowState.FullMediaWithThread:
				return FullMedia;

			case GlobalWindowState.Alt:
				return Alt;

			case GlobalWindowState.Reply:
				return Reply;

			case GlobalWindowState.List:
				return List;

			case GlobalWindowState.ListManager:
				return ListManager;

			case GlobalWindowState.RemoteActions:
				return RemoteActions;

			case GlobalWindowState.Confirm:
				return Confirm;

			case GlobalWindowState.StatusHistory:
				return StatusHistory;

			case GlobalWindowState.WhoInteracted:
				return WhoInteracted;

			case GlobalWindowState.WhoFollow:
				return WhoFollow;

			case GlobalWindowState.AccountsList:
				return AccountList;

			case GlobalWindowState.Filters:
				return Filters;

			case GlobalWindowState.Changelog:
				return Changelog;
		}
	}
</script>

{#if $stGlobalWindow && !$stGlobalWindow.special}
	<button
		class="window-shadow"
		transition:transitionFade={{ duration: 100 }}
		on:click={() => GlobalWindow.remove()}
	/>
{/if}
{#if $stGlobalWindow?.state}
	<Shortcut></Shortcut>
	<svelte:component this={selectWindow()} />
{/if}

<style lang="scss">
	.window-shadow {
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
</style>
