<script lang="ts">
	import { onMount } from 'svelte';

	import Button from '../Global/Button/Button.svelte';
	import Container from './Window.svelte';
	import StatusContainer from '../Status/Container.svelte';
	import From from '../Composer/From/Container.svelte';
	// import Visibility from '../Composer/BottomButtons/Visibility.svelte';
	import Loading from '../Composer/Loading.svelte';
	import Visibility from '../Composer/BottomButtons/Visibility.svelte';

	import { stGlobalWindow, type GlobalWindowReblog, GlobalWindow } from '../../stores/Window';
	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import { rdOptionsAppearanceCustomValueReblogBtn } from '../../stores/Options';
	import { ExpandedPanel, ExpandedPanelState } from '../../stores/ExpandedPanel';

	import { RequestsManager } from '../../lib/Managers/RequestsManager';
	import { remoteFetchStatus } from '../../lib/ComponentFunctions/remoteFetch';
	import { errorModal } from '../../lib/errorModal';
	import { isSameDomain } from '../../lib/Utils/isSameDomain';
	import { EventsManager } from '../../lib/Events/EventsManager';
	import { TootDeckEvents } from '../../lib/Events/TootDeckEvents';
	import { composerInit } from '../../lib/ComponentFunctions/composerInit';
	import { disableFromAccounts } from '../../lib/ComponentFunctions/disableFromAccounts';
	import { getVisibility } from '../../lib/ComponentFunctions/getVisibility';
	import { capitalize } from '../../lib/Utils/string/capitalize';

	import type { ParsedStatus } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';
	import { InstanceType } from '../../types/megalodon';

	const status: ParsedStatus = ($stGlobalWindow as GlobalWindowReblog).status;
	const is_private = status.visibility === Entity.Visibility.Private;

	const composer = composerInit({
		account: ($stGlobalWindow as GlobalWindowReblog).account,
		replying_to_status: status,
	});

	const { account, loading } = composer;

	onMount(() => {
		if (is_private) {
			$loading = true;
			disableFromAccounts(composer).finally(() => ($loading = false));
		}
	});

	/**
	 * Visibility
	 */
	// #region

	let visibility_show: boolean = false;
	let visibility_select: Exclude<Entity.Visibility, Entity.Visibility.Direct> =
		getVisibility($account);

	// #endregion

	function quote() {
		composer.quote.set(true);
		composer.replying_to_status.set(undefined);
		composer.text.set('\n\n' + status.url);
		composer.visibility.set(visibility_select);

		ExpandedPanel.update({
			state: ExpandedPanelState.ComposerWithData,
			composer,
		});

		GlobalWindow.clear();
	}

	let waiting: boolean = false;
	let reblog_btn: string = $rdOptionsAppearanceCustomValueReblogBtn;

	async function reblog(account: TootDeckAccount, status: ParsedStatus) {
		return RequestsManager.await(
			`Reblog:${account.mirrorAPI.handle_string}:${status.id}`,
			async () => {
				waiting = true;

				let status_to_reblog: Entity.Status | ParsedStatus = status;

				if (!isSameDomain(account, status)) {
					reblog_btn = 'Fetching status';

					const remote_status = await remoteFetchStatus(account, status);
					if (!remote_status) {
						waiting = false;
						reblog_btn = $rdOptionsAppearanceCustomValueReblogBtn;
						errorModal('Unable to find remote status.', undefined, true);
						return false;
					}

					status_to_reblog = remote_status;

					reblog_btn = $rdOptionsAppearanceCustomValueReblogBtn;
				}

				const response = await account.mirrorAPI.Statuses.reblog(
					status_to_reblog.id,
					visibility_select
				);
				if (!response) {
					waiting = false;
					reblog_btn = $rdOptionsAppearanceCustomValueReblogBtn;
					errorModal('Failed to reblog status.', undefined, true);
					return false;
				}

				waiting = false;
				reblog_btn = 'Done!';

				if (response.reblog) {
					EventsManager.sendEvent(TootDeckEvents.Status, {
						account,
						data: [{ ...response.reblog, animateIn: false, aninateOut: true }],
					});
				}

				GlobalWindow.remove();

				return true;
			}
		);
	}
</script>

<Container title="{capitalize($rdOptionsAppearanceCustomValueReblogBtn)} this to your followers?">
	<div class="reblog-container">
		{#if $loading}
			<Loading />
		{/if}
		<div class="pad">
			<From {composer} />
			{#if is_private}
				<i style={'position: relative; top: 5px;'}>This status is private.</i>
			{/if}
		</div>
		<hr />
		<div class="pad">
			<StatusContainer
				account={$account}
				raw_status={status}
				reblog_window={true}
				border={false}
			/>
		</div>
		<div class="pad buttons">
			{#if $account.mirrorAPI.instance_type === InstanceType.Mastodon}
				<Visibility
					bind:show={visibility_show}
					bind:visibility={visibility_select}
					reblog={true}
				></Visibility>
			{/if}
			<div class="btn">
				<Button style="small" on:clickTimeout={quote}>Quote</Button>
			</div>
			<div class="btn">
				{#if waiting}
					<div class="waiting">{capitalize(reblog_btn)}</div>
				{:else}
					<Button style="small" on:clickTimeout={() => reblog($account, status)}
						>{capitalize(reblog_btn)}</Button
					>
				{/if}
			</div>
		</div>
	</div>
</Container>

<style lang="scss">
	.reblog-container {
		width: 620px;
		display: flex;
		flex-direction: column;
		max-width: 640px;

		.pad {
			position: relative;
			padding: 15px 20px;

			&:nth-child(3) {
				padding: 15px 10px;
				max-height: 250px;
				overflow-y: auto;
				box-sizing: border-box;
			}

			&:last-child {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
			}

			&.buttons {
				right: 0;
				width: 70%;
				margin-left: auto;

				:global(.selector) {
					top: 70px;
				}
			}
		}

		.waiting {
			position: relative;

			&::after {
				position: absolute;
				content: '';
				animation: 0.5s waiting linear infinite;
			}
		}

		hr {
			border-color: rgb(var(--light));
		}
	}
</style>
