<script lang="ts">
	import { draggable as drag } from '@neodrag/svelte';
	// Fix svelte-check for @neodrag/svelte@2.0.4
	const draggable = drag as any;

	import { stGlobalWindow, GlobalWindowState, GlobalWindow } from '../../stores/Window';

	import { escapeHandler } from '../../lib/escapeHandler';
	import { transitionFade } from '../../lib/Transitions/transitionOverride';

	export let title: string | undefined = undefined;

	const setting = $stGlobalWindow?.state === GlobalWindowState.Setting;

	let container_element: HTMLDivElement;
	$: if (container_element) {
		container_element.focus();
	}
</script>

<div
	tabindex="-1"
	class="window-container"
	on:keydown={escapeHandler}
	bind:this={container_element}
	transition:transitionFade={{ duration: 100 }}
>
	<div class="window" class:setting use:draggable={{ handle: '.window-topbar' }}>
		{#if title}
			<header class="window-topbar">
				<h1>{title || 'closing..'}</h1>
				<button class="close" on:click={() => GlobalWindow.remove()}>
					<div class="fa fa-times" />
				</button>
			</header>
		{/if}
		<div class="content">
			<slot />
		</div>
	</div>
</div>

<style lang="scss">
	.window-container {
		z-index: 11;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
		pointer-events: none;

		.window {
			z-index: 11;
			position: fixed;
			// overflow: hidden;
			background-color: rgb(var(--column));
			border-radius: 10px;
			pointer-events: all;

			&.setting {
				min-width: 850px;
				max-height: 100vh;
				height: 600px;

				.content {
					height: calc(100% - 45px);
				}
			}

			.window-topbar {
				position: relative;
				border-radius: 10px 10px 0px 0px;
				background-color: rgb(var(--header));

				h1 {
					font-size: 17.5px;
					padding: 10px 40px;
					text-align: center;
					user-select: none;
					cursor: grab;
				}

				.close {
					position: absolute;
					top: 0;
					right: 0;
					width: 40px;
					height: 42px;
					display: grid;
					justify-content: center;
					align-content: center;
					background-color: rgb(var(--header));
					border-top-right-radius: 10px;
					font-size: 30px;

					&:hover {
						filter: brightness(1.4);
					}

					&:active {
						filter: brightness(1.6);
					}
				}
			}

			.content {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				// overflow: hidden;
			}
		}
	}

	@media (max-width: 470px) {
		.window-container .window header h1 {
			padding: 10px 10px;
			text-align: left;
		}
	}
</style>
