<script lang="ts">
	import Add from './Add.svelte';
	import Library from './Library.svelte';
</script>

<div class="sounds-library-container">
	<Add />
	<Library />
</div>

<style lang="scss">
	.sounds-library-container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 10px;
	}
</style>
