<script lang="ts">
	import {
		NotificationModalType,
		notificationModal,
	} from '../../../../stores/NotificationsModal';

	export let accept: string;
	export let multiple: boolean;
	export let size_limit: number;
	/**
	 * function called after validation
	 *
	 * the type of the param change depending on `multiple`
	 * @param f `File`
	 * @param f `Array<File>`
	 * @param f `null` if validation fail
	 */
	export let callback: (f: any | null) => void;

	let input: HTMLInputElement;
	let filename: string | undefined;

	export function clear() {
		if (!input) {
			return;
		}

		input.value = '';
		filename = undefined;
		callback(null);
	}

	/**
	 * Validation
	 */
	// #region

	const accept_file_type = accept
		.split(',')
		.filter((x) => x.includes('.'))
		.map((x) => x.replace('.', ''));
	const accept_mime_type = accept.split(',').filter((x) => x.includes('/'));

	function validateType(file: File) {
		const split = file.name.split('.');
		const valid_file_type = accept_file_type.includes(split.at(-1) ?? 'undefined');
		if (!valid_file_type) {
			notificationModal.create(
				NotificationModalType.Warn,
				`Invalid file, supported files types are ${accept_file_type.join(', ')}.`,
				true
			);
			return false;
		}

		const valid_mime_type = accept_mime_type.includes(file.type);
		if (!valid_mime_type) {
			notificationModal.create(
				NotificationModalType.Warn,
				`Invalid file MIME type, supported MIME types are ${accept_mime_type.join(', ')}.`,
				true
			);
			return false;
		}

		return true;
	}

	function validateMultiple(files: Array<File>) {
		let error: boolean = false;

		for (const file of files) {
			if (file.size > size_limit) {
				notificationModal.create(
					NotificationModalType.Warn,
					`Selected file is to big, max file size is ${getSize(size_limit)}.`,
					true
				);
				error = true;
				continue;
			}

			if (!validateType(file)) {
				error = true;
				continue;
			}
		}

		if (error) {
			clear();
			return;
		}

		filename = files.map((file) => file.name).join(' ');

		callback(files);
	}

	function validateSingle(file: File) {
		if (file.size > size_limit) {
			notificationModal.create(
				NotificationModalType.Warn,
				`Selected file is to big, max file size is ${getSize(size_limit)}.`,
				true
			);
			clear();
			return;
		}

		if (!validateType(file)) {
			clear();
			return;
		}

		filename = file.name;

		callback(file);
	}

	function validate(e: Event) {
		const target = e.target as HTMLInputElement;
		if (!target.files) {
			clear();
			return;
		}

		const files_array = Array.from(target.files);
		if (!files_array.length) {
			clear();
			return;
		}

		if (multiple) {
			validateMultiple(files_array);
		} else {
			validateSingle(files_array[0]);
		}
	}

	// #endregion

	/**
	 * Utils
	 */

	function getSize(size: number) {
		const kb = size / 1024;
		if (kb < 1) {
			return `${size} bytes`;
		}

		const mb = kb / 1024;
		if (mb < 1) {
			return `${kb.toFixed(0)} KB`;
		}

		const gb = mb / 1024;
		if (gb < 1) {
			return `${mb.toFixed(0)} MB`;
		}

		return `${gb.toFixed(0)} GB`;
	}
</script>

<input id="file" type="file" {accept} {multiple} bind:this={input} on:change={validate} />
<label for="file" class="file">
	<div class="fa fa-paperclip" />
	<div class="name">
		{filename ?? `No file chosen (max ${getSize(size_limit)})`}
	</div>
</label>

<style lang="scss">
	input {
		display: none;
	}

	.file {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: var(--font-size);
		padding-left: 5px;
		cursor: pointer;

		.fa {
			color: rgb(var(--accent));
			transform: rotate(45deg);
			margin: 0px 5px 0px -5px;
		}
	}
</style>
