<script lang="ts">
	import type { Readable } from 'svelte/motion';

	import Sound from './Sound.svelte';

	import { SoundsLibrary, type Sound as SoundType } from '../../../../lib/SoundsLibrary';
	import { errorModal } from '../../../../lib/errorModal';

	let sounds: Readable<Array<SoundType>> = SoundsLibrary.getReadable();

	function setDefaultSound(uuid: string) {
		if (!SoundsLibrary.setDefault(uuid)) {
			errorModal('Failed to set sound as default.', undefined, true);
			return;
		}
	}

	function renameSound(uuid: string, name: string) {
		if (!SoundsLibrary.rename(uuid, name)) {
			errorModal('Failed to remove sound.', undefined, true);
			return;
		}
	}

	function removeSound(uuid: string) {
		if (!SoundsLibrary.remove(uuid)) {
			errorModal('Failed to remove sound.', undefined, true);
			return;
		}
	}
</script>

<div class="sounds-library">
	<div class="title">
		<h2>Library</h2>
		<p>({$sounds.length} / 10)</p>
	</div>
	{#if $sounds.length}
		{#each $sounds as sound (sound.uuid)}
			<Sound
				{sound}
				on:default={() => setDefaultSound(sound.uuid)}
				on:rename={(e) => renameSound(sound.uuid, e.detail.value)}
				on:remove={() => removeSound(sound.uuid)}
			/>
		{/each}
	{:else}
		<div>You don’t have any sounds yet.</div>
	{/if}
</div>

<style lang="scss">
	.sounds-library {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1ch;

			p {
				margin-top: 0.5ex;
			}
		}
	}
</style>
