<script lang="ts">
	import Instance from './Instance.svelte';

	import { rdOptionsBehaviorInstance } from '../../../../stores/Options';
</script>

<div class="settings-section column">
	<p style="margin-bottom: 5px;">
		TootDeck tries to detect these settings. If it gets it wrong, you can change it here
	</p>
	{#each Object.keys($rdOptionsBehaviorInstance) as instance (instance)}
		<Instance {instance}></Instance>
	{/each}
</div>
