<script lang="ts">
	import { writable } from 'svelte/store';

	import DetectCheckboxes from './DetectCheckboxes.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';

	import { rdOptionsBehaviorInstance, stOptions } from '../../../../stores/Options';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { clamp } from '../../../../lib/Utils/number/clamp';

	export let instance: string;

	const value = $rdOptionsBehaviorInstance[instance];
	const override = {
		emoji_reaction: writable({
			auto: value.emoji_reaction === null,
			disable: value.emoji_reaction === false,
			enable: value.emoji_reaction === true,
		}),
		poll_allow_media: writable({
			auto: value.poll_allow_media === null,
			disable: value.poll_allow_media === false,
			enable: value.poll_allow_media === true,
		}),
		poll_max_options: value.poll_max_options,
		poll_max_characters_per_option: value.poll_max_characters_per_option,
		poll_min_expiration: value.poll_min_expiration,
		poll_max_expiration: value.poll_max_expiration,
	};

	function getInputValue(e: Event) {
		const opacity = +(e.target as HTMLInputElement).value;
		if (isNaN(opacity)) {
			return;
		}

		return clamp(opacity, 0, Infinity);
	}

	function pollMaxOption(e: Event) {
		const value = getInputValue(e);
		if (value) {
			$stOptions.behavior.instance[instance].poll_max_options = value;
		}
	}

	function pollMaxCharactersPerOption(e: Event) {
		const value = getInputValue(e);
		if (value) {
			$stOptions.behavior.instance[instance].poll_max_characters_per_option = value;
		}
	}

	let collapsed: boolean = Object.keys($rdOptionsBehaviorInstance)[0] !== instance;
</script>

<button on:click={() => (collapsed = !collapsed)}>
	<div class="chevron" class:collapsed>
		<div class="icon fa fa-chevron-right" />
	</div>
	<b>{instance}</b>
</button>
{#if !collapsed}
	<div class="flex" transition:transitionSlide={{ duration: 200 }}>
		<DetectCheckboxes
			text="Emoji reactions"
			choices={override.emoji_reaction}
			on:click={(e) => ($stOptions.behavior.instance[instance].emoji_reaction = e.detail)}
		></DetectCheckboxes>
		<div style="margin-left: 15px;">
			<b>Poll</b>
			<DetectCheckboxes
				text="Allow media"
				choices={override.poll_allow_media}
				on:click={(e) =>
					($stOptions.behavior.instance[instance].poll_allow_media = e.detail)}
			></DetectCheckboxes>
			<InputNumber
				text="Max choices"
				step="1"
				value={override.poll_max_options ?? 0}
				on:change={pollMaxOption}
			></InputNumber>
			<InputNumber
				text="Max characters per choices"
				step="1"
				value={override.poll_max_characters_per_option ?? 0}
				on:change={pollMaxCharactersPerOption}
			></InputNumber>
			<!-- <InputNumber
					text="Min expiration"
					step="1"
					value={override.poll_min_expiration ?? 0}
				></InputNumber>
				<InputNumber
					text="Max expiration"
					step="1"
					value={override.poll_max_expiration ?? 0}
				></InputNumber> -->
		</div>
	</div>
{/if}

<style lang="scss">
	button {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5ch;
		padding: 10px;

		.chevron {
			margin-right: 0.5em;
			transform: rotate(90deg);
			transition: calc(0.2s * var(--transition-speed));

			&.collapsed {
				transform: rotate(0);
			}
		}
	}

	.flex {
		display: flex;
		flex-direction: column;
		gap: 10px;

		:global(p) {
			margin-bottom: 0;
		}

		:global(input) {
			width: 125px !important;
		}
	}
</style>
