@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

/**
 * Custom icon font
 */
@font-face {
	font-family: 'heart-icon';
	src: url('/heart-icon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.heart-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'heart-icon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heart-icon .path1:before {
	content: '\1f496';
	position: absolute;
	top: 0;
	left: 0;
	color: rgb(224, 36, 94);
}

.heart-icon .path2:before {
	content: '\1f497';
	position: absolute;
	top: 0;
	left: 0;
	/* margin-left: -1.052734375em; */
	color: rgb(255, 255, 255);
}

/**
 * Define
 */
:root {
	font-family: 'Open Sans', system-ui, sans-serif;

	--column-width: 370px;
	--column-header-height: 50px;

	--font-size: 14px;

	--sidebar-width: 60px;
	--sidebar-width-expand: 200px;
	--sidebar-icon-width: 60px;

	--scrollbar-width: 9.5px;
	--scrollbar-width-firefox: 8px;

	--thread-line-width: 2px;

	--accent: 99, 100, 255;
	--twitter: 29, 161, 242;
}

.theme-mastodon {
	--red: 216, 47, 47;
	--green: 7, 209, 0;

	--list-color: 99, 100, 255;
	--reblog-color: 150, 255, 178;
	--favourite-color: 255, 179, 0;

	--gradient: linear-gradient(-180deg, rgb(23, 6, 59) 0%, rgb(86, 58, 204) 100%);

	--background: 25, 27, 34;

	--header: 49, 53, 67;
	--header-inner: 31, 35, 43;

	--column: 40, 44, 55;

	--composer: 31, 35, 43;
	--icons: 150, 159, 188;

	--light: 57, 63, 79;
	--lighter: 68, 75, 93;

	--text: 255, 255, 255;
	--text-button: 255, 255, 255;

	--thread-line-color: 150, 159, 188;
}

.theme-light {
	--red: 216, 47, 47;
	--green: 7, 209, 0;

	--list-color: 99, 100, 255;
	--reblog-color: 66, 221, 107;
	--favourite-color: 255, 179, 0;

	--gradient: linear-gradient(0deg, rgb(133, 79, 248) 0%, rgb(86, 58, 204) 100%);

	--background: 239, 243, 245;

	--header: 230, 235, 240;
	--header-inner: 230, 235, 240;

	--column: 255, 255, 255;

	--composer: 236, 240, 244;
	--icons: 97, 106, 133;

	--light: 255, 255, 255;
	--lighter: 236, 240, 244;

	--text: 0, 0, 0;
	--text-button: 255, 255, 255;

	--thread-line-color: 96, 105, 132;
}

.theme-dark {
	--red: 216, 47, 47;
	--green: 7, 209, 0;

	--list-color: 99, 100, 255;
	--reblog-color: 150, 255, 178;
	--favourite-color: 255, 179, 0;

	--gradient: linear-gradient(-180deg, rgb(23, 6, 59) 0%, rgb(86, 58, 204) 100%);

	--background: 0, 0, 0;

	--header: 17, 17, 17;
	--header-inner: 17, 17, 17;

	--column: 0, 0, 0;

	--composer: 25, 27, 34;
	--icons: 171, 171, 171;

	--light: 30, 30, 30;
	--lighter: 36, 39, 48;

	--text: 255, 255, 255;
	--text-button: 255, 255, 255;

	--thread-line-color: 105, 105, 105;
}

.column-narrow {
	--column-width: 270px;
}

.column-medium {
	--column-width: 310px;
}

.column-wide {
	--column-width: 370px;
}

.font-size-smallest {
	--font-size: 12px;
}

.font-size-small {
	--font-size: 13px;
}

.font-size-medium {
	--font-size: 14px;
}

.font-size-large {
	--font-size: 15px;
}

.font-size-largest {
	--font-size: 16px;
}

/**
 * Scrollbar
 */
.scrollbar * {
	scrollbar-color: rgb(var(--light)) rgb(var(--header));
}

.accent-scrollbar * {
	scrollbar-color: rgb(var(--accent)) rgb(var(--header));
}

.scrollbar.transparency * {
	scrollbar-color: rgb(var(--light)) transparent;
}

.accent-scrollbar.transparency * {
	scrollbar-color: rgb(var(--accent)) transparent;
}

/* the entire scrollbar. */
.scrollbar *::-webkit-scrollbar {
	width: 10px;
}

/* the draggable scrolling handle. */
.scrollbar *::-webkit-scrollbar-thumb {
	background-color: rgb(var(--light));
	border-radius: 0;
}

.accent-scrollbar *::-webkit-scrollbar-thumb {
	background-color: rgb(var(--accent));
}

/* the track (progress bar) of the scrollbar, where there is a gray bar on top of a white bar. */
.scrollbar *::-webkit-scrollbar-track {
	background-color: rgb(var(--header-inner));
}

.disable-all-transition *,
.disable-all-transition *::before,
.disable-all-transition *::after {
	transition: 0s !important;
}

/**
 * Reset
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
}

a {
	color: rgb(var(--accent));
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

input {
	color: rgb(var(--text));
}

button {
	all: unset;
	user-select: none;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid transparent;
}

button:focus-visible {
	border: 1px solid rgb(var(--text));
}

body {
	background: rgb(var(--background));
}

html {
	height: 100%;
}

body,
#app {
	width: 100vw;
	height: 100%;
	color: rgb(var(--text));
	overflow: hidden;
}

#app {
	display: flex;
	flex-direction: row;
}

#app::before {
	z-index: -2;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--background-image);
	background-size: cover;
	background-repeat: no-repeat;
}

.caps-lock,
.caps-lock * {
	text-transform: uppercase;
}

/**
 * Button
 */
.button-square {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid;
	padding: 6.5px 10px;
	box-sizing: border-box;
	--color: rgb(var(--text));
	border-color: var(--color);
	color: var(--color);
}

.button-square:hover {
	filter: brightness(1.5);
}

.button-square.red {
	--color: rgb(var(--red));
	border-color: var(--color);
	color: var(--color);
}

.button-square.invert:hover {
	background-color: var(--color);
	color: rgb(var(--background));
}

/**
 * Column
 */
.no-content {
	font-style: italic;
}

.empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: calc(100% - var(--column-header-height));
	box-sizing: border-box;
}

.empty div,
.empty button {
	border-radius: 5px;
	padding: 5px 10px;
	transition: 0.1s;
}

button.empty div:hover {
	background-color: rgb(var(--composer));
}

.find-previous {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgb(var(--header));
	box-sizing: border-box;
}

.find-previous:hover {
	background-color: rgb(var(--light));
}

.refresh {
	text-decoration: underline;
}

@keyframes waiting {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
}

/**
 * Content renderer
 */
.bigger {
	font-size: calc(var(--font-size) + 11px);
}

.big {
	font-size: calc(var(--font-size) + 6px);
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
}

.underline.strikethrough {
	text-decoration: underline line-through;
}

.blockquote {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.del {
	text-decoration: line-through;
	background-color: rgba(255, 0, 0, 0.5);
}

.ins {
	text-decoration: none;
	background-color: rgba(0, 255, 0, 0.5);
}

.theme-light .blockquote {
	border-left: 0.25em solid rgb(80, 80, 80);
	color: rgb(80, 80, 80);
}

.theme-mastodon .blockquote,
.theme-dark .blockquote {
	border-left: 0.25em solid rgb(205, 205, 205);
	color: rgb(205, 205, 205);
}

ul {
	padding-left: 1.2em;
}

ul:not(:last-child) {
	margin-bottom: 1lh;
}

ul li {
	list-style-position: outside;
}

ol li {
	list-style-position: inside;
}

code,
.code {
	font-family: 'JetBrains Mono', monospace;
}

.pre {
	white-space: pre;
}

/**
 * Emoji
 */
.emoji {
	min-width: 1em;
	height: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: middle;
}

.bigger-emoji .emoji {
	min-width: 1.4em;
	height: 1.4em;
	margin: -3px 0 0;
}

.emoji-custom {
	width: auto !important;
}

/**
 * Emoji zoom
 */
@keyframes emoji-zoom-in {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.emoji-zoom {
	z-index: 100;
	position: fixed;
	margin: -3px -3px 0;
	animation: emoji-zoom-in 0.05s ease-in-out;
	pointer-events: none;
	outline: none;
}

.emoji-zoom .emoji {
	transform: scale(5);
}

/**
 * Settings
 */
.settings-section {
	display: flex;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
}

.settings-section.row {
	flex-direction: row;
}

.settings-section.column {
	flex-direction: column;
}

.settings-section:not(:last-child) {
	border-bottom: 1px solid rgb(var(--accent));
}

/**
 * Other
 */
.text p:not(:last-child) {
	margin-bottom: var(--font-size);
}

.span-url {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.invisible {
	display: none !important;
}

.ellipsis:after {
	content: '...';
}
