<script lang="ts">
	import LoginPage from './pages/Login.svelte';
	import Routes from './routes/Routes.svelte';
	import NotificationsModal from './components/NotificationsModal/Container.svelte';

	import { loginState } from './stores/Account/Auth';

	import { init as initTheme } from './lib/ComponentFunctions/options/theme';
	import { queryMessage } from './lib/queryMessage';

	initTheme();

	queryMessage();
</script>

{#await loginState() then logged}
	{#if logged}
		<Routes></Routes>
	{:else}
		<LoginPage />
	{/if}
{/await}

<NotificationsModal />
