<script lang="ts">
	import { getContext } from 'svelte';

	import Player from './Player.svelte';
	import Image from './Image.svelte';
	import Card from '../Card.svelte';

	import { GlobalWindowState, GlobalWindow } from '../../../stores/Window';
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { ContentManager } from '../../../lib/Managers/ContentManager';
	import { createThreadColumn } from '../../../lib/ComponentFunctions/thread/createThreadColumn';

	import type { Attachment, ParsedStatus } from '../../../types/contentParsed';
	import { Entity } from '../../../types/mastodonEntities';
	import { showMedia } from '../../../lib/ComponentFunctions/showMedia';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let notification: boolean = false;

	const full_media_status_id = getContext<string | undefined>('FullMediaWithThread');
	const is_same_status = full_media_status_id === status.id;

	let media: Array<Attachment>;
	let has_video: boolean;
	let show: boolean;
	$: {
		media = status.media_attachments;
		has_video = !!media.find(
			(x) => x.type === Entity.AttachmentType.Gifv || x.type === Entity.AttachmentType.Video
		);
		show = status.tootdeck.media_attachments_show ?? showMedia(status);
	}

	let failed_to_load: boolean = false;

	function dispatchVisibilty(value: boolean) {
		status.tootdeck.media_attachments_show = value;
		status.tootdeck.show_cw = value;

		setTimeout(() => {
			ContentManager.Status.update(account, status);
		});
	}

	function openFull(id: string) {
		if (!show) {
			dispatchVisibilty(true);
			return;
		}

		if (failed_to_load || is_same_status) {
			return;
		}

		full_media_status_id
			? GlobalWindow.create({
					state: GlobalWindowState.FullMediaWithThread,
					special: true,
					clicked: media.findIndex((attachement) => attachement.id === id),
					media,
					column: createThreadColumn(account, status),
					status_id: status.id,
				})
			: GlobalWindow.create({
					state: GlobalWindowState.FullMedia,
					special: true,
					clicked: media.findIndex((attachement) => attachement.id === id),
					media,
				});
	}

	function openAlt(m: Attachment) {
		if (!m.description) {
			return;
		}

		GlobalWindow.create({
			state: GlobalWindowState.Alt,
			special: false,
			alt: { text: m.description },
			diff: m.diff,
		});
	}
</script>

<div
	class="media-container"
	class:n-1={media.length === 1}
	class:n-2={media.length === 2}
	class:n-3={media.length === 3}
	class:n-4={media.length >= 4}
	class:video={has_video}
	class:default-cursor={is_same_status}
>
	{#each media as m (m.id)}
		{#if [Entity.AttachmentType.Video, Entity.AttachmentType.Audio].includes(m.type)}
			<Player
				media={m}
				media_count={media.length}
				{show}
				profile={false}
				on:openFull={() => openFull(m.id)}
				on:openAlt={() => openAlt(m)}
			>
				<Card
					card={{
						url: m.remote_url ?? status.url,
						title: m.description ?? '',
						author_name: status.account.acct,
					}}
					show_media={false}
				/>
			</Player>
		{:else}
			<Image
				media={m}
				media_count={media.length}
				{show}
				{notification}
				profile={false}
				on:openFull={() => openFull(m.id)}
				on:openAlt={() => openAlt(m)}
			>
				<Card
					card={{
						url: m.remote_url ?? status.url,
						title: m.description ?? '',
						author_name: status.account.acct,
					}}
					show_media={false}
				/>
			</Image>
		{/if}
	{/each}
</div>

<style lang="scss">
	.media-container {
		z-index: 0;
		position: relative;
		width: 100%;
		height: auto;
		margin: 7.5px 0px 0px;
		overflow: hidden;

		&.default-cursor {
			:global(.img),
			:global(.video) {
				cursor: default !important;
			}
		}

		:global(.img),
		:global(.video),
		:global(.blurhash) {
			box-sizing: border-box;
			overflow: hidden;
			border: 0px solid rgb(var(--text));
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}

		&.n-2 {
			grid-template-rows: 2fr;

			:global(> *) {
				aspect-ratio: 1;
			}
		}

		&:not(.n-1) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2px;

			:global(> *) {
				overflow: hidden;
				display: grid;
				place-items: center;
			}

			:global(> :nth-child(1)) {
				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-top-left-radius: 16px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 16px;
					border-bottom-right-radius: 0px;
				}
			}

			:global(> :nth-child(2)) {
				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-top-left-radius: 0px;
					border-top-right-radius: 16px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 16px;
				}
			}

			&:not(.n-2) {
				:global(> *) {
					aspect-ratio: 16 / 9;
				}

				&.video {
					:global(> *) {
						aspect-ratio: 1;
					}
				}
			}
		}

		&.n-3 {
			&.video {
				:global(> :nth-child(1)) {
					aspect-ratio: 1 / 2;
				}
			}

			:global(> :nth-child(1)) {
				aspect-ratio: 2 / 2.28;
				grid-area: 1 / 1 / 3 / 2;
			}

			:global(> :nth-child(2)) {
				grid-area: 1 / 2 / 2 / 3;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-bottom-right-radius: 0px;
				}
			}

			:global(> :nth-child(3)) {
				grid-area: 2 / 2 / 3 / 3;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 16px;
				}
			}
		}

		&.n-4 {
			:global(> :nth-child(1)) {
				grid-area: 1 / 1 / 2 / 2;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-bottom-left-radius: 0px;
				}
			}

			:global(> :nth-child(2)) {
				grid-area: 1 / 2 / 2 / 3;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-bottom-right-radius: 0px;
				}
			}

			:global(> :nth-child(3)) {
				grid-area: 2 / 1 / 3 / 2;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 16px;
					border-bottom-right-radius: 0px;
				}
			}

			:global(> :nth-child(4)) {
				grid-area: 2 / 2 / 3 / 3;

				:global(.img),
				:global(.video),
				:global(.blurhash) {
					border-top-right-radius: 0px;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 16px;
				}
			}
		}
	}
	// }
</style>
