<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import InputText from './InputText.svelte';

	const eventDispatcher = createEventDispatcher();

	export let title: string;
	export let items: Array<string>;
	export let checked: string;
	export let custom_value: string = '';

	const id = title.split(' ').join('-');

	function change(
		e: Event & { currentTarget: EventTarget & HTMLInputElement },
		update_custom_visibility: () => void
	) {
		const value = (e.target as HTMLInputElement).value.trim().replace(',', '.');

		update_custom_visibility();

		eventDispatcher('change', { value });
	}

	const has_custom_input: boolean = !!custom_value;

	let validate_custom_input: string = custom_value;
	let show_custom_input: boolean = checked === 'Custom';
	let invalid: boolean = false;

	function validateCustomValue() {
		validate_custom_input = validate_custom_input.trim().replace(',', '.');

		if (!validate_custom_input.match('^\\d+(\\.\\d+)?px$')) {
			invalid = true;
		} else {
			invalid = false;
			custom_value = validate_custom_input;
		}
	}

	$: {
		validate_custom_input;
		validateCustomValue();
	}
</script>

<div class="radio-checkbox" class:font-size={title === 'Font size'}>
	<p>{title}</p>
	{#each items as item (id + '-' + item)}
		<div class="radio">
			<input
				type="radio"
				name={id}
				id="{id}-{item}"
				checked={checked === item}
				value={item}
				on:change={(e) =>
					change(e, () => {
						show_custom_input = false;
					})}
			/>
			<label for="{id}-{item}" style:transition={'calc(0.1s * var(--transition-speed))'}
				>{item}</label
			>
		</div>
	{/each}
	{#if has_custom_input}
		<div class="radio custom">
			<input
				type="radio"
				id={id + '-Custom'}
				name={id}
				style:transition={'calc(0.1s * var(--transition-speed))'}
				checked={show_custom_input}
				placeholder="(px)"
				value={'Custom'}
				on:change={(e) =>
					change(e, () => {
						show_custom_input = true;
					})}
			/>
			<label
				for={id + '-Custom'}
				class:invalid
				style:transition={'calc(0.1s * var(--transition-speed))'}>Custom</label
			>
			<InputText bind:value={validate_custom_input} visible={show_custom_input} />
		</div>
	{/if}
</div>

<style lang="scss">
	.radio-checkbox {
		display: flex;
		flex-direction: column;
		padding: 5px 15px;

		p {
			width: 100%;
			content: attr(title);
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			padding-bottom: 10px;
		}

		&.font-size {
			.radio {
				&:nth-child(1) label {
					font-size: 12px;
				}
				&:nth-child(2) label {
					font-size: 13px;
				}
				&:nth-child(3) label {
					font-size: 14px;
				}
				&:nth-child(4) label {
					font-size: 15px;
				}
				&:nth-child(5) label {
					font-size: 16px;
				}
			}
		}

		.radio {
			display: flex;
			flex-direction: row;

			&.custom {
				flex-direction: column;

				label.invalid + :global(div > input) {
					color: rgb(var(--red));
				}
			}
		}

		input[type='radio'] {
			all: unset;
			display: none;

			&:checked:not([type='checkbox']) + label {
				color: rgb(var(--accent));
			}

			&:checked + label::before {
				background: rgb(var(--accent));
				box-shadow: inset 0px 0px 1.25px 0px rgb(var(--text));
			}
		}

		label {
			padding: 10px 15px;
			cursor: pointer;
			box-sizing: border-box;
			user-select: none;
			display: flex;
			align-items: center;
			gap: 7.5px;
			transition: calc(0.1s * var(--transition-speed));

			&::before {
				content: '';
				background-color: transparent;
				width: 10px;
				height: 10px;
				border: 1px solid rgb(var(--text));
			}
		}
	}
</style>
