<script lang="ts">
	export let text: string;
	export let value: number;
	export let suffix: string = '';
	export let hint: string = '';

	export let step: string = '';
	export let min: string = '';
	export let max: string = '';

	const id = window.crypto.randomUUID();
</script>

<div class="number">
	<label for={id}>
		<p>{text}</p>
		<input type="number" {step} {min} {max} {id} bind:value on:change />
		{#if suffix}
			<div>{suffix}</div>
		{/if}
		{#if hint}
			<div class="hint">{hint}</div>
		{/if}
	</label>
</div>

<style lang="scss">
	.number {
		display: flex;
		flex-direction: row;

		label {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			padding: 10px 15px;
			box-sizing: border-box;
			cursor: pointer;
			user-select: none;

			input[type='number'] {
				all: unset;
				width: 75px;
				padding: 0 10px;
				box-sizing: border-box;
				background-color: rgb(var(--composer));
				border: 1px solid rgb(var(--accent));
				cursor: text;
			}

			.hint {
				font-size: calc(var(--font-size) + 1px);
				opacity: 0.7;
			}
		}
	}
</style>
