<script lang="ts">
	export let text: string = '';
	export let hint: string = '';
	export let value: string;
	export let placeholder: string = '';
	export let visible: boolean = true;

	const uuid = window.crypto.randomUUID();
</script>

<div class="text" class:visible>
	{#if text}
		<label for={uuid}>{text}</label>
	{/if}
	<input id={uuid} type="text" {placeholder} bind:value on:keydown />
	{#if hint}
		<p class="hint">{hint}</p>
	{/if}
</div>

<style lang="scss">
	.text {
		display: flex;
		align-items: center;
		gap: 7.5px;
		opacity: 0;
		transition: calc(0.1s * var(--transition-speed));

		input[type='text'] {
			cursor: default;
		}

		&.visible {
			opacity: 1;

			input[type='text'] {
				cursor: text;
			}
		}

		label {
			cursor: pointer;
			user-select: none;
			flex-shrink: 0;
		}

		input[type='text'] {
			all: unset;
			width: 0;
			flex-grow: 1;
			background-color: #000;
			padding: 10px 15px;
			box-sizing: border-box;
			background-color: rgb(var(--composer));
			border: 1px solid rgb(var(--accent));
			cursor: default;
		}
	}
</style>
