<script lang="ts">
	import { onMount } from 'svelte';
	import { capitalize as capitalizer } from '../../../lib/Utils/string/capitalize';

	export let entries: { [key: string]: boolean };
	export let capitalize: boolean;
	// export let width: string;

	const uuid = window.crypto.randomUUID();

	let width = 'auto';
	let initialized: boolean = false;
	let container: HTMLElement;
	let background: HTMLElement;
	let transform: string;

	let values: Array<{ id: number; key: string; value: boolean }>;
	$: {
		values = Object.entries(entries).map(([key, value], id) => ({ id, key, value }));
		if (background) {
			move(values.findIndex((x) => x.value));
		}
	}

	function move(index: number) {
		transform = `translateX(calc(var(--container-width) * ${index} / ${values.length}))`;
		setTimeout(() => {
			initialized = true;
		});
	}

	onMount(() => {
		width = Math.max(220, container.clientWidth) + 'px';
	});
</script>

<div class="radio" style:--container-width={width} bind:this={container}>
	{#each values as { id, key, value } (id)}
		<label>
			<input
				type="radio"
				name={uuid}
				checked={value}
				on:click={() => {
					values.forEach(({ key }) => {
						entries[key] = false;
					});
					entries[key] = true;
					move(id);
				}}
			/>
			{capitalize ? capitalizer(key) : key}
		</label>
	{/each}
	<div
		class="selection"
		style:transform
		style:width={`calc(var(--container-width) / ${values.length})`}
		bind:this={background}
	></div>
</div>

<style lang="scss">
	.radio {
		position: relative;
		display: flex;
		align-items: center;
		width: var(--container-width);
		background-color: rgb(var(--composer));
		color: rgb(var(--text));
		border-radius: 10px;
		border: 2px solid rgba(var(--lighter), 0.5);
		overflow: hidden;

		input {
			display: none;
		}

		label {
			z-index: 1;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 7.5px;
			cursor: pointer;
			color: rgb(var(--text));
		}

		.selection {
			display: none;
			z-index: 0;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			transition: calc(0.15s * var(--transition-speed)) ease;
		}

		label:has(input:checked) {
			color: rgb(var(--accent));
		}

		label:has(input:checked) ~ .selection {
			background-color: rgb(var(--lighter));
			display: inline-block;
		}
	}
</style>
