<script lang="ts">
	export let text: string;
	export let checked: boolean;

	const id = window.crypto.randomUUID();
</script>

<div class="checkbox">
	<input type="checkbox" {id} {checked} on:click />
	<label for={id}>{text}</label>
</div>

<style lang="scss">
	.checkbox {
		display: flex;
		flex-direction: row;

		input[type='checkbox'] {
			all: unset;
			display: none;

			&:checked:not([type='checkbox']) + label {
				color: rgb(var(--accent));
			}

			&:checked + label::before {
				background: rgb(var(--accent));
				box-shadow: inset 0px 0px 1.25px 0px rgb(var(--text));
			}
		}

		label {
			padding: 10px 15px;
			cursor: pointer;
			box-sizing: border-box;
			user-select: none;
			display: flex;
			align-items: center;
			gap: 7.5px;
			transition: calc(0.1s * var(--transition-speed));

			&::before {
				content: '';
				background-color: transparent;
				width: 10px;
				height: 10px;
				border: 1px solid rgb(var(--text));
			}
		}
	}
</style>
