<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';

	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';
	import {
		stRefreshAccount,
		type TootDeckAccount,
		stAccountsSameInstance,
	} from '../../../stores/Account/Accounts';

	import { getHandleFromAccount } from '../../../lib/Utils/handle/getHandleFromAccount';
	import { addFullHandleIfNecessary } from '../../../lib/ComponentFunctions/addFullHandle';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: TootDeckAccount | undefined = undefined;
	export let status_account: ParsedAccount | any;
	export let selected: boolean = false;
	export let display_size: 'only-pp-small' | 'full' | 'only-pp' = 'full';
	export let checkmark: boolean = true;
	export let warn: boolean = false;

	$: {
		$stRefreshAccount;
		status_account = status_account;
	}
</script>

<button class="account {display_size}" class:selected on:click>
	<div class="pp">
		<Img
			src={$rdOptionsAppearanceAnimationAnimateGifAvatar
				? status_account.avatar
				: status_account.avatar_static}
			alt="{getHandleFromAccount(status_account, true)} profile picture"
			width={display_size === 'only-pp-small' ? '30px' : '45px'}
			height={display_size === 'only-pp-small' ? '30px' : '45px'}
		/>
		{#if checkmark}
			<div class="checkmark">
				<div class="fa fa-check"></div>
			</div>
		{/if}
		{#if !selected && warn}
			<div class="warn">
				<div class="fa fa-exclamation-triangle"></div>
			</div>
		{/if}
	</div>
	<div class="user">
		<DisplayName {status_account} show_lock={true} bold={true} />
		<div class="username">
			@{account
				? addFullHandleIfNecessary($stAccountsSameInstance, account)
				: status_account.acct}
		</div>
	</div>
</button>

<style lang="scss">
	.account {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		opacity: 0.7;
		user-select: none;

		&.selected {
			opacity: 1;
			cursor: default;

			.pp {
				.checkmark,
				.warn {
					display: block;
				}
			}
		}

		&.only-pp,
		&.only-pp-small {
			.user {
				display: none;
			}
		}

		&.only-pp-small {
			.pp {
				width: 30px;
				height: 30px;

				.checkmark {
					bottom: -1px;
					right: -1px;
					width: 15.5px;
					height: 15.5px;
					font-size: 12px;
				}

				.warn {
					bottom: -1px;
					right: -1px;
					width: 15.5px;
					height: 15.5px;
					font-size: 12px;
				}
			}
		}

		&:hover {
			opacity: 1;
		}

		.pp {
			position: relative;
			width: 45px;
			height: 45px;

			:global(img) {
				border-radius: 100%;
			}

			.checkmark,
			.warn {
				display: none;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 17.5px;
				height: 17.5px;
				color: #fff;
				border-radius: 100%;

				.fa {
					display: grid;
					justify-items: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}
			}

			.checkmark {
				background-color: rgb(var(--accent));
				font-size: 13px;
			}

			.warn {
				display: block;
				color: rgb(var(--favourite-color));
				font-size: 17px;
			}
		}

		.user {
			max-width: 100%;
			overflow: hidden;

			.username {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
</style>
