<div class="loading">
	<div />
</div>

<style lang="scss">
	@keyframes loading {
		0%,
		20% {
			left: 0;
			width: 0%;
		}
		60% {
			left: 0;
			width: 100%;
		}
		100% {
			left: 100%;
			width: 100%;
		}
	}

	.loading {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		overflow: hidden;

		div {
			position: absolute;
			height: 100%;
			background-color: rgb(var(--accent));
			animation: loading 2s ease-in-out infinite;
		}
	}
</style>
