<script lang="ts">
	import { Account, stAccountDefault } from '../../stores/Account/Accounts';
	import { stComposerOpenID } from '../../stores/Composer';
	import { ExpandedPanel, ExpandedPanelState } from '../../stores/ExpandedPanel';

	import { validateFiles } from '../../lib/FilesValidate';
	import { composerInit } from '../../lib/ComponentFunctions/composerInit';

	import type { Entity } from '../../types/mastodonEntities';

	export let instance: Entity.Instance;

	let drag: boolean = false;
	let timeout: NodeJS.Timeout;

	function onDragOver(event: DragEvent) {
		if (!!$stComposerOpenID) {
			return;
		}

		clearTimeout(timeout);
		drag = true;
		event.preventDefault();
		timeout = setTimeout(() => (drag = false), 500);
	}

	function onDragEnd(event: DragEvent) {
		drag = false;
		event.preventDefault();
	}

	function onDrop(event: DragEvent) {
		drag = false;
		event.preventDefault();

		if (!!$stComposerOpenID || !event.dataTransfer) {
			return;
		}
		// No composer is open

		const filelist = event.dataTransfer.files;
		const files = Array.from(filelist);

		if (!validateFiles(instance, files)) {
			return;
		}

		const composer = composerInit({
			account: Account.get($stAccountDefault),
			added_media: files,
		});

		ExpandedPanel.update({
			state: ExpandedPanelState.ComposerWithData,
			composer,
		});
	}
</script>

<svelte:window on:dragover={onDragOver} on:dragend={onDragEnd} on:drop={onDrop} />

{#if drag}
	<div class="drag-n-drop">
		<div class="drop">Drop to create a status</div>
	</div>
{/if}

<style lang="scss">
	.drag-n-drop {
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		justify-items: center;
		align-items: center;

		&::before {
			z-index: -2;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--gradient);
			opacity: 0.3;
		}

		.drop {
			position: relative;
			padding: 50px;
		}
	}
</style>
