<script lang="ts">
	import { onMount } from 'svelte';
	import type { ClickedEmoji, EmojiSkin } from 'emoji-mart-svelte';

	import { stEmojis } from '../../stores/Emojis';
	import { ReactionPicker, stReactionPicker } from '../../stores/ReactionPicker';

	import { createEmojiReaction } from '../../lib/ComponentFunctions/emojiReaction/emojiReaction';
	import { clamp } from '../../lib/Utils/number/clamp';

	const reaction_picker = $stReactionPicker!;

	let wait: boolean = false;

	async function emojiClick(e: ClickedEmoji) {
		if (wait) {
			return;
		}
		wait = true;

		const skin = e.skin as EmojiSkin;

		let picked: string;
		if (skin.native) {
			picked = skin.native;
		} else {
			picked = e.keywords[0];
		}

		await createEmojiReaction(reaction_picker.account, reaction_picker.status, picked);

		wait = false;
		ReactionPicker.close();
	}

	const emoji_picker = $stEmojis.get(reaction_picker.account.mirrorAPI.domain)!;
	emoji_picker.instance.setCallback({ onEmojiClick: emojiClick });
	const { Picker, Props } = emoji_picker.getPicker();

	let emoji_picker_element: HTMLDivElement;

	onMount(() => {
		let x: number = reaction_picker.position.x;
		let y: number = reaction_picker.position.y;
		let width: number = emoji_picker_element.clientWidth;
		let height: number = emoji_picker_element.clientHeight;

		if (x + width > window.innerWidth) {
			x = clamp(x - width, 60, window.innerWidth);
		}

		if (y + height > window.innerHeight) {
			y = clamp(y - height, 60, window.innerHeight);
		}

		emoji_picker_element.style.zIndex = '20';
		emoji_picker_element.style.position = 'absolute';
		emoji_picker_element.style.top = y + 'px';
		emoji_picker_element.style.left = x + 'px';
	});
</script>

<Picker
	{Props}
	bind:PickerElement={emoji_picker_element}
	onClickOutside={() => ReactionPicker.close()}
></Picker>
