<script lang="ts">
	import { rdOptionsAppearanceAnimationSpeedFactor } from '../../stores/Options';

	import {
		type CustomTransiton,
		type CustomTransitonArgs,
	} from '../../lib/Transitions/transitionOverride';

	export let in_transition: CustomTransiton | null = null;
	export let out_transition: CustomTransiton | null = null;
	export let args: CustomTransitonArgs | undefined = undefined;

	function _in(node: Element, args: any) {
		return in_transition ? in_transition(node, args) : {};
	}

	function _out(node: Element, args: any) {
		return out_transition ? out_transition(node, args) : {};
	}
</script>

{#if $rdOptionsAppearanceAnimationSpeedFactor !== 0 && (in_transition || out_transition)}
	<div in:_in|global={args} out:_out|global={args}>
		<slot />
	</div>
{:else}
	<slot />
{/if}
